{% extends "_layout.twig" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
<script>
	user_id = '{{ userpagedata.id }}';
</script>
<link href="https://unpkg.com/plyr@3.6.8/dist/plyr.css" rel="stylesheet">
{% endblock %}
{% block content %}
<style>
	.channel-header-bg {
	background: url('/assets/backgrounds/{{ userpagedata.name }}.png'), linear-gradient(#888, #444);
	background-position: center;
	height: 225px;
	}
</style>
<div class="channel-header-bg">
	<div class="grid">
		<div class="col-md-12">
			<img class="rounded img-pfp-profiles" src="{{ profile_image(userpagedata.name) }}"  alt="{{ userpagedata.name }}">
		</div>
	</div>
</div>
<div class="bg-light" style="padding: 15px 10px;">
<h1 style="margin: 0">{{ userpagedata.title }}{% if userpagedata.powerlevel > 1 %}<img class="sdsd" src="assets/icons/shield.svg" height="16" title="User is a moderator.">{% endif %}</h1>
<div class="grid">
	<div class="col-md-8">
		<p>@{{ userpagedata.name }}
		{# hack to prevent twig from outputing the number 1 #}
		{% if subCount != 1 %}
			{% set pluralSubscribers = __("s") %}
		{% endif %}
		{% if views != 1 %}
			{% set pluralViews = __("s") %}
		{% endif %}
			&bull; {{ __("%s follower%s", [subCount ?? __("no"), pluralSubscribers]) }} 
			&bull; {{ __("%s view%s", [views ?? __("no"), pluralViews]) }}
		</p>
	</div>
	<div class="col-md-4 right">
	{% if userpagedata.id == userdata.id %}
		<a class="button button-primary" href="settings.php">{{ __("Edit profile") }}</a>
	{% else %}
		<button id="subscribe" class="button button-{% if subscribed %}secondary{% else %}primary{% endif %}" type="button" {% if not log %}disabled{% endif %}>{% if subscribed %}{{ __("Unfollow") }}{% else %}{{ __("Follow") }}{% endif %}</button>
	{% endif %}
	</div>
</div>
{% if markread %}
<div class="header_message">{{ __("Marked all notifications as read.") }}</div>
{% elseif edited %}
<div class="header_message">{{ __("Settings successfully saved!") }}</div>
{% endif %}
{% if userdata.id == id and not forceuser %}
<p>{{ __("Welcome to your personal user page. Here, you can see and manage your uploaded content, customize your profile, and edit your settings.") }}</p>
<p><a href="settings.php">{{ __("Edit my settings") }}</a>
	&bull; <a href="user.php?id={{ id }}&forceuser">{{ __("View user page as viewer") }}</a>
</p>
{% if userdata.powerlevel > 2 %}
<p><a href="admin.php">{{ __("Admin panel") }}</a></p>
{% endif %}
{% else %}
<h2></h2>
<div class="user_about">
	<h3>{{ __("About this user") }}</h3>
	{{ userpagedata.about | markdown }}
	<b>{{ __("Registered on") }}</b>: {{ userpagedata.joined | date('Y-m-d H:i:s') }}
	<br><br>
	<b>{{ __("Last view") }}</b>: {{ userpagedata.lastview | relative_time }}
</div>
<p class="clear_right">
	<a href="forum/forum.php?user={{ id }}">{{ __("View threads") }}</a>
	&bull; <a href="forum/thread.php?user={{ id }}">{{ __("Show posts") }}</a>
	{% if log %}
	{% if userdata.powerlevel > 2 %}
	&bull; <a href="resetpassword.php?grf={{ id }}">{{ __("Generate password reset for user") }}</a>
	&bull; <a href="forum/editperms.php?uid={{ id }}">{{ __("Edit forum permissions") }}</a>
	{% endif %}
	{% endif %}
</p>
{% for latestVideo in latestVideos %}
{{ small_video_box(latestVideo) }}
{% else %}
<p>{{ __("There are currently no videos uploaded by %s.", [user.title]) }}</p>
{% endfor %}
{% if userdata.id == id %}
{% set forceuser = "&forceuser" %}
{% else %}
{% set forceuser = "" %}
{% endif %}
{% set le_url = 'user.php?id=' ~ id ~ '&page=%s' ~ forceuser %}
{{ pagination(level_count, glob_lpp, le_url, page) }}
{% endif %}
{% endblock %}