<article class="media">
    <figure class="media-left">
        <a href="watch.php?v={{ data.video_id }}" class="image is-16by9" style="width:16em;height:9em;">
            <img src="{{ video_thumbnail(data.video_id) }}" alt="{{ data.title }}">
        </a>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <a href="watch.php?v={{ data.video_id }}"><strong>{{ data.title }}</strong></a>
                <br><small>{{ data.time | relative_time }} by {{ userlink(data, 'u_') }} - {{ video_length(data) }}</small>
                <br>
                {{ data.description }}
            </p>
        </div>
    </div>
</article>