{% extends "_layout.twig" %}
{% block head %}
    <meta name="title" content="Qobo">
    <meta name="description" content="Unbelivable, This is not PokTube.">
    <meta property="og:site_name" content="Qobo"/>
    <meta property="og:title" content="Qobo">
    <meta property="og:description" content="Again.">
    <meta property="og:image" content="{{ domain }}assets/logo_square_icon.png">
    <meta property="og:url" content="{{ page_url }}">
{% endblock %}
{% block title %}Home{% endblock %}

	{% block precontent %}
<div class="indexNext">
    {% if theme != 'nostalgia' %}
        <div class="main-content">
            <div class="container page-container">
                {% if log %}
                    <div class="grid" style="height:inherit;display: table;">
                        <div style="display: table-cell;vertical-align: middle;width:90%;padding-right:1em;">
                            <h1 style="padding:0;margin:8px 0;font-weight:400;">{{ __("Welcome to Qobo") }}</h1>
                            {# hack to prevent twig from outputing the number 1 #}
                            {% if totalSubscribers != 1 %}
                                {% set pluralSubscribers = __("s") %}
                            {% endif %}
                            {% if totalViews != 1 %}
                                {% set pluralViews = __("s") %}
                            {% endif %}
                            <h3 style="padding:0;margin:8px 0;">@{{ userdata.name }}</h3>
                            <p style="padding:0;margin:8px 0;">{{ __("%s follower%s", [totalSubscribers ?? __("no"), pluralSubscribers]) }}
                                &bull; {{ __("%s view%s", [totalViews ?? __("no"), pluralViews]) }}</p>
                        </div>
                    </div>
                {% else %}
                    <h1>{{ __("Welcome to Qobo") }}</h1>
                    <a class="button button-primary button-large" href="login.php">{{ icon('box-arrow-in-right', 12) }} {{ __("Login") }}</a>
                    <a class="button button-primary button-large" href="register.php">{{ icon('pencil-square', 12) }} {{ __("Register") }}</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% endblock %}

    {% block content %}
    {% if updated %}
        <div class="header_message header-success">{{ __("Settings successfully saved!") }}</div>
        <br>
    {% endif %}
    <div class="grid">

        <div class="card">
            <div class="card-body-fat">
                <h3 style="margin-top:0">{{ __("Latest Videos") }}</h3>
                {% for video in videos_right %}
                    {{ small_video_box(video) }}
                {% endfor %}
            </div>
        </div>
        <div class="card">
            <div class="card-body-fat">
                <h3 style="margin-top:0">{{ __("Qobo Videos") }}</h3>
                {% for video in videos %}
                    {{ small_video_box(video) }}
                {% else %}
                    <p>{{ __("No uploaded videos.") }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock %}