{% extends "_layout.twig" %}
{% block head %}
    <meta name="title" content="{{ video.title }} - squareBracket">
    <meta name="description"
          content="{{ video.description|length > 250 ? video.description|slice(0, 250) ~ '...' : video.description }}">
    <meta property="og:site_name" content="squareBracket"/>
    <meta property="og:title" content="{{ video.title }} - squareBracket">
    <meta property="og:description"
          content="{{ video.description|length > 250 ? video.description|slice(0, 250) ~ '...' : video.description }}">
    <meta property="og:image" content="{{ domain }}{{ video_thumbnail(video.video_id) }}">
    <meta property="og:url" content="{{ page_url }}">
    <script>
        video_id = '{{ video.video_id }}';
        user_id = '{{ video.author }}';
    </script>
{% endblock %}
{% block title %}{{ video.title }}{% endblock %}
{% block content %}
    <div class="watchNext">
        <div class="grid">
            {% if postType == "video" %}
                {{ include('/components/player.twig') }}
            {% elseif postType == "artwork" %}
                <img class="img-fluid" src="{{ video.videofile }}" alt="{{ video.title }}">
            {% endif %}

            <div class="card card-body-fat" style="margin:0;border-bottom:none;padding-bottom:0;">
                <h1>{{ video.title }}</h1>
                <div class="grid">
                    <img src="{{ profile_image(video.u_name) }}" class="rounded"
                         style="width:48px;float: left;margin-right:8px;" alt="{{ video.u_name }}">
                    <a href="user.php?name={{ video.u_name }}"><b
                                style="height: 20px;display: inline-block;">{{ video.u_name }}</b></a>
                    • {{ allVideos }} {{ __("uploads") }}
                    <br>
                    {% include "components/watch_subscribe.twig" %}
                    <br>
                    <br>
                </div>
                {% if userbandata != true %}
                    <div class="grid" style="margin-top:5px">
                        <div style="margin-top:-9px;text-align: center">
                            {# js that uses action_unlogged will only work for the like button, i found out about this quirk
                        while trying to do finalium's javascript, -grkb 8/23/2022 #}
                            <button style="width:49%" href="#" id="{% if log %}like{% else %}action_unlogged{% endif %}"
                                    class="button {% if rating == 1 %}button-success{% else %}button-secondary{% endif %}">
                                {{ icon("hand-thumbs-up-fill", 20) }}
                                <span id="likes">{{ total_likes }}</span>
                            </button>
                            <button style="width:49%" href="#" id="{% if log %}dislike{% else %}action_unlogged{% endif %}"
                                    class="button {% if rating is same as(0) %}button-danger{% else %}button-secondary{% endif %}">
                                {{ icon("hand-thumbs-down-fill", 20) }}
                                <span id="dislikes">{{ total_dislikes }}</span>
                            </button>
                            <button style="width:99%" href="#" id="{% if log %}favorite{% else %}action_unlogged{% endif %}"
                                    class="button {% if isFavorited %}button-warning{% else %}button-secondary{% endif %}">
                                {{ icon("star-fill", 20) }} {{ __("Favorite") }}
                            </button>
                        </div>
                        <h3>{{ viewCount }} {{ __("views") }}</h3>
                        <div class="tab">
                            <button class="tablinks active" onclick="openTab(event, 'About')"
                                    id="defaultOpen">{{ __("About") }}</button>
                            <button class="tablinks"
                                    onclick="openTab(event, 'Stats')">{{ icon("bar-chart-fill", 12) }}</button>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="card card-body-fat">
                <div class="grid">
                    <div class="col-md-10">
                        <div id="About" class="tabcontent" style="display: block;">
                            <p><b>{{ __("Published on %s", [video.time | date('M j, Y')]) }}</b></p>
                            <p>{{ video.description }}</p>
                            <div class="description-extra">
                                <ul>
                                    <li>
                                        <h4 class="title">{{ __("Category") }}:</h4>
                                        <div class="content">{{ video.category_id | category_id_to_name() }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="Stats" class="tabcontent" style="display: none;">
                            <h2>{{ __("Statistics") }}</h2>
                            <ul style="padding:0">
                                <li>
                                    {{ __("Rating ratio") }}: {{ videoRatio }}%
                                </li>
                                <li>
                                    {{ __("Last viewed") }}: {{ recentView | relative_time }}
                                </li>
                                <li>
                                    {{ __("Favorites") }}: {{ total_favorites }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body-fat">
                    <h3>{{ __("Comments") }} ({{ comCount }})</h3>
                    {% if log and userbandata != true %}
                        <div class="grid" id="commentField">
                            <div class="col-md-4">
                                <img class="rounded img-fluid" src="{{ profile_image(userdata.name) }}" alt="{{ userdata.name }}">
                            </div>
                            <div class="col-md-12">
                                <div>
                        <textarea class="form-control" id="commentContents" style="overflow:hidden;resize:none" rows="3"
                                  placeholder="{{ __("Enter comment here.") }}"></textarea>
                                </div>
                                <div class="right">
                                    <button id="post" class="button button-primary"
                                            style="margin-bottom:0;">{{ __("Comment") }}</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div id="comment"></div>
                    {% for comment in comments %}
                        {{ comment(comment) }}
                    {% endfor %}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    {% for related_video in related_videos %}
                        {{ small_video_box(related_video) }}
                    {% endfor %}
                    <div class="center">
                        <div class="button button-secondary" onclick="showMoreVideos()" id="fromUser">
                            {{ __("More uploads") }}
                        </div>
                    </div>
                    <div class="collapsed" id="fromUserVideoList">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}