{% extends "_layout.twig" %}

{% block title %}{{ __("Active users") }}{% endblock %}

	{% block content %}
<table class="c1 autowidth">
	<tr class="h"><td class="b">{{ __("Active users during the last %s", [timeunits(time)]) }}</td></tr>
	<tr class="n1"><td class="b n1 center">
		{{ timelinks('activeusers') }}
	</td></tr>
</table><br>
<table class="c1">
	<tr class="h">
		<td class="b h" width="30">#</td>
		<td class="b h">{{ __("Username") }}</td>
		<td class="b h" width="200">{{ __("Registered on") }}</td>
		<td class="b h" width="50">{{ __("Posts") }}</td>
		<td class="b h" width="50">{{ __("Total") }}</td>
	</tr>
	{% set i = 1 %}
	{% for user in users %}
		<tr class="n{% if i % 2 %}1{% else %}2{% endif %} center">
			<td class="b">{{ i }}.</td>
			<td class="b left">{{ userlink(user) }}</td>
			<td class="b">{{ user.joined | date(forum_dateformat) }}</td>
			<td class="b"><b>{{ user.num }}</b></td>
			<td class="b"><b>{{ user.posts }}</b></td>
		</tr>
		{% set i = i + 1 %}
	{% else %}
		{{ if_empty_query(__("There are no active users in the given timespan."), 5) }}
	{% endfor %}
</table>
	{% endblock %}