<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} - squareBracket</title>
	{% block head %}{% endblock %}
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
	<link rel="manifest" href="/assets/icons/site.webmanifest">
	<link rel="shortcut icon" href="/assets/icons/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="squareBracket">
	<meta name="application-name" content="squareBracket">
	<meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffa81d">
	<meta name="msapplication-TileColor" content="#ffa81d">
	<meta name="theme-color" content="#ffa81d">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	{% if theme == 'dark' %}
		<link id="darkthm" rel="stylesheet" href="/assets/css/darkmode.css" type="text/css">
	{% endif %}
	{% if theme == 'nostalgia' %}
		<link id="nostalgia" rel="stylesheet" href="/assets/css/nostalgia.css" type="text/css">
	{% endif %}
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="/assets/common.js"></script>
	<script>
		subscribe_string = '{{ __("Follow") }}';
		unsubscribe_string = '{{ __("Unfollow") }}';
	</script>
	<style>
	{% if pfpRoundness == 'square' %}
		.rounded {
			border-radius: 0;
		}
	{% elseif pfpRoundness == 'rounded' %}
		.rounded {
			border-radius: 10%;
		}
	{% endif %}
	{% block customcss %}{% endblock %}
	</style>
</head>
<body>
<div id="guide">
	<ul>
		<li>
			<a href="/browse.php">{{ __("Browse") }}</a>
		</li>
		<li>
			<a href="/upload.php">{{ __("Upload") }}</a>
		</li>
	</ul>
</div>
{% if theme == 'nostalgia' %}
	{% include "components/nostalgia/_header.twig" %}
{% else %}
	{% include "components/_header.twig" %}
{% endif %}
	{% block precontent %}{% endblock %}
				<div class="container page-container">
					{% block content %}{% endblock %}
					</div>
	</div>
	<footer>
		<div class="footer">
			<img src="/assets/logo-wordmark-masthead{% if theme == 'dark' %}-dark{% endif %}.png">
			<p>Version {{ version }} · <b>{{ __("By the squareBracket contributors") }}</b> · 2020-{{ 'now' | date('Y') }} 
			| <b><a href="/statistics.php">{{ __("Statistics") }}</a></b>
			</p>
			<h5>{{ __("Running on commit: ") }} <a href="https://github.com/chazizgrkb/squarebracket/commit/{{ git_commit() }}">{{ git_commit() }}</a><br></h5>
			{% if isMaintenance != true %}
			<a class="button button-neutral button-small btnAdd" role="button">{{ __("Options") }}</a>
			<div id="myModal" class="bg-neutral" style="padding:0.3em;">

			</div>
			{% endif %}
		</div>
	</footer>
{% block custom_footer %}
{% endblock %}
</body>
</html>