<div id="masthead-container">
    <div id="masthead">
        <div class="grid" style="margin-bottom: 17.5px;">
            <div class="col-md-10">
                <div id="header-main">
                    <a href="/" id="logo-container"><img id="logo" src="{{ logo }}" alt="{{ website_branding.name }}"></a>
                    {% if isMaintenance != true %}
                        {% if current_theme == 'qobo' %}
                        <div class="masthead-links-container">
                            <div class="masthead-links">
                                {% for link in header_main_links() %}
                                    <a href="{{ link.url }}">{{ link.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <form id="masthead-search" action="/search">
                            {% if current_theme == 'qobo' %}
                            <button id="search-btn" class="button button-secondary">
                                <span>{{ icon("search", 16) }}</span>
                            </button>
                            <div id="masthead-search-terms">
                                <label><input type="text" name="tags" placeholder="Search..."></label>
                            </div>
                            {% else %}
                                <input type="text" class="form-control form-long uploader-form" name="tags">
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6" style="text-align: right;">
                {% if is_user_logged_in %}
                    <a href="/upload">
                        <div class="button button-neutral-invis masthead-button tooltip" title="Upload">{{ icon("upload", 20) }}</div>
                    </a>
                {% endif %}
                <div style="margin:0;{% if is_user_logged_in %}width:1.75rem{% endif %}"
                     id="{% if is_user_logged_in %}masthead-loggedin{% else %}masthead-signin{% endif %}" class="masthead-user">
                    {% if isMaintenance != true %}
                        {% if is_user_logged_in %}
                            <div style="margin-top: 4px;">
                                <img class="rounded img-fluid" src="{{ profile_picture(user_data.name) }}" alt="{{ user_data.name }}">
                                <div class="menu" id="masthead-below">
                                    <ul style="padding:0">
                                        {% for link in header_user_links() %}
                                        <li><a class="menulink" href="{{ link.url }}">{{ link.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <div style="display: flex;justify-content: center;align-items: center;gap: 5px;margin-top: 2px;">
                                <a href="/login">Login</a>
								<a href="/register">Register</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>