<div class="grid commentPost">
    <div class="col-md-3 commentAuthor">
        {{ user_link(data.author) }}
        <br>
        <span class="commentDisplayName">{{ data.author.info.displayname }}</span>
		<br>
		<span class="time">{{ data.posted | relative_time }}</span>
    </div>
    <div class="col-md-13" id="{{ data.comment_id }}">
        <div class="comment">
            {% if data.post | trim is not empty %}
                {{ data.post | markdown_user_written }}
            {% else %}
                <small>Null comment</small>
            {% endif %}
        </div>
        <br>
        <p>
            {% if data.replycount > 0 %}
                <a onclick="showReplies({{ data.id }})">Show replies</a> |
            {% endif %}
            {% if data.id|length > 0 %}
                <a onclick="reply({{ data.id }})">Reply</a>
            {% endif %}
        </p>
    </div>
</div>
