{% macro render_author(data) %}
    {% if current_theme == 'qobo' or current_theme == 'nostalgia' %}
        <div class="col-md-3 commentAuthor">
            {{ user_link(data.author) }}
            <br>
            <span class="commentDisplayName">{{ data.author.info.displayname }}</span>
            <br>
            <span class="time">{{ data.posted|relative_time }}</span>
        </div>
    {% else %}
        <div class="col-md-1">
            <a href="user.php?name={{ data.author.info.displayname }}">
                <img class="rounded img-fluid" src="{{ profile_picture(data.author.info.username) }}">
            </a>
        </div>
        <div class="col-md-11">
            {{ user_link(data.author) }} &bull; {{ data.posted|relative_time }}
            <br>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_comment(data) %}
    <div class="{% if current_theme == 'qobo' or current_theme == 'nostalgia' %}col-md-13{% else %}col-md-11{% endif %}" id="{{ data.comment_id }}">
        <div class="comment">
            {% if data.post|trim is not empty %}
                {{ data.post|markdown_user_written }}
            {% else %}
                <small>Null comment</small>
            {% endif %}
        </div>
        <br>
        <p>
            {% if data.replycount > 0 %}
                <a onclick="showReplies({{ data.id }})">Show replies</a> |
            {% endif %}
            {% if is_user_logged_in %}
            {% if data.id|length > 0 %}
                <a onclick="reply({{ data.id }})">{{ localize('reply') }}</a>
            {% endif %}
            {% endif %}
        </p>
    </div>
{% endmacro %}

{% import _self as macros %}

<div class="grid commentPost">
    {{ macros.render_author(data) }}
    {{ macros.render_comment(data) }}
</div>