<div class="grid" style="margin-bottom: 5px;display:block;">
    <div class="col-md-4 ">
        <a href="/watch?v={{ data.id }}">
            <img class="img-fluid" src="{{ thumbnail(data.id, data.type, data.bools.custom_thumbnail) }}" alt="{{ data.title }}">
        </a>
    </div>
    <div class="col-md-12 vid-info">
        <h3 class="title"><a href="/watch?v={{ data.id }}">{{ data.title }}</a></h3>
        <span class="stat">by {{ user_link(data.author) }} &bull; {{ data.views }} views</span>
    </div>
</div>