<div class="grid" style="margin-bottom: 5px;display:block;">
    <div class="col-md-3">
        <a href="/watch?v={{ data.video_id }}">
            <img class="img-fluid " src="{{ thumbnail(data.video_id) }}" alt="{{ data.title }}">
            <span class="video-time">{{ video_length(data) }}</span>
        </a>
    </div>
    <div class="col-md-13 vid-info">
        <h2 class="title"><a href="/watch?v={{ data.video_id }}">{{ data.title }}</a></h2>
        <span class="stat-larger">by {{ user_link(data, 'u_') }}</span>
        <span class="stat-larger">{{ data.views }} views</span>
        <span class="stat-larger">{{ data.time | relative_time }}</span>
    </div>
    {% if page == "studioIndex" %}
        <a class="button button-neutral" href="/public/edit?v={{ data.video_id }}">Edit</a>
    {% endif %}
</div>