<div class="masthead-container">
	<div class="masthead">
		<a href="/index"><img class="logo" src="{{ website_branding.assets_location }}/logo-wordmark.png" alt="{{ website_branding.name }}" border="0"></a>
		<div class="masthead-search">
			<form method="GET" action="search">
				<input class="masthead-input" type="text" value="" name="query" size="30" maxlength="128">
				<input class="button button-secondary" type="submit" value="Search">
			</form>
		</div>
		<div class="masthead-nav">
			<a href="/browse">Browse</a><a href="/upload">Upload</a>
		</div>
		<div class="masthead-utility">
			{% if is_user_logged_in %}
			<button id="masthead-loggedin" class="masthead-user">
				<span>{{ user_data.title }}{{ icon("caret-down", 16) }}</span>
				<div class="usermenushit" id="masthead-below">
					<ul style="padding:0">
						{% for link in navigationList %}
							<a href="{{ link.url }}">{{ link.name }}</a>
						{% endfor %}
					</ul>
				</div>
			</button>
			<a href="/logout" class="end">Log out</a>
			{% else %}
			<a href="/register" class="start">Register</a><a href="/login" class="end">Login</a>
			{% endif %}
		</div>
	</div>
</div>