<div class="grid" style="margin-bottom: 5px;display:block;">
    <div class="col-md-3">
        <a href="watch.php?v={{ data.video_id }}">
            <img class="img-fluid " src="{{ video_thumbnail(data.video_id) }}">
            <span class="video-time">{{ video_length(data) }}</span>
        </a>
    </div>
    <div class="col-md-9 vid-info">
        <h2 class="title"><a href="/watch.php?v={{ data.video_id }}">{{ data.title }}</a></h2>
        <span class="stat-larger">{{ __("by") }} {{ userlink(data, 'u_') }}</span>
        <span class="stat-larger">{{ data.views }} {{ __("views") }}</span>
        <span class="stat-larger">{{ data.time | relative_time }}</span>
    </div>
    {% if page == "studioIndex" %}
        <a class="button button-neutral" href="/studio/edit.php?v={{ data.video_id }}">Edit</a>
    {% endif %}
</div>