<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Title{% endblock %} - squareBracket</title>
    <link rel="stylesheet" href="/assets/project111/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="/assets/project111/common.js"></script>
    <script src="/vendor/npm-asset/vizuaalog--bulmajs/dist/bulma.js"></script>
</head>
<body>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/assets/project111/logo.png" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>

            <a class="navbar-item">
                Videos
            </a>

            <a class="navbar-item">
                Artwork
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Repository
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>
        {% if log %}
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button is-primary" href="/upload">
                    <span class="icon-text">
                      <span class="icon">
                        <i class="bi bi-upload"></i>
                      </span>
                      <span>Upload</span>
                    </span>
                </a>
            </div>
            <div class="navbar-item has-dropdown is-right">
                <a class="navbar-link is-arrowless">
                    <img src="{{ profile_image(userdata.name) }}" alt="{{ userdata.title }}" class="image">
                </a>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item">
                        Studio
                    </a>
                    <a class="navbar-item" href="/settings">
                        Settings
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/logout">
                        Logout
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Register</strong>
                    </a>
                    <a class="button is-light" href="/login">
                        Login
                    </a>
                </div>
            </div>
        </div>
            {% endif %}
</nav>
{% block precontent %}
{% endblock %}
{% block content %}
{% endblock %}
<footer class="footer">
    <h1 class="title">Project 111</h1>
    <p>squareBracket Version {{ version }} · Instance running on Git commit: <a
                href="https://github.com/chazizgrkb/squarebracket/commit/{{ git_commit() }}">{{ git_commit() }}</a></p>
    <p><b>By the squareBracket contributors</b> · 2020-{{ 'now' | date('Y') }} | <a
                href="/statistics.php">Statistics</a></p>
</footer>
</body>
</html>