<div class="content-entry">
    <table cellpadding="0" cellspacing="0">
        <tr valign="top">
            <td>
                <a href="/edit?v={{ submission.id }}">
                    <img src="{{ thumbnail(submission.id, submission.type, submission.bools.custom_thumbnail) }}" width="120"
                         alt="{{ submission.title }}" class="content-image thumbnail">
                </a>
            </td>
            <td>
                <div class="content-title">
                    <a href="/edit?v={{ submission.id }}">
                        {{ submission.title }}
                    </a>
                </div>
                <div class="content-description">
                    By {{ user_link(submission.author) }}, {{ submission.published | relative_time }}
                    <br>
                    {% if submission.description|trim is not empty %}
                        <span>{{ submission.description }}</span>
                    {% else %}
                        <span class="fade">No description.</span>
                    {% endif %}
                </div>
                <div>
                    <a href="/edit?v={{ submission.id }}" class="button button-secondary">Edit</a>
                    <a href="/delete?v={{ submission.id }}"
                       onclick="return confirm('Are you sure?');"
                       class="button button-danger">Delete</a>
                </div>
            </td>
        </tr>
    </table>
</div>