<div class="content-entry">
    <table cellpadding="0" cellspacing="0">
        <tr valign="top">
            <td>
                <a href="/view/{{ submission.id }}">
                    <img src="{{ thumbnail(submission.id, submission.type, submission.bools.custom_thumbnail) }}" width="120"
                         alt="{{ submission.title }}" class="content-image">
                </a>
            </td>
            <td>
                <div class="content-title">
                    <a href="/view/{{ submission.id }}">
                        {{ submission.title }}
                    </a>
                </div>
                <div class="content-description">
                    By {{ user_link(submission.author) }}, {{ submission.published | relative_time }}
                    {% if submission.published_originally and submission.original_site %}
                        <br>
                        <span title="{{ submission.published_originally | date('F j, Y, g:i a') }} on {{ submission.original_site }}">Originally uploaded {{ submission.published_originally | relative_time }}</span>
                    {% endif %}
                    <br>
                    {% if submission.description|trim is not empty %}
                        <span>{{ submission.description }}</span>
                    {% else %}
                        <span class="fade">No description.</span>
                    {% endif %}
                </div>
                <div class="icons">
                    {{ show_ratings(submission.interactions.ratings) }}
                </div>
            </td>
        </tr>
    </table>
</div>