{% if is_chaziz_sb %}
    {% if is_fulptube %}
        {% set logo = '/assets/sb_branding/fulp/logo-wordmark.png' %}
    {% else %}
        {% set logo = '/assets/sb_branding/bootstrap/logo.png' %}
    {% endif %}
{% else %}
    {% set logo = website_branding.assets_location ~ '/logo.png' %}
{% endif %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}
	<link href="/assets/css/bootstrap.css?r={{ get_css_file_date() }}" rel="stylesheet" id="bootstrap">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="/assets/common_bootstrap.js?r={{ get_css_file_date() }}"></script>
    <script>
        subscribe_string = 'Subscribe';
        unsubscribe_string = 'Unsubscribe';
    </script>
    <meta name="theme-color" content="#0065d8">
    <title>{% block title %}{% endblock %} - {{ website_branding.name }}</title>
</head>
<body>
{{ include('/components/_header_default.twig') }}
{% block precontent %}{% endblock %}
<div class="container">
    {% if session.notif_message %}
        <div class="alert alert-{{ session.notif_color }}">
            {{ session.notif_message }}
        </div>
        {{ remove_notification() }}
    {% endif %}
    {% block content %}{% endblock %}
</div>
{{ include('/components/_footer_default.twig') }}
{% block postcontent %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
