{% extends "_layout.twig" %}

{% block head %}
    <meta name="title" content="{{ submission.title }} - {{ website_branding.name }}">
    <meta name="description"
          content="{{ submission.description|length > 250 ? submission.description|slice(0, 250) ~ '...' : submission.description }}">
    <script>
        video_id = '{{ submission.id }}';
        user_id = '{{ submission.author.id }}';
        submission_int_id = '{{ submission.int_id }}';
    </script>
{% endblock %}

{% block title %}{{ submission.title }}{% endblock %}

	{% block content %}
        <div class="row">
            <div class="col-lg-9">
                {{ submission_view(submission) }}
                <div style="margin-top:5px">
                    <div class="card">
                        <div class="card-body">
                            <h4>{{ submission.title }}</h4>
                            <hr class="mt-2 mb-3"/>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-2" style="width:10%;padding-right:0">
                                            <a href="/user/{{ submission.author.info.username }}">
                                                <img class="float-start rounded-circle w-100"
                                                     src="{{ profile_picture(submission.author.info.username) }}">
                                            </a>
                                        </div>
                                        <div class="col-lg-10">
                                            {{ user_link(submission.author) }}<br>
                                            <small>Uploaded on {{ submission.published | date('M j, Y') }}
                                                {% if submission.published_originally and submission.original_site %}
                                                    <br>First uploaded on {{ submission.original_site }} on {{ submission.published_originally | date('M j, Y') }}
                                                {% elseif submission.original_site %}
                                                    <br>Originally uploaded on {{ submission.original_site }}
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 text-end">
                                    <a href="#" id="{% if is_user_logged_in %}like{% else %}action_unlogged{% endif %}"
                                       class="text-{% if submission.interactions.legacy.likes != 0 %}success{% else %}body{% endif %}"
                                       style="text-decoration: none;">
                                        {{ icon("hand-thumbs-up-fill", 20) }}
                                    </a>
                                    <span id="likes">{{ submission.interactions.legacy.likes }}</span>

                                    <a href="#" id="{% if is_user_logged_in %}dislike{% else %}action_unlogged{% endif %}"
                                       class="text-{% if total_dislikessubmission.interactions.legacy.dislikes != 0 %}danger{% else %}body{% endif %}"
                                       style="text-decoration: none;">
                                        {{ icon("hand-thumbs-down-fill", 20) }}
                                    </a>
                                    <span id="dislikes" style="padding-right: 10px">{{ submission.interactions.legacy.dislikes }}</span>

                                    <button id="subscribe" class="btn btn-{% if submission.author.following %}secondary{% else %}primary{% endif %}" type="button" {% if not is_user_logged_in or submission.is_owner %}disabled{% endif %}>{% if submission.author.following %}Unfollow{% elseif submission.is_owner %}Edit{% else %}Follow{% endif %}</button>
                                </div>
                            </div>
                            <div style="margin-top: 1rem;">
                                {% if submission.description | trim is not empty %}
                                    {{ submission.description | markdown_user_written }}
                                {% else %}
                                    <p>This submission has no description.</p>
                                {% endif %}
                            </div>
                            <hr class="mt-2 mb-3"/>
                            <div>
                                <small>
                                    Audience rating: {{ submission.rating | capitalize }}
                                </small>
                            </div>
                        </div>
                    </div>
                </div> <!-- WATCH VIDEO BOX -->
                <div class="mt-1">
                    <div class="card">
                        <div class="card-body">
                            <h5>Comments</h5>
                            <hr class="mt-2 mb-3"/>
                            <textarea class="form-control mt-2 mb-2" id="commentContents"
                                      style="overflow:hidden;resize:none"
                                      rows="3"
                                      placeholder="{% if is_user_logged_in %}{{ localize('write_comment') }}{% else %}Please sign in in order to comment.{% endif %}"></textarea>
                            {% if is_user_logged_in %}
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end"
                                     style="margin-top:5px;margin-bottom:15px">
                                <button id="{% if is_user_logged_in %}post{% endif %}"
                                        class="btn btn-primary {% if not is_user_logged_in %}disabled{% endif %}">
                                    {{ localize('post') }}
                                    <div class="spinner-border spinner-border-sm d-none" id="commentPostingSpinner"
                                         role="status" aria-hidden="true"><span
                                                class="visually-hidden">Posting...</span></div>
                                </button>
                                </div>{% endif %}
                            <div id="comment"></div>
                            {% for comment in submission.comments %}
                                {{ include('/components/comment.twig') }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                {% for submission in submission.recommended %}
                    {{ include('/components/smallvideobox.twig') }}
                {% endfor %}
            </div>
        </div>
    {% endblock %}
