{% extends "_layout.twig" %}
{% block content %}
<!-- begin page -->
<div id="baseDiv" class="date-20120118 video-info ">
   <div id="alerts"></div>
   <script>
      yt.setMsg('FLASH_UPGRADE', "\u003cdiv  class=\"yt-alert yt-alert-error yt-alert-player yt-rounded \"\u003e\u003cspan class=\"yt-alert-icon\"\u003e\u003cimg s\u0072c=\"\/\/s.ytimg.com\/yt\/img\/pixel-vfl3z5WfW.gif\" class=\"icon master-sprite\" alt=\"Alert icon\"\u003e\u003c\/span\u003e\u003cdiv  class=\"yt-alert-content\"\u003e        You need to upgrade your Adobe Flash Player to watch this video. \u003cbr\u003e \u003ca href=\"http:\/\/get.adobe.com\/flashplayer\/\"\u003eDownload it from Adobe.\u003c\/a\u003e\n\u003c\/div\u003e\u003c\/div\u003e");
      yt.setConfig({
      'PLAYER_CONFIG': {"url": "\/\/web.archive.org\/web\/20120118121554\/http:\/\/s.ytimg.com\/yt\/swf\/masthead_child-vflRMMO6_.swf", "min_version": "8.0.0", "args": {"enablejsapi": 1}, "url_v9as2": "", "params": {"bgcolor": "#FFFFFF", "allowfullscreen": "false", "allowscriptaccess": "always"}, "attrs": {"width": "1", "id": "masthead_child", "height": "1"}, "url_v8": "", "html5": false}
      });
      
      yt.flash.embed("masthead_child_div", yt.getConfig('PLAYER_CONFIG'));
   </script>
   <div class="guide-layout-container enable-fancy-subscribe-button">
      <div class="guide-container">
         <div id="guide-builder-promo">
            {% if log %}
            <div id="guide-builder-promo-buttons">
               <button href="/videos.php" type="button" class="yt-uix-button yt-uix-button-primary" onclick=";window.location.href=this.getAttribute('href');return false;" role="button"><img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="yt-uix-button-icon-add"><span class="yt-uix-button-content"> Browse videos</span></button>
            </div>
         </div>
         {% else %}
         <h2>
            Sign in to add channels to your homepage
         </h2>
         <div id="guide-builder-promo-buttons" class="signed-out">
            <a href="login.php">
            <button type="button" class=" yt-uix-button yt-uix-button-dark" role="button"><span class="yt-uix-button-content">Sign In </span></button>
            </a>
         </div>
      </div>
      {% endif %}
      <div class="guide">
         {% if log %}
         <div id="channel guide-section" class="feed-header" style="height:99px;">
            <img src="{{ profile_image(userdata.name) }}" alt="{{ userdata.name }}" style="width: 88px;height: 88px;position: relative;top: 4px;left: 4px;" class="feed-header-thumb" id="channel-thumb">
            <div class="links" style="position: relative;left: 13px;top: 7px;">
               <div style="font-size: 11px;margin-bottom: 4px;">
                  <a href="user.php?name={{ userdata.name }}" style="color:#999;">My channel <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="see-more-arrow" alt=""></a>
               </div>
               <div style="font-size: 11px;margin-bottom: 4px;">
                  <a href="my_videos.php" style="color:#999;">{{ __("Videos") }}</a>
               </div>
               <div style="font-size: 11px;margin-bottom: 4px;">
                  <a href="likes.php" style="color:#999;">{{ __("Likes") }}</a>
               </div>
               <div style="font-size: 11px;margin-bottom: 4px;">
                  <a href="history.php" style="color:#999;">{{ __("History") }}</a>
               </div>
               <div style="font-size: 11px;margin-bottom: 4px;">
                  <a href="quicklist.php" style="color:#999;">{{ __("Watch Later") }}</a>
               </div>
            </div>
         </div>
         {% endif %}
         <div class="guide-section yt-uix-expander first">
            <h3 class="guide-item-container  selected-child">
               <a class="guide-item  selected" data-feed-name="youtube" data-feed-type="system">
               <span class="thumb">
               <img src="//web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="" class="system-icon category">
               </span>
               <span class="display-name">
               From cheeseRox
               </span>
               </a>
            </h3>
            <ul>
               <li class="guide-item-container ">
                  <a class="guide-item " data-feed-name="trending" data-feed-type="system">
                  <span class="thumb">
                  <img class="system-icon system trending" src="//web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                  </span>
                  <span class="display-name">
                  Trending
                  </span>
                  </a>
               </li>
               <li class="guide-item-container ">
                  <a class="guide-item " data-feed-name="popular" data-feed-type="system">
                  <span class="thumb">
                  <img class="system-icon system popular" src="//web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                  </span>
                  <span class="display-name">
                  Popular
                  </span>
                  </a>
               </li>
               <li class="guide-item-container ">
                  <a class="guide-item " data-feed-name="music" data-feed-type="system">
                  <span class="thumb">
                  <img class="system-icon system music" src="//web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                  </span>
                  <span class="display-name">
                  Music
                  </span>
                  </a>
               </li>
               <li class="guide-item-container ">
                  <a class="guide-item " data-feed-name="entertainment" data-feed-type="chart">
                  <span class="thumb">
                  <img class="system-icon chart entertainment" src="//web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                  </span>
                  <span class="display-name">
                  Entertainment
                  </span>
                  </a>
               </li>
               <li class="guide-item-container hideable">
                  <a class="guide-item " data-feed-name="news" data-feed-type="chart">
                  <span class="thumb">
                  <img class="system-icon chart news" src="//web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                  </span>
                  <span class="display-name">
                  News &amp; Updates
                  </span>
                  </a>
               </li>
               <li class="guide-item-container hideable">
                  <a class="guide-item " data-feed-name="comedy" data-feed-type="chart">
                  <span class="thumb">
                  <img class="system-icon chart comedy" src="//web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                  </span>
                  <span class="display-name">
                  Shitposting &amp; Comedy
                  </span>
                  </a>
               </li>
               <li class="guide-item-container hideable">
                  <a class="guide-item " data-feed-name="science" data-feed-type="chart">
                  <span class="thumb">
                  <img class="system-icon chart science" src="//web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                  </span>
                  <span class="display-name">
                  Science &amp; Technology
                  </span>
                  </a>
               </li>
               <li class="guide-item-container hideable">
                  <a class="guide-item " data-feed-name="gadgets" data-feed-type="chart">
                  <span class="thumb">
                  <img class="system-icon chart gadgets" src="//web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                  </span>
                  <span class="display-name">
                  Gaming
                  </span>
                  </a>
               </li>
               <li class="guide-item-container hideable">
                  <a class="guide-item " data-feed-name="people" data-feed-type="chart">
                  <span class="thumb">
                  <img class="system-icon chart people" src="//web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                  </span>
                  <span class="display-name">
                  Life
                  </span>
                  </a>
               </li>
               <li class="guide-item-container hideable">
                  <a class="guide-item " data-feed-name="education" data-feed-type="chart">
                  <span class="thumb">
                  <img class="system-icon system education" src="//web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                  </span>
                  <span class="display-name">
                  Archive Dump
                  </span>
                  </a>
               </li>
            </ul>
            <div class="guide-item-container">
               <span class="guide-item guide-item-action guide-item-fake">
               <a href="/web/20120118121554/http://www.youtube.com/videos?feature=hp">see all<img src="//web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="see-more-arrow" alt=""></a>        </span>
            </div>
         </div>
      </div>
      <script>
         if (window.yt.timing) {
           yt.timing.tick('homenav');
         }
      </script>
   </div>
   <div class="guide-background"></div>
   <div id="video-sidebar">
      <div id="pyv-placeholder"></div>
      <h3 class="sidebar-module-header">
         {{ __("Spotlight") }}
      </h3>
      <h2>It's CheeseRox 2012</h2>
      <p class="sidebar-module-description">
         Enjoy some recommended videos selected for you by our nonexistant recommendation algorythmn.
      </p>
      <p class="sidebar-module-description">
         Presented by: The cheeseRox contributors
      </p>
      <ul>
      </ul>
      <h3>
         Featured
      </h3>
      <ul>
         {% for video in featuredVideos %}
         <li class="video-list-item "><a href="/watch?v={{video.video_id}}" class="video-list-item-link yt-uix-sessionlink" data-sessionlink="ei=CNLr3rbS3rICFSwSIQodSW397Q%3D%3D&amp;feature=g-sptl%26cid%3Dinp-hs-ytg"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="{{ video_thumbnail(video.video_id) }}" alt="{{ video.title }}" data-thumb="{{ video_thumbnail(video.video_id) }}" width="120" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span><span class="video-time">{{ video.videolength|date('i:s', '+00:00 GMT')  }}</span>
            <button onclick=";return false;" title="Watch Later" type="button" class="addto-button video-actions addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="{{ video.video_id }}" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
            </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt=""></button>
            </span><span dir="ltr" class="title" title="{{ video.title }}">{{ video.title }}</span><span class="stat">by <span class="yt-user-name " dir="ltr">{{ video.u_name }}</span></span><span class="stat view-count">  <span class="viewcount">{{ video.views }} views</span>
            </span></a>
         </li>
         {% else %}
         <p>{{ __("No featured videos.") }}</p>
         {% endfor %}
      </ul>
      <script>
         if (window.yt.timing) {
           yt.timing.tick('homesidebar');
         }
      </script>
   </div>
   <div id="feed">
      <div id="feed-main-youtube" class="individual-feed" data-loaded="true" data-feed-name="youtube" data-feed-type="main">
         <div class="feed-header no-metadata before-feed-content">
            <div class="feed-header-thumb">
               <img class="feed-header-icon youtube" src="//web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
            </div>
            <div class="feed-header-details">
               <h2>
                  From cheeseRox
               </h2>
            </div>
         </div>
         <div class="feed-container" data-paging="" data-filter-type="" data-view-type="">
            <div class="feed-page">
               <ul>
                  {% for video in videos %}
                  <div class="feed-item-container first " data-channel-key="UCR2A9ZNliJfgC66IvIpe-Zw">
                     <div class="feed-author-bubble-container">
                        <a href="/user/{{ video.u_name }}" class="feed-author-bubble   ">  <span class="feed-item-author">
                        <span class="video-thumb ux-thumb yt-thumb-square-28 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="{{ profile_image(video.u_name) }}" alt="{{ video.u_name }}" data-thumb="{{ profile_image(video.u_name) }}" width="28" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span>
                        </span>
                        </a>  
                     </div>
                     <div class="feed-item-main">
                        <div class="feed-item-header">
                           <span class="feed-item-actions-line ">
                           <span class="feed-item-owner">    <a href="/user/{{ video.u_name }}" class="yt-uix-sessionlink yt-user-name " data-sessionlink="feature=g-logo-xit" dir="ltr">{{ video.u_name }}</a>
                           </span>
                           uploaded a video
                           <span class="feed-item-time">
                           {{ video.time | relative_time }}
                           </span>
                           </span>
                        </div>
                        <div class="feed-item-content-wrapper clearfix">
                           <div class="feed-item-thumb">
                              <a class="ux-thumb-wrap contains-addto  yt-uix-contextlink yt-uix-sessionlink" data-sessionlink="ei=CNLr3rbS3rICFSwSIQodSW397Q%3D%3D&amp;context=G266dc06FOAAAAAAAAAA" href="/watch?v={{ video.video_id }}">
                              <span class="video-thumb ux-thumb yt-thumb-default-185 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="{{ video_thumbnail(video.video_id) }}" alt="Thumbnail" data-thumb="{{ video_thumbnail(video.video_id) }}" width="185" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span>
                              <span class="video-time">{{ video.videolength|date('i:s', '+00:00 GMT')  }}</span>
                              <button onclick=";return false;" title="Watch Later" type="button" class="addto-button video-actions addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="rLHU-_OhT8g" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
                              </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt=""></button>
                              </a>
                           </div>
                           <div class="feed-item-content">
                              <h4>
                                 <a class="feed-video-title title yt-uix-contextlink  yt-uix-sessionlink  secondary" href="/watch?v={{ video.video_id }}" data-sessionlink="ei=CNLr3rbS3rICFSwSIQodSW397Q%3D%3D&amp;feature=g-logo-xit&amp;context=G266dc06FOAAAAAAAAAA">
                                 {{ video.title }}
                                 </a>
                              </h4>
                              <div class="metadata">
                                 <a href="/user/{{ video.u_name }}" class="yt-user-photo ">
                                 <span class="video-thumb ux-thumb yt-thumb-square-18 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="{{ profile_image(video.u_name) }}" alt="{{ video.u_name }}" data-thumb="{{ profile_image(video.u_name) }}" width="18" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span>
                                 </a>
                                 <a href="/user/{{ video.u_name }}" class="yt-uix-sessionlink yt-user-name " data-sessionlink="ei=CNLr3rbS3rICFSwSIQodSW397Q%3D%3D&amp;feature=g-logo-xit" dir="ltr">{{ video.u_name }}</a>
                                 <span class="bull">•</span>
                                 <span class="view-count">
                                 {{ video.views }} views
                                 </span>
                                 <div class="description">
                                    <p></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  <p class="metadata">
               </ul>
            </div>
         </div>
      </div>
      <div id="feed-error" class="individual-feed hid">
         <p class="feed-message">
            {{ __("We were unable to complete the request, please try again later.") }}
         </p>
      </div>
      <div id="feed-loading-template" class="hid">
         <div class="feed-message">
            <p class="loading-spinner">
               <img src="//web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
               {{ __("Loading...") }}
            </p>
         </div>
      </div>
      <script>
         if (window.yt.timing) {
           yt.timing.tick('homefeed');
         }
      </script>
   </div>
   <div id="feed-background"></div>
</div>
<div class="clear"></div>
{% endblock %}