{% extends "_layout.twig" %}

{% block title %}{{ err_message }}{% endblock %}

	{% block content %}
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-8">
						<h1>{{ err_code }}</h1>
						<p>{{ err_message }}</p>
					</div>
					<div class="col-md-8 text-right">
						<img src="{{ website_branding.assets_location }}/logo.png" alt="{{ website_branding.name }}" style="max-width:150px;">
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
