<!DOCTYPE html>
<html lang="{{ __("en-US") }}">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} - {{ website_branding.name }}</title>
	{% block head %}{% endblock %}
	<link rel="manifest" href="{{ website_branding.assets_location }}/icons/site.webmanifest">
	<link rel="shortcut icon" href="{{ website_branding.assets_location }}/icons/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ website_branding.assets_location }}/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ website_branding.assets_location }}/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ website_branding.assets_location }}/icons/favicon-16x16.png">
	<meta name="apple-mobile-web-app-title" content="{{ website_branding.name }}">
	<meta name="application-name" content="{{ website_branding.name }}">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
	<link rel="preconnect" href="https://rsms.me/">
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	<link rel="stylesheet" href="/finalium/css/finalium.css" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	<script src="/assets/common.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block script %}{% endblock %}
	<script>
		subscribe_string = '{{ __("Follow") }}';
		unsubscribe_string = '{{ __("Unfollow") }}';
	</script>
	{% block customcss %}{% endblock %}
	</style>
</head>
<body class="with-fixed-top-navbar">
{% include "components/_header_bs3.twig" %}
{% block precontent %}{% endblock %}
<div class="container page-container">
	<div class="alert alert-info">
		This page has not been migrated onto the new backend. Stuff may not fully funtion.
	</div>
	{% if userbandata %}
		<div class="alert alert-danger">
			<h1>{{ __("Sorry %s, you are banned from %s.", [userdata.name, website_branding.name]) }}</h1>
			<p><strong>{{ userbandata.reason | markdown }}</strong><br>{{ __("This ban is not set to expire.") }}</p>
			{# do we really need ban durations? #}
		</div>
	{% endif %}
	{% block content %}{% endblock %}
</div>
<footer>
	<div class="footer">
		<div class="container">
			<img src="{{ website_branding.assets_location }}/logo-wordmark{% if theme == 'dark' %}-dark{% endif %}.png" alt="{{ website_branding.name }}" class="logo">
			<p><strong>{{ __("© openSB contributors") }}</strong> · 2021-{{ 'now' | date('Y') }}
				| <strong><a href="/statistics">{{ __("Statistics") }}</a></strong>
				| <strong><a href="/privacy">{{ __("Privacy Policy") }}</a></strong>
			</p>
			<h5>{{ __("Running build %s (Git commit %s)", [version, git_commit()]) }}</h5>
			{% if isDebug %}
				<p>{{ __("User agent") }}: {{ user_agent }}</p>
				<p>{{ __("Current browser") }}: {% if browser_info.name is empty %}{{ __("Unknown browser") }}{% else %}{{ browser_info.name }}{% endif %}</p>
			{% endif %}
			{% if isMaintenance != true %}
				<a class="btn btn-default btn-sm options-button" role="button">{{ __("Options") }}</a>
				{% if isDebug %}
					<a class="btn btn-danger btn-sm debug-button" title="Spicy!" role="button">{{ __("Debug") }}</a>
				{% endif %}
				<div id="optionsModal" style="padding:0.3em;">
				</div>
				{% if isDebug %}
					<div id="debugModal" style="padding:0.3em;">
						<h3>{{ __("Debugging info") }}</h3>
						<p><pre>{{ dump() }}</pre></p>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>
</footer>
</body>
</html>