<!DOCTYPE html>
<html lang="{{ __("en-US") }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - {{ website_branding.name }}</title>
    {% block head %}{% endblock %}
    <link rel="manifest" href="{{ website_branding.assets_location }}/icons/site.webmanifest">
    <link rel="shortcut icon" href="{{ website_branding.assets_location }}/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ website_branding.assets_location }}/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ website_branding.assets_location }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ website_branding.assets_location }}/icons/favicon-16x16.png">
    <meta name="apple-mobile-web-app-title" content="{{ website_branding.name }}">
    <meta name="application-name" content="{{ website_branding.name }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    {% if theme == 'dark' %}
        <link id="darkthm" rel="stylesheet" href="/assets/css/darkmode.css" type="text/css">
    {% elseif theme == 'nostalgia' %}
        <link id="nostalgia" rel="stylesheet" href="/assets/css/nostalgia.css" type="text/css">
    {% elseif website_branding.css_override != false %}
		<link rel="stylesheet" href="{{ website_branding.css_override }}" type="text/css">
	{% endif %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.js"></script>
	<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.css" rel="stylesheet">
    <script src="/assets/common.js"></script>
	{% block script %}{% endblock %}
    <script>
        subscribe_string = '{{ __("Follow") }}';
        unsubscribe_string = '{{ __("Unfollow") }}';
    </script>
    <style>
        {% if pfpRoundness == 'square' %}
        .rounded {
            border-radius: 0;
        }

        {% elseif pfpRoundness == 'rounded' %}
        .rounded {
            border-radius: 10%;
        }

        {% endif %}
        {% block customcss %}{% endblock %}
    </style>
</head>
<body>
{% if theme == 'nostalgia' %}
	{% include "components/nostalgia/_header.twig" %}
{% else %}
	{% include "components/_header.twig" %}
{% endif %}
{% block precontent %}{% endblock %}
<div class="container">
	{% if userbandata %}
		<div class="header_message header-danger">
			<h1>{{ __("Sorry %s, you are banned from %s.", [userdata.name, website_branding.name]) }}</h1>
			<p><strong>{{ userbandata.reason | markdown }}</strong><br>{{ __("This ban is not set to expire.") }}</p>
			{# do we really need ban durations? #}
		</div>
	{% endif %}
	{% block content %}{% endblock %}
</div>
<footer>
	<div class="footer">
		<img src="{{ website_branding.assets_location }}/logo-wordmark{% if theme == 'dark' %}-dark{% endif %}.png" alt="{{ website_branding.name }}">
		<p><strong>{{ __("© openSB contributors") }}</strong> · 2021-{{ 'now' | date('Y') }}
			| <strong><a href="/statistics.php">{{ __("Statistics") }}</a></strong>
		</p>
		<h5>{{ __("Running build %s (Git commit %s)", [version, git_commit()]) }}</h5>
		{% if isDebug %}
		<p>{{ __("User agent") }}: {{ user_agent }}</p>
		<p>{{ __("Browser being used") }}: {% if browser_info.name is empty %}{{ __("Unknown browser") }}{% else %}{{ browser_info.name }}{% endif %}</p>
		{% endif %}
		{% if isMaintenance != true %}
			<a class="button button-neutral button-small options-button" role="button">{{ __("Options") }}</a>
			{% if isDebug %}
			<a class="button button-danger button-small debug-button tooltip" title="Spicy shit!" role="button">{{ __("Debug") }}</a>
			{% endif %}
			<div id="optionsModal" class="bg-neutral" style="padding:0.3em;">

			</div>
			{% if isDebug %}
			<div id="debugModal" class="bg-neutral" style="padding:0.3em;">
				<h3>Debug info</h3>
				<div class="header_message header-danger">{{ __("It is risky to screenshot this due to security reasons, so please don't.") }}</div>
				<p><pre>{{ dump() }}</pre></p>
			</div>
			{% endif %}
		{% endif %}
	</div>
</footer>
</body>
</html>