{% extends "_layout.twig" %}

{% block title %}{{ __("Admin panel") }}{% endblock %}

	{% block content %}
		<h1>{{ __("Admin panel") }}</h1>
		<p>{{ __("Currently running openSB build %s (commit %s) on %s.", [version, git_commit(), operating_system()]) }}</p>

		<table class="table table-bordered table-striped">
			<caption>{{ __("Last registered") }}</caption>
			<tr class="h">
				<th class="b">{{ __("Username") }}</th>
				<th class="b">{{ __("Date") }}</th>
				<th class="b">{{ __("Relative time") }}</th>
			</tr>
			{% for user in latest_registered_users %}
				<tr>
					<td class="b"><a href="user.php?name={{ user.name }}">{{ user.name }}</a></td>
					<td class="b">{{ user.joined | date() }}</td>
					<td class="b">{{ user.joined | relative_time }}</td>
				</tr>
			{% endfor %}
		</table>

		<table class="table table-bordered table-striped">
			<caption>{{ __("Last signed in") }}</caption>
			<tr class="h">
				<th class="b">{{ __("Username") }}</th>
				<th class="b">{{ __("Date") }}</th>
				<th class="b">{{ __("Relative time") }}</th>
			</tr>
			{% for user in latest_seen_users %}
				<tr>
					<td class="b"><a href="user.php?name={{ user.name }}">{{ user.name }}</a></td>
					<td class="b">{{ user.lastview | date() }}</td>
					<td class="b">{{ user.lastview | relative_time }}</td>
				</tr>
			{% endfor %}
		</table>

		<table class="table table-bordered table-striped">
			<caption>{{ __("Latest submissions") }}</caption>
			<tr class="h">
				<th class="b" colspan="2">{{ __("Latest submissions") }}</th>
			</tr>
			{% for video in videos %}
				<tr>
					<td class="b"><a href="watch.php?v={{ video.video_id }}" style="overflow:hidden;white-space:nowrap;text-overflow: ellipsis;">{{ video.title }}</td>
					<td class="b">{{ video.time | relative_time }}</td>
				</tr>
			{% endfor %}
		</table>

		<table style="width: 100%;">
			<caption>{{ __("More detailed statistics") }}</caption>
			<tr class="h">
				{% for thing in things_to_count %}
					<th class="b h" width=100>{{ thing | title }}</td>
				{% endfor %}
			</tr>
			<tr>
				{% for thing in things_to_count %}
					<td class="b">{{ count[thing] }}</td>
				{% endfor %}
			</tr>
		</table>

		<h3>{{ __("All comments") }}</h3>
		{% for comment in comments %}
			<div class="row">
				<div class="col-md-12" id="{{ comment.comment_id }}">
					{{ userlink(comment, 'u_') }} &bull; {{ comment.date | relative_time }}
					<br>
					<div class="comment">
						{{ comment.comment | markdown }}
					</div>
					<br>
					<p>
						<a>{{ __("Delete") }}</a>
					</p>
				</div>
			</div>
		{% endfor %}
	{% endblock %}
