{% extends "_layout_chaziz.twig" %}

{% block title %}{{ __("Login") }}{% endblock %}

	{% block content %}
        {% if error %}
            <div class="header_message header-danger" role="alert">{{ error }}</div>
        {% elseif resetted %}
            <div class="header_message header-success"
                 role="alert">{{ __("Password successfully reset! Please login with your new password.") }}</div>
        {% elseif new_pass %}
            <div class="header_message header-success"
                 role="alert">{{ __("Password successfully reset! Please login with your new password.") }}</div>
        {% elseif new_token %}
            <div class="header_message header-success"
                 role="alert">{{ __("You have been successfully logged out of all devices.") }}</div>
        {% endif %}

        <div class="grid chazizPage">
            <form method="post" name="loginForm" id="loginForm" action="login.php" class="form-signin">
                <h2 class="form-signin-heading">{{ __("Login") }}</h2>
                <input type="text" name="username" class="input-block-level" placeholder="{{ __("Username") }}">
                <input type="password" name="password" class="input-block-level" placeholder="{{ __("Password") }}">
                <br>
                <input class="button button-large button-primary" type="submit" value="{{ __("Login") }}"
                       name="loginsubmit">
                <br>
				<p>{{ __("Don't have an account?") }} <a href="./register.php">{{ __("Register") }}</a>
            </form>
			<p class="text-light center">{{ __("If you have registered an account on PokTube or squareBracket, that account still exists on Qobo.") }}</p>
        </div>
    {% endblock %}
