<h1>{{ __("Options") }}</h1>
<form action="customizer.php" method="post">
    <label for="language">{{ __("Language") }}</label>
    <select class="form-select" name="language">
        {% for code,name in glob_languages %}
            {% if name %}
                <option value="{{ code }}"
                        {% if code==userdata.language %}selected{% endif %}>{{ name }}</option>{% endif %}
        {% endfor %}
    </select>
    <input type="hidden" name="othermagic" value="the-previous-string-was-unfunny">
    <div class="text-right">
        <input class="btn btn-primary" type="submit" name="action" value="{{ __("Save Changes") }}">
    </div>
</form>