{% extends "_layout.twig" %}

{% block title %}{{ __("Register") }}{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        <br>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" name="loginForm" id="loginForm" action="register.php" class="form-signin">
                <div class="form-group">
                    <label for="email">{{ __("Email address") }}</label>
                    <input type="email" name="email" class="form-control" placeholder="{{ __("Email") }}">
                </div>

                <div class="form-group">
                    <label for="email">{{ __("Username") }}</label>
                    <input type="text" name="username" class="form-control" placeholder="{{ __("Username") }}">
                </div>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" class="form-control" placeholder="{{ __("Email") }}">
                </div>

                <div class="form-group">
                    <label for="pass1">{{ __("Credentials") }}</label>
                    <input type="password" name="pass1" class="form-control" placeholder="{{ __("Password") }}">
                    <input type="password" name="pass2" class="form-control" placeholder="{{ __("Confirm Password") }}">
                </div>

                <input class="btn btn-lg btn-primary" type="submit" value="{{ __("Register") }}"
                       name="registersubmit">
            </form>
        </div>
    </div>
{% endblock %}
