{% extends "_layout.twig" %}
{% block title %}{{ __("Settings") }}{% endblock %}

	{% block content %}
    {% if error %}
        <div class="header_message header-danger" role="alert">{{ error }}</div>
    {% endif %}
<form action="settings.php" method="post" enctype="multipart/form-data">
	<table class="settings">
		<caption><h3>{{ __("Your account") }}</h3></caption>
		<tr>
			<th>{{ __("Option") }}</th>
			<th>{{ __("Value") }}</th>
		</tr>
		<tr>
			<td class="a">{{ __("Username") }}</td>
			<td class="b">{{ userdata.name }}</td>
		</tr>
		<tr>
		<td class="a">{{ __("Email address") }}
			<abbr title="Emails are stored hashed and cannot be retrieved outside of providing the email during password resets.">(?)</abbr></td>
			<td class="b"></td>
		</tr>
		<tr>
			<td class="a">{{ __("Password") }}</td>
			<td class="b">
				<input type="password" name="current_pass" size="30" maxlength="256"
					   placeholder="{{ __("Current password") }}"><br>
				<input type="password" name="pass" size="30" maxlength="256" placeholder="{{ __("New password") }}"><br>
				<input type="password" name="pass2" size="30" maxlength="256"
					   placeholder="{{ __("Confirm new password") }}">
			</td>
		</tr>
		<tr>
			<td class="a"></td>
			<td class="b"><a href="/userexport" class="spf-link">{{ __("Export your user data") }}</a></td>
		</tr>
	</table>

	{% if userbandata != true %}
		<table class="settings">
			<caption><h3>{{ __("Your profile") }}</h3></caption>
			<tr>
				<th>{{ __("Option") }}</th>
				<th>{{ __("Value") }}</th>
			</tr>
			<tr>
				<td class="a">{{ __("Profile picture") }}</td>
				<td class="b">
					<input class="form-control" type="file" name="profilePicture" id="profilePicture">
				</td>
			</tr>
			<tr>
				<td class="a">{{ __("Display name") }}</td>
				<td class="b"><input type="text" name="title" size="45" maxlength="50" value="{{ userdata.title }}"></td>
			</tr>
			<tr>
				<td class="a">
					{{ __("Description") }}
					<br><em>{{ __("Markdown is allowed.") }}</em>
				</td>
				<td class="b"><textarea name="about" rows="5" cols="80" wrap="virtual">{{ userdata.about }}</textarea></td>
			</tr>
			<tr>
				<td class="a">{{ __("Username color") }}</td>
				<td class="b"><input name="customcolor" type="color"
									 value="{{ userdata.customcolor | default('523bb8') }}"></td>
			</tr>
		</table>
	{% else %}
		<p>{{ __("Profile options are not available to users who are currently banned.") }}</p>
	{% endif %}

	<!-- <h3>{{ __("Miscellaneous") }}</h3>
	<table class="settings">
	</table> -->

	<input type="hidden" name="magic" value="opensb_settings_save">
	<div class="right">
		<input class="button button-primary" type="submit" name="action" value="{{ __("Save Changes") }}">
	</div>
	{% endblock %}
