{% extends "_layout.twig" %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.4.6/jscolor.min.js"></script>
{% endblock %}
{% block title %}{{ __("Settings") }}{% endblock %}

	{% block content %}
<!-- <div class="right">
	<form action="settings.php" method="post" enctype="multipart/form-data">
		<input type="hidden" name="reset_token" id="floatingCurrentPass" value="resetToken">
		<button class="button button-danger" type="submit" name="updatesettings" class="btn btn-primary">{{ __("Log out from all devices") }}</button>
	</form>
</div> -->
<form action="settings.php" method="post">
    <h3>{{ __("Credentials") }}</h3>
    <table class="settings">
        <tr>
            <td class="a">{{ __("Username") }}</td>
            <td class="b">{{ userdata.name }}</td>
        </tr>
        <tr>
            <td class="a">{{ __("Email") }}</td>
            <td class="b">{{ userdata.email }}</td>
        </tr>
        <tr>
            <td class="a">{{ __("Change Password") }}</td>
            <td class="b">
                <input type="password" name="current_pass" size="30" maxlength="256"
                       placeholder="{{ __("Current Password (For verification)") }}"><br>
                <input type="password" name="pass" size="30" maxlength="256" placeholder="{{ __("New Password") }}"><br>
                <input type="password" name="pass2" size="30" maxlength="256"
                       placeholder="{{ __("Repeat new Password") }}">
            </td>
        </tr>
    </table>

    <h3>{{ __("Profile") }}</h3>
    <table class="settings">
        <tr>
            <td class="a">{{ __("Profile picture") }}</td>
            <td class="b">
                <input class="form-control" type="file" name="profilePicture" id="profilePicture">
            </td>
        </tr>
        <tr>
            <td class="a">{{ __("Display name") }}</td>
            <td class="b"><input type="text" name="title" size="45" maxlength="256" value="{{ userdata.title }}"></td>
        </tr>
        <tr>
            <td class="a">
                {{ __("Description") }}
                <br><em>{{ __("Markdown allowed.") }}</em>
            </td>
            <td class="b"><textarea name="about" rows="5" cols="80" wrap="virtual">{{ userdata.about }}</textarea></td>
        </tr>
        <tr>
            <td class="a">{{ __("Username color") }}</td>
            <td class="b"><input name="customcolor" data-jscolor=""
                                 value="{{ userdata.customcolor | default('523bb8') }}"></td>
        </tr>
    </table>
	
	<h3>{{ __("Miscellaneous") }}</h3>
    <table class="settings">
        <tr>
            <td class="a">{{ __("Sounds") }}</td>
            <td class="b">
				<input type="checkbox" id="enableSounds" name="enableSounds" value="true">
				<label for="enableSounds"> {{ __("Enable sounds") }}</label><br>
            </td>
        </tr>
    </table>
	
    <input type="hidden" name="magic" value="squarebracket_settings_save">
    <div class="right">
        <input class="button button-primary" type="submit" name="action" value="{{ __("Save Changes") }}">
    </div>
    {% endblock %}
