{% extends "_layout.twig" %}

{% block title %}{{ __("Statistics") }}{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>{% endblock %}

	{% block content %}
        <div class="card">
            <div class="card-body">
                <div style="padding:5px;">
                    <h1>{{ __("About %s", [ website_branding.name ]) }}</h1>
                    <p>{{ __("Some statistics may not be accurate.") }}</p>
                </div>
                <div class="grid">
                    <div class="col-md-4">
                        <div class="statbox">
                            <div class="stat-title">{{ __("Registered users") }}</div>
                            {{ stats.usercount }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="statbox">
                            <div class="stat-title">{{ __("Uploads") }}</div>
                            {{ stats.videocount }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="statbox">
                            <div class="stat-title">{{ __("Views") }}</div>
                            {{ stats.viewcount }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="statbox">
                            <div class="stat-title">{{ __("Comments") }}</div>
                            {{ stats.commentcount }}
                        </div>
                    </div>
                </div>

				{% if browser_info.legacy_disable_graph == false %}
                <h2>{{ __("Graph") }}</h2>
                <canvas id="myChart"></canvas>
				{% endif %}

            </div>
        </div>
		
		{% if browser_info.legacy_disable_graph == false %}
        <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Uploads',
                        data: [
                            {% for graph in video_graph_data %}
                            {
                                x: "{{ graph.time }}",
                                y: {{ graph.runningTotal }},
                            },
                            {% endfor %}
                        ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    },
                        {
                            label: 'Users',
                            data: [
                                {% for graph in user_graph_data %}
                                {
                                    x: "{{ graph.joined }}",
                                    y: {{ graph.runningTotal }},
                                },
                                {% endfor %}
                            ],
                            backgroundColor: [
                                'rgba(37, 150, 190, 0.2)',
                            ],
                            borderColor: [
                                'rgba(37, 150, 190, 1.0)',
                            ],
                            borderWidth: 1
                        },
                    ]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        },
                        x: {
                            type: 'time',
                            min: '2021-01-30 00:00:00',
                        }
                    }
                }
            });
        </script>
		{% endif %}
    {% endblock %}
