{% extends "_layout.twig" %}

{% block title %}{{ __("Statistics") }}{% endblock %}

	{% block content %}
        <div class="card">
            <div class="card-body">
                <div style="padding:5px;">
                    <h2>{{ __("About this instance of Qobo") }}</h2>
                    <p>{{ __("View count may not be accurate due to deleted uploads.") }}</p>
                </div>
                <div class="grid">
                    <div class="col-md-4">
                        <div class="statbox">
                            <div class="stat-title">{{ __("Registered users") }}</div>
                            {{ stats.usercount }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="statbox">
                            <div class="stat-title">{{ __("Uploads") }}</div>
                            {{ stats.videocount }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="statbox">
                            <div class="stat-title">{{ __("Views") }}</div>
                            {{ stats.viewcount }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="statbox">
                            <div class="stat-title">{{ __("Comments") }}</div>
                            {{ stats.commentcount }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
