{% extends "_layout.twig" %}

{% block title %}{{ __("Statistics") }}{% endblock %}
	{% block content %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="page-header">
                    <h1>{{ __("About %s", [ website_branding.name ]) }}</h1>
                </div>
                <div class="alert alert-info">{{ __("Please note that some statistics may not be accurate due to deleted submissions or leftover data in the database.") }}</div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <div class="stat-title">{{ __("Registered users") }}</div>
                                {{ stats.usercount }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <div class="stat-title">{{ __("Submissions") }}</div>
                                {{ stats.videocount }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <div class="stat-title">{{ __("Views") }}</div>
                                {{ stats.viewcount }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <div class="stat-title">{{ __("Comments") }}</div>
                                {{ stats.commentcount }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}