{% extends "_layout.twig" %}

{% block title %}{{ __("Upload") }}{% endblock %}

	{% block content %}
        <form name="uploadForm" id="uploadForm" method="post" action="upload.php" enctype="multipart/form-data">
            <div class="card">
                <div class="card-body-fat">
                    <h2 style="margin-bottom: 0.5em;">{{ __("Upload info") }}</h2>
                    <p>{{ __("Enter the title and description of your upload.") }}</p>
                    <h4 style="margin-bottom: 0.5em;">{{ __(" Title") }}</h4>
                    <input type="text" class="form-control form-long uploader-form" id="title" name="title">
                    <br>
                    <h4 style="margin-bottom: 0.5em;">{{ __(" Description") }}</h4>
                    <textarea class="form-control form-long uploader-form" name="desc" maxlength="2000"
                              form="uploadForm"
                              style="overflow:hidden;resize:none" rows="3"></textarea>
                    <br>
                    <h4 style="margin-bottom: 0.5em;">{{ __(" Tags") }}</h4>
                    <input type="text" class="form-control form-long uploader-form" name="tags">
                    <h2 style="margin-bottom: 0.5em;">{{ __("File") }}</h2>
                    <p>{{ __("Select the file you want to upload. Major video and image file formats are supported.") }}</p>
                    <input class="form-control" type="file" name="fileToUpload" id="fileToUpload"
                           onchange="$('#title').val($('#fileToUpload').val().split('\\').pop().split('/').pop())"
                           required>
                    <br>
                    {% if isDebug %}
                        <label class="checkbox">
                            <input type="checkbox" id="debugUploaderSkip" name="debugUploaderSkip">
                            Skip processing
                        </label>
                    {% endif %}
                    <div class="right">
                        <input class="button button-primary" type="submit" id="upload" name="upload"
                               value="{{ __("Upload") }}">
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}