<div class="masthead-container">
	<div class="masthead">
		<a href="/index.php"><img class="logo" src="{{ website_branding.assets_location }}/logo-wordmark-nostalgia.png" alt="{{ website_branding.name }}" border="0"></a>
		<div class="masthead-search">
			<form method="GET" action="search.php">
				<input class="masthead-input" type="text" value="" name="query" size="30" maxlength="128">
				<input class="btn btn-default" type="submit" value="Search">
			</form>
		</div>
		<div class="masthead-nav">
			<a href="browse.php">{{ __("Browse") }}</a><a href="upload.php">{{ __("Upload") }}</a>
		</div>
		<div class="masthead-utility">
			{% if log %}
			<button id="masthead-loggedin" class="masthead-user">
				<span>{{ userdata.title }}{{ icon("caret-down", 16) }}</span>
				<div class="usermenushit" id="masthead-below">
					<ul style="padding:0">
						<li><a href="user.php?name={{ userdata.name }}">{{ __("My profile") }}</a></li>
						<li><a href="/settings.php">{{ __("Settings") }}</a></li>
						{% if userdata.powerlevel > 2 %}
						<li><a href="/admin">{{ __("Admin panel") }}</a></li>
						{% endif %}
					</ul>
				</div>
			</button>
			<a href="logout.php" class="end">{{ __("Log out") }}</a>
			{% else %}
			<a href="register.php" class="start">{{ __("Register") }}</a><a href="login.php" class="end">{{ __("Login") }}</a>
			{% endif %}
		</div>
	</div>
</div>