<div class="masthead-container">
	<div class="masthead">
		<a href="/index.php"><img class="logo" src="{{ website_branding.assets_location }}/logo-wordmark-nostalgia.png" alt="{{ website_branding.name }}" border="0"></a>
		<div class="masthead-search">
			<form method="GET" action="search.php">
				<input class="masthead-input" type="text" value="" name="query" size="30" maxlength="128">
				<input class="button button-secondary" type="submit" value="Search">
			</form>
		</div>
		<div class="masthead-nav">
			<a href="browse.php">{{ __("Browse") }}</a><a href="upload.php">{{ __("Upload") }}</a>
		</div>
		<div class="masthead-utility">
			{% if log %}
			<button id="masthead-loggedin" class="masthead-user">
				<span>{{ userdata.title }}{{ icon("caret-down", 16) }}</span>
				<div class="usermenushit" id="masthead-below">
					<ul style="padding:0">
						<li>
							<a href="user.php?name={{ userdata.name }}">{{ __("Profile") }}</a>
						</li>
						<li><a href="/settings.php">{{ __("Settings") }}</a></li>
					</ul>
				</div>
			</button>
			<a href="logout.php" class="end">{{ __("Sign Out") }}</a>
			{% else %}
			<a href="register.php" class="start">{{ __("Create Account") }}</a><a href="login.php" class="end">{{ __("Sign In") }}</a>
			{% endif %}
		</div>
	</div>
</div>