<div class="grid" style="gap:0px;margin-bottom: 17.5px;">
    <div class="col-md-1">
        <a href="user.php?name={{ data.u_name }}">
            <img class="rounded img-fluid" src="{{ profile_image(data.u_name) }}">
        </a>
    </div>
    <div class="col-md-15" id="{{ data.comment_id }}">
        {{ userlink(data, 'u_') }} &bull; {{ data.date | relative_time }}
        <br>
        <div class="comment">
            {{ data.comment | markdown }}
        </div>
        <br>
        <p>
            {% if data.replycount > 0 %}
                <a onclick="showReplies({{ data.comment_id }})">{{ __("Show replies") }}</a> |
            {% endif %}
            {% if data.id|length > 0 %}
                <a onclick="reply({{ data.comment_id }})">{{ __("Reply") }}</a>
            {% endif %}
        </p>
    </div>
</div>
