<div class="vWatchEntry  ">
	<table><tbody><tr>
		<td>
			<div class="img" style="margin-top:0px;">
				<a href="watch.php?v={{ data.video_id }}&frontend=2006L"><img class="vimgSm" src="{{ video_thumbnail(data.video_id) }}"></a>
			</div>
			<div id="add_img_HyIuThclu7A" class="addtoQLRelatedIE">
				<a href="#" onclick="clicked_add_icon('{{ data.video_id }}', 1);print_quicklist_video('https://web.archive.org/web/20061115140409/http://sjl-static2.sjl.youtube.com/vi/HyIuThclu7A/2.jpg',document.getElementById('video_title_text_1_337023_27').innerHTML,'akuku2','{{ data.video_id }}','00:27');_hbLink('QuickList+AddTo','Watch');return false;" title="Add Video to QuickList"><img id="add_button_{{ data.video_id }}" onmouseover="mouse_over_add_icon('{{ data.video_id }}');return false;" onmouseout="mouse_out_add_icon('{{ data.video_id }}');return false;" src="assets/2006L/icn_add_20x20.gif" alt="Add Video to QuickList" border="0"></a>
			</div>
		</td>
		<td>
			<div class="title" onclick="_hbLink('RelatedVideo','ExploreMore');"><a href="watch.php?v={{ data.video_id }}&frontend=2006L">{{ data.title }}</a><br>
				<span class="runtime">
					{% if data.videolength > 3600 %}
						<span class="runtime">{{ data.videolength|date('H:i:s', '+00:00 GMT') }}</span>
					{% else %}
						<span class="runtime">{{ data.videolength|date('i:s', '+00:00 GMT') }}</span>
					{% endif %}
				</span>
			</div>
			<div class="facets">
				<span class="grayText">From:</span> {{ userlink(data, 'u_') }}<br>
				<span class="grayText">Views:</span> {{ data.views }}
			</div>
			</td>
	</tr></tbody></table>
</div> <!-- end vWatchEntry -->