<nav class="navbar navbar-expand-lg navbar-light bg-light d-none d-lg-block">
    <div class="container">

        <div class="d-flex">
            <button class="btn pt-1 p-0 bi bi-list fs-2 text-reset" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu">
            </button>
        </div>

        <a class="navbar-brand" href="/"><img src="{{ website_branding.assets_location }}/logo.png" alt="[sb]" class="d-inline-block align-text-top" height="32"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class="d-flex ms-auto me-auto position-relative" method="GET" action="/search" style="width: 61%;">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">{{ icon('search', 16 ) }}</span>
                    <input name="q" class="form-control" type="search" placeholder="Search" aria-label="Search" id="searchInput">
                </div>
                <ul class="dropdown-menu position-absolute w-100" id="searchSuggestions" aria-labelledby="searchInput" style="top: 100%; margin-top: 2px; z-index: 1000;">
                </ul>
            </form>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="/" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Home" data-bs-original-title="Home"><i class="far fa-home me-2"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="/browse" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Browse" data-bs-original-title="Browse"><i class="far fa-play-circle me-2"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="/users" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Users" data-bs-original-title="Users"><i class="far fa-users me-2"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if is_user_logged_in %}
                    <div class="dropdown">
                        <li class="nav-item">
                            <style>
                                #openSettings.nav-link {
                                    padding: 0.25rem;
                                }
                            </style>
                            <a href="/#" id="openSettings" class="dropdown-toggle nav-link" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="{{ profile_picture(user_data.name) }}"
                                     alt="{{ user_data.name }}" class="rounded-circle" width="30" height="30">
                            </a>
                        </li>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="mainMenu">
                            <li><a class="dropdown-item" href="/settings">{{ icon('tools', 16) }} Settings</a></li>
                            <li><a class="dropdown-item"
                                   href="/user/{{ user_data.name }}">{{ icon('person-lines-fill', 16) }} My profile</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout">{{ icon('door-open', 16) }} Sign off</a></li>

                        </ul>
                    </div>
                {% else %}
                <li class="nav-item">
                    <a href="/login" class="btn btn-primary me-md-1">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="btn btn-secondary">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>