<nav id="navbar"
     class="navbar navbar-light bg-light navbar-static-top navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="{{ logo }}" alt="{{ website_branding.name }}"
                                              height="32"
                                              class="d-inline-block align-text-top"></a>
        <form class="d-flex" method="GET" action="search">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">{{ icon('search', 16 ) }}</span>
                <input name="query" class="form-control" type="search" placeholder="Search"
                       aria-label="Search">
            </div>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <ul class="navbar-nav">
                {% if is_user_logged_in %}
                    <!-- can't put dropdown-toggle properly wtf -->
                    <li class="nav-item">
                        <a href="/upload" class="nav-link">
                            <div class="d-flex align-items-center">
                                {{ icon('plus', 24) }}
                                <span class="pe-1">Upload</span>
                            </div>
                        </a>
                    </li>
                {% else %}
                    <div class="d-grid gap-2 d-md-block">
                        <a href="/login" class="btn btn-primary me-md-1">Login</a>
                        <a href="/register" class="btn btn-secondary">Register</a>
                    </div>
                {% endif %}
                {% if is_user_logged_in %}
                    <div class="dropdown nav-item">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ profile_picture(user_data.name) }}" alt="{{ user_data.name }}" class="rounded-circle" width="32" height="32">
                        </a>
                        <ul class="dropdown-menu text-small dropdown-menu-end" style="">
                            {% for link in header_user_links() %}
                                <li><a class="dropdown-item" href="{{ link.url }}">{{ link.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="mb-4">
    <nav class="py-1 bg-dark">
        <div class="container">
            <ul class="nav me-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link link-light px-2">
                        {{ icon('house-door', 16) }}
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/browse" class="nav-link link-light px-2">
                        {{ icon('play-btn', 16) }}
                        {{ localize('browse') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/users" class="nav-link link-light px-2">
                        {{ icon('people', 16) }}
                        Members
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>