<div class="row">
    <div class="col-lg-1" style="width:5.5%;padding-right:0">
        <a href="/user/{{ comment.author.info.username }}">
            <img class="rounded-circle w-100" src="{{ profile_picture(comment.author.info.username) }}">
        </a>
    </div>
    <div class="col-lg-10">
        {{ user_link(comment.author) }} &bull; {{ comment.posted | relative_time }}
        {% if comment.post | trim is not empty %}
            {{ comment.post | markdown_user_written }}
        {% else %}
            <small>Null comment</small>
        {% endif %}
    </div>
</div>
