<div class="card" style="margin-bottom:10px">
    <div class="card-body">
        <div class="row">
            <div class="col-5">
                <a href="/view/{{ submission.id }}">
                    <div class="img-thumbnail" style="margin-bottom:0">
                        <img class="img-fluid"
                             src="{{ thumbnail(submission.id, submission.type, submission.bools.custom_thumbnail) }}">
                    </div>
                </a>
            </div>
            <div class="col-7">
                <h5><a href="/view/{{ submission.id }}">{{ submission.title }}</a></h5>
                {# hack to prevent twig from outputing the number 1 #}
                {% if submission.views != 1 %}
                    {% set pluralViews = "s" %}
                {% endif %}
                <p>{{ user_link(submission.author) }} &bull; {{ submission.views }} view{{ pluralViews }} &bull;
                    <span title="{{ submission.published | date('F j, Y, g:i a') }}">{{ submission.published | relative_time }}</span>
                    <br>
                    <small class="text-secondary-emphasis">
                        {% if submission.published_originally and submission.original_site %}
                            <span title="{{ submission.published_originally | date('F j, Y, g:i a') }} on {{ submission.original_site }}">Originally uploaded {{ submission.published_originally | relative_time }}</span>
                        {% endif %}
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
