<div class="card" style="margin-bottom:10px">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <a href="/view/{{ data.video_id }}">
                    <div class="img-thumbnail">
                        <img class="img-fluid" src="{{ video_thumbnail(data.video_id) }}">
                    </div>
                </a>
            </div>
            <div class="col-6">
                <h3><a href="/view/{{ data.video_id }}">{{ data.title }}</a></h3>
                {# hack to prevent twig from outputing the number 1 #}
                {% if data.views != 1 %}
                    {% set pluralViews = "s" %}
                {% endif %}
                <p>{{ userlink(data, 'u_') }} &bull; {{ data.views }} view%s", [pluralViews]) }} &bull;
                    <span class="text-muted">{{ data.time | relative_time }}</span></p>
                <p>{{ data.description|length > 250 ? data.description|slice(0, 250) ~ '...' : data.description }}</p>
            </div>
        </div>
    </div>
</div>
