<!DOCTYPE html>
	<title>squareBracket - Punny slogan attempting to be simillar to a certain website's slogan</title>

	<link rel="stylesheet" href="/assets/2006l/styles_yts1162330703.css" type="text/css">
	<link rel="stylesheet" href="/assets/2006l/base_yts1163746048.css" type="text/css">
	<link rel="icon" href="/assets/2006l/favicon.ico" type="image/x-icon"> <!--- taken from poktube --->
	<link rel="shortcut icon" href="/assets/2006l/favicon.ico" type="image/x-icon">
	
	
	<meta name="keywords" content="video,sharing,camera phone,video phone">

	<link rel="alternate" title="YouTube - [RSS]" href="/web/20061124193253/http://www.youtube.com/rssls">

	<script type="text/javascript" src="/assets/2006l/ui_yts1161839869.js"></script>
	<script type="text/javascript" src="/assets/2006l/AJAX_yts1161839869.js"></script>
	<script type="text/javascript" src="/assets/2006l/watch_queue_yts1161839869.js"></script>
	
	<script language="javascript" type="text/javascript"> function _hbLink (a,b) { return false; } </script>


</head>


<body onload="performOnLoadFunctions();">
<div id="baseDiv">	
		<div id="logoTagDiv">
		<a href="index.php?frontend=2006L" name="&amp;lid=Logo&amp;lpos=GlobalNav"><img src="/assets/2006l/logo_tagline_sm.gif" alt="squareBracket" width="254" height="48" border="0"></a>
	</div>
	<div id="utilDiv" style="height:13px;">
                        <b><a href="/web/20061124193253/http://www.youtube.com/signup" onclick="_hbLink('SignUp','UtilityLinks');">Sign Up</a></b>
                        <span class="utilDelim">|</span>
                        <a href="/web/20061124193253/http://www.youtube.com/my_account">My Account</a>
                        <span class="utilDelim">|</span>
                        <a href="/web/20061124193253/http://www.youtube.com/recently_watched" onclick="_hbLink('ViewingHistory','UtilityLinks');">History</a>
                        <span class="utilDelim">|</span>
                        <a href="/web/20061124193253/http://www.youtube.com/watch_queue?all" onclick="_hbLink('QuickList','UtilityLinks');">QuickList</a>
			(<span id="quicklist_numb"><a href="/web/20061124193253/http://www.youtube.com/watch_queue?all"><script type="text/javascript">var quicklist_count=0;document.write(quicklist_count);</script>0</a></span>)                        
                        <span class="utilDelim">|</span>
                        <a href="/web/20061124193253/http://www.youtube.com/t/help_center">Help</a>
                        <span class="utilDelim">|</span>
                        <a href="/web/20061124193253/http://www.youtube.com/login?next=/" onclick="_hbLink('LogIn','UtilityLinks');">Log In</a>
        </div>
        <form name="logoutForm" method="post" action="/web/20061124193253/http://www.youtube.com/index">
                <input type="hidden" name="action_logout" value="1">
        </form>

	
	<div id="searchDiv">
		<form name="searchForm" id="searchForm" method="get" action="/web/20061124193253/http://www.youtube.com/results">
		<span class="smallLabel">Search for&nbsp;</span>
		<input tabindex="10000" type="text" name="search_query" maxlength="128" class="searchField" value="">
		&nbsp;
		<input type="submit" name="search" value="Search">
	</form>

	</div>
		
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody><tr><td>
		<div id="gNavDiv">
				
				<div class="ltab">
				<div class="tabContent selected">
				<a href="/web/20061124193253/http://www.youtube.com/index" name="&amp;lid=Home&amp;lpos=GlobalNav">Home</a>
				</div>
				</div>
				
				<div class="tab">
				<div class="tabContent">
				<a href="/web/20061124193253/http://www.youtube.com/browse?s=mp" name="&amp;lid=Videos&amp;lpos=GlobalNav">Videos</a>
				</div>
				</div>
				
				<div class="tab">
				<div class="tabContent">
				<a href="/web/20061124193253/http://www.youtube.com/members" name="&amp;lid=Channels&amp;lpos=GlobalNav">Channels</a>
				</div>
				</div>
				
				<div class="tab">
				<div class="tabContent">
				<a href="/web/20061124193253/http://www.youtube.com/groups_main" name="&amp;lid=Groups&amp;lpos=GlobalNav">Groups</a>
				</div>
				</div>
				
				<div class="tab">
				<div class="tabContent">
				<a href="/web/20061124193253/http://www.youtube.com/categories" name="&amp;lid=Categories&amp;lpos=GlobalNav">Categories</a>
				</div>
				</div>
				
				<div class="rtab">
				<div class="tabContent">
				<a href="/web/20061124193253/http://www.youtube.com/my_videos_upload" name="&amp;lid=Upload&amp;lpos=GlobalNav">Upload</a>
				</div>
				</div>
		</div>
	</td></tr>
	<tr><td>
			<div id="gSubNavDiv">
				&nbsp;
						<a href="/web/20061124193253/http://www.youtube.com/my_account" onclick="_hbLink('MyAccount','SubNav');">My Account</a>
							<span style="padding: 0px 8px;">|</span>
						<a href="/web/20061124193253/http://www.youtube.com/my_videos" onclick="_hbLink('MyVideos','SubNav');">My Videos</a>
							<span style="padding: 0px 8px;">|</span>
						<a href="/web/20061124193253/http://www.youtube.com/my_favorites" onclick="_hbLink('MyFavorites','SubNav');">My Favorites</a>
							<span style="padding: 0px 8px;">|</span>
						<a href="/web/20061124193253/http://www.youtube.com/my_friends?sort=n" onclick="_hbLink('MyFriends','SubNav');">My Friends</a>
							<span style="padding: 0px 8px;">|</span>
						<a href="/web/20061124193253/http://www.youtube.com/my_messages" onclick="_hbLink('MyInbox','SubNav');">My Inbox</a>
							<span style="padding: 0px 8px;">|</span>
						<a href="/web/20061124193253/http://www.youtube.com/subscription_center" onclick="_hbLink('MySubscriptions','SubNav');">My Subscriptions</a>
							<span style="padding: 0px 8px;">|</span>
						<a href="/web/20061124193253/http://www.youtube.com/groups_my" onclick="_hbLink('MyGroups','SubNav');">My Groups</a>
							<span style="padding: 0px 8px;">|</span>
						<a href="/web/20061124193253/http://www.youtube.com/my_profile" onclick="_hbLink('MyChannel','SubNav');">My Channel</a>
				&nbsp;
			</div> <!-- end gSubNavDiv -->
	</td></tr>
	</tbody></table>

	
	
	
	




<script type="text/javascript" src="/assets/2006l/components_yts1157352107.js"></script>
<script type="text/javascript" src="/assets/2006l/AJAX_yts1161839869.js"></script>
<script type="text/javascript" src="/assets/2006l/video_bar_yts1157352107.js"></script>

<div class="errorBox">The 2006L frontend is not complete.</div>

<div id="hpMainContent"> 
			<div class="hpContentBlock">
		<!-- <div id="hpSVidAboutLink"><a href="#">Advertise on YouTube</a></div> -->
		<div id="hpSVidHeader">Director Videos</div>
		<div>
			<div class="hpSVidEntry " style="margin-bottom: 0px;">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/cthru?4FjSK7GGUO-6JY-V11D-wb0pyUPIyQ8YNKsw4y4iJYnqE4WfI6KCL6EE8UixiCMatOMQdsUoE2xuCnQihHS6HbmhyvUH-7iRgaxIfIqNAj3l5XjOGuOAlhC4cr51H2sGM0dtsH-A5fwgMfGHDZQ6ZlwoITAiSUjMMnBp6c1DsGkDpfymlo64ULROJrV5HFMq1aotJvw_ZJ0=" name="&amp;lid=DV+-+Pancakes+-+GiR2007&amp;lpos=Homepage-s0"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static15.sjl.youtube.com/vi/PnCVZozHTG8/2.jpg" class="vimg80"></a></div>
				<div class="vtitle xsmallText">
				
				<a href="/web/20061124193253/http://www.youtube.com/cthru?4FjSK7GGUO-6JY-V11D-wb0pyUPIyQ8YNKsw4y4iJYnqE4WfI6KCL6EE8UixiCMatOMQdsUoE2xuCnQihHS6HbmhyvUH-7iRgaxIfIqNAj3l5XjOGuOAlhC4cr51H2sGM0dtsH-A5fwgMfGHDZQ6ZlwoITAiSUjMMnBp6c1DsGkDpfymlo64ULROJrV5HFMq1aotJvw_ZJ0=" name="&amp;lid=DV+-+Pancakes+-+GiR2007&amp;lpos=Homepage-s0">Pancakes!</a>
				</div>
				
			</div>
			<div class="hpSVidEntry " style="margin-bottom: 0px;">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/cthru?Lmr9owrKw8VI5isHif0hClQGxXtWd-JT6Z5unnNxyQhnFtwh46GD529FYVnSV_2hLQFyU77fLDjLPLwQsCO-OPPr3Af3Ol8mEXD-P8R_4jJoUGdxTHIovJMSqz-C-Yvo2B5wEw9Evl62-LnUujv2W5lpBklNZMxCYVQvlny_XqdaMcNnrjLijxLrrkqYqd2gHdmbp2Z-pck=" name="&amp;lid=DV+-+DenzelDiscussesDjVuCBSNews+-+CBS&amp;lpos=Homepage-s1"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static15.sjl.youtube.com/vi/LAp_p2hKQ_Y/2.jpg" class="vimg80"></a></div>
				<div class="vtitle xsmallText">
				
				<a href="/web/20061124193253/http://www.youtube.com/cthru?Lmr9owrKw8VI5isHif0hClQGxXtWd-JT6Z5unnNxyQhnFtwh46GD529FYVnSV_2hLQFyU77fLDjLPLwQsCO-OPPr3Af3Ol8mEXD-P8R_4jJoUGdxTHIovJMSqz-C-Yvo2B5wEw9Evl62-LnUujv2W5lpBklNZMxCYVQvlny_XqdaMcNnrjLijxLrrkqYqd2gHdmbp2Z-pck=" name="&amp;lid=DV+-+DenzelDiscussesDjVuCBSNews+-+CBS&amp;lpos=Homepage-s1">Denzel Discusses 'Déjà Vu' (CBS News)</a>
				</div>
				
			</div>
			<div class="hpSVidEntry " style="margin-bottom: 0px;">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/cthru?ndVYK0SB8b0iuQXmPoSBykHTNrlHnlZ68Ti6TtRSSLpb_m9aZATwhL7vcWbxNGRKhzopRow6P5pcFqKYfJp48JzTLswLhnqZqqI4HNhy0czT0C2BJ67_Tc3EDMleLgUT63I77EQLhDZGJiNtqa8jMS6xjScSgrqFQl1yWbwEPcn7BwW3InIHsgyCeDuwth4wakNyoiHX_Bg=" name="&amp;lid=DV+-+AskANinjaQuestion9NinjaLove+-+digitalfilmmaker&amp;lpos=Homepage-s2"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static13.sjl.youtube.com/vi/qdS5lkeN8_8/2.jpg" class="vimg80"></a></div>
				<div class="vtitle xsmallText">
				
				<a href="/web/20061124193253/http://www.youtube.com/cthru?ndVYK0SB8b0iuQXmPoSBykHTNrlHnlZ68Ti6TtRSSLpb_m9aZATwhL7vcWbxNGRKhzopRow6P5pcFqKYfJp48JzTLswLhnqZqqI4HNhy0czT0C2BJ67_Tc3EDMleLgUT63I77EQLhDZGJiNtqa8jMS6xjScSgrqFQl1yWbwEPcn7BwW3InIHsgyCeDuwth4wakNyoiHX_Bg=" name="&amp;lid=DV+-+AskANinjaQuestion9NinjaLove+-+digitalfilmmaker&amp;lpos=Homepage-s2">Ask A Ninja: Question 9 "Ninja Love"</a>
				</div>
				
			</div>
			<div class="hpSVidEntry " style="margin-bottom: 0px;">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/cthru?-XC7hZWyNVMWqVsMd_4HIDP1oqQKNezwqSwlVMYB9g-aaXTpDTY8FRHevpYLV7Vfp_RZk_Z8FXc2AErpU3V2CxKA8qoB9zuPT4tlaj4qyGpIfcvue4GvZRBFb24s7GFWg7ItyCOAX-20HB60jhGSqTjdRor3ZlawM_J_V5YdW1f1zQkU36bT0b6bNQNbl9jS_6hS2gozH2g=" name="&amp;lid=DV+-+CoasttoCoastGoalGretzkyStyle+-+CBS&amp;lpos=Homepage-s3"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static1.sjl.youtube.com/vi/Yba-exnn9pQ/2.jpg" class="vimg80"></a></div>
				<div class="vtitle xsmallText">
				
				<a href="/web/20061124193253/http://www.youtube.com/cthru?-XC7hZWyNVMWqVsMd_4HIDP1oqQKNezwqSwlVMYB9g-aaXTpDTY8FRHevpYLV7Vfp_RZk_Z8FXc2AErpU3V2CxKA8qoB9zuPT4tlaj4qyGpIfcvue4GvZRBFb24s7GFWg7ItyCOAX-20HB60jhGSqTjdRor3ZlawM_J_V5YdW1f1zQkU36bT0b6bNQNbl9jS_6hS2gozH2g=" name="&amp;lid=DV+-+CoasttoCoastGoalGretzkyStyle+-+CBS&amp;lpos=Homepage-s3">Coast to Coast Goal - Gretzky Style</a>
				</div>
				
			</div>
		<div class="lclear" style="height: 1px;"></div>
		</div>
	</div> <!-- end hpContentBlock -->


		<div class="headerRCBox">
	<b class="rch">
	<b class="rch1"><b></b></b>
	<b class="rch2"><b></b></b>
	<b class="rch3"></b>
	<b class="rch4"></b>
	<b class="rch5"></b>
	</b> <div class="content">		<div class="headerTitle">
			<div class="headerTitleRight">
				<a href="/web/20061124193253/http://www.youtube.com/browse?s=rf">See More Videos</a>
			</div>
			<span>Featured Videos</span>
		</div>
</div>
	</div>

	<div class="vListBox">
				{% for video in videos %}
								<div class="vEntry">
		<table class="vTable"><tbody><tr>
			<td>
				<a href="/web/20061124193253/http://www.youtube.com/watch?v=2w84qzHdEms"><img src="{{ video_thumbnail(video.video_id) }}" class="vimg120" border="0"></a>
				        <script language="javascript" type="text/javascript">
                if (navigator.appName.indexOf('Microsoft') != -1) {
                        document.write('<div id="add_img_{{ video.video_id }}" style="width:20px;margin-top:-29px;margin-left:1px;">');
                }
                else {
                        document.write('<div id="add_img_{{ video.video_id }}" style="width:20px;margin-top:-26px;margin-left:1px;">');
                }
        </script>
        <a href="#" onclick="clicked_add_icon('{{ video.video_id }}', 0);return false;" title="Add Video to QuickList"><img id="add_button_{{ video.video_id }}" onmouseover="mouse_over_add_icon('{{ video.video_id }}');return false;" onmouseout="mouse_out_add_icon('{{ video.video_id }}');return false;" src="/assets/2006l/icn_add_20x20.gif" alt="Add Video to QuickList" border="0"></a>
        </div>

			</td>
			<td class="vinfo">
				<div class="vtitle">
					<a href="/web/20061124193253/http://www.youtube.com/watch?v=2w84qzHdEms" onclick="_hbLink('ComplaintsChoirofBirmingham','VidHorz');">{{ video.title }}</a><br>
					<span class="runtime">{{ video.videolength }}</span>
				</div>
				<div class="vdesc">	
			<span id="BeginvidDesc{{ video.video_id }}">
	{{ video.description|length > 250 ? data.description|slice(0, 250) ~ '' : video.description }}
	</span>
	
			<span id="RemainvidDesc{{ video.video_id }}" style="display: none">{{ video.description }}</span>
			<span id="MorevidDesc{{ video.video_id }}" class="smallText">(<a href="#" class="eLink" onclick="showInline('RemainvidDesc{{ video.video_id }}'); hideInline('MorevidDesc{{ video.video_id }}'); hideInline('BeginvidDesc{{ video.video_id }}'); showInline('LessvidDesc{{ video.video_id }}'); return false;">more</a>)</span>
			<span id="LessvidDesc{{ video.video_id }}" style="display: none" class="smallText">(<a href="#" class="eLink" onclick="hideInline('RemainvidDesc{{ video.video_id }}'); hideInline('LessvidDesc{{ video.video_id }}'); showInline('BeginvidDesc{{ video.video_id }}'); showInline('MorevidDesc{{ video.video_id }}'); return false;">less</a>)</span>


</div>
				<div class="vfacets">
					<div class="vtagLabel">Tags:</div>
					<div class="vtagValue"><a href="/web/20061124193253/http://www.youtube.com/results?search_query=complaining" class="dg">complaining</a> &nbsp; <a href="/web/20061124193253/http://www.youtube.com/results?search_query=complaints" class="dg">complaints</a> &nbsp; <a href="/web/20061124193253/http://www.youtube.com/results?search_query=choir" class="dg">choir</a> &nbsp; <a href="/web/20061124193253/http://www.youtube.com/results?search_query=birmingham" class="dg">birmingham</a> &nbsp; <a href="/web/20061124193253/http://www.youtube.com/results?search_query=helsinki" class="dg">helsinki</a> &nbsp; <a href="/web/20061124193253/http://www.youtube.com/results?search_query=hamburg" class="dg">hamburg</a></div>
						<span class="grayText">Added:</span> {{ video.time | relative_time }}
						<span class="grayText"> &nbsp; in Category:</span> <a href="/web/20061124193253/http://www.youtube.com/browse?s=mp&amp;t=t&amp;c=1" class="dg">Arts &amp; Animation</a><br>
							<span class="grayText">From:</span> <a href="/web/20061124193253/http://www.youtube.com/user/atomipommi">{{ userlink(video, 'u_') }}</a><br>
						<span class="grayText">Views:</span> {{ video.views }}
				</div>
							<nobr>
			<img class="rating" src="/assets/2006l/star_sm.gif">
			<img class="rating" src="/assets/2006l/star_sm.gif">
			<img class="rating" src="/assets/2006l/star_sm_half.gif">
			<img class="rating" src="/assets/2006l/star_sm_bg.gif">
			<img class="rating" src="/assets/2006l/star_sm_bg.gif">
	</nobr>
		<div class="rating">0 ratings, star rating not implemented lol</div>
	



			</td>
		</tr>
		</tbody></table>
	</div> <!-- end vEntry -->
				{% else %}
					<p>{{ __("No uploaded videos.") }}</p>
				{% endfor %}
	</div> <!-- end vListBox -->
	<div class="footerBox">
		<div style="padding: 3px 0px; text-align: right;"><a href="/web/20061124193253/http://www.youtube.com/browse?s=rf">See More Videos</a></div>
	</div>
</div> <!-- end hpMainCol -->


<div id="hpSideContent">

	<div class="hpContentBlock">
		<div id="hpEmbedTopCap">
		<!-- 300x35 ad block above embed player -->
	 	
				
		
			

							
	<!-- begin ad tag -->
	<script type="text/javascript">
		ord=Math.random()*10000000000000000 + 4;
		document.write('<script language="JavaScript" src="https://web.archive.org/web/20061124193253/http://ad.doubleclick.net/adj/you.home/_default;sz=300x35;kch=3000513466;kbg=FFFFFF;kvideoid=2QShD1BsscY;ord=' + ord + '?" type="text/javascript"><\/script>');
	</script><script language="JavaScript" src="https://web.archive.org/web/20061124193253/http://ad.doubleclick.net/adj/you.home/_default;sz=300x35;kch=3000513466;kbg=FFFFFF;kvideoid=2QShD1BsscY;ord=4654063786008235?" type="text/javascript"></script>
	<noscript><a href="https://web.archive.org/web/20061124193253/http://ad.doubleclick.net/jump/you.home/_default;sz=300x35;ord=123456789" target="_blank"><img src="https://web.archive.org/web/20061124193253im_/http://ad.doubleclick.net/ad/you.home/_default;sz=300x35;ord=123456789" width="300" height="35" border="0" alt=""></a>
	</noscript>
	<!-- End ad tag -->
	

		

		</div> <!-- end ad block -->
					<div id="hpEmbedVideo">
		<object width="300" height="250"><param name="movie" value="/admp.swf?vids=2QShD1BsscY&amp;eurl=/index&amp;iurl=http%3A//sjl-static15.sjl.youtube.com/vi/2QShD1BsscY/2.jpg&amp;t=OEgsToPDskL9yPT3dEXb8c3yxeRQqy-Q"><embed src="/web/20061124193253oe_/http://www.youtube.com/admp.swf?vids=2QShD1BsscY&amp;eurl=/index&amp;iurl=http%3A//sjl-static15.sjl.youtube.com/vi/2QShD1BsscY/2.jpg&amp;t=OEgsToPDskL9yPT3dEXb8c3yxeRQqy-Q" type="application/x-shockwave-flash" width="300" height="250"></object>
		</div>
		
		<div id="hpEmbedUnderBlock">
		
			<table width="100%" cellspacing="0" cellpadding="0"><tbody><tr valign="top">
			<td width="80%"> <!-- begin embedInfo -->
				<div class="vtitle"><a href="/web/20061124193253/http://www.youtube.com/watch?v=2QShD1BsscY">(RED) Manifesto</a></div>
				<div class="vfacets">
					<span class="grayText">From:</span> <i><a href="/web/20061124193253/http://www.youtube.com/user/joinred" class="dg">joinred</a></i><br>
					<span class="grayText">Comments:</span> <a href="/web/20061124193253/http://www.youtube.com/comment_servlet?all_comments&amp;v=2QShD1BsscY&amp;fromurl=/watch?v=2QShD1BsscY">51</a>
				</div>
			</td> <!-- end embedInfo -->
			
			<td width="20%" nowrap="" align="center">
				<div id="ratingDiv">
						<div id="ratingMessage" class="label">Login to rate video</div>
									<nobr>
			<img class="rating" src="/web/20061124193253im_/http://www.youtube.com/img/star.gif">
			<img class="rating" src="/web/20061124193253im_/http://www.youtube.com/img/star.gif">
			<img class="rating" src="/web/20061124193253im_/http://www.youtube.com/img/star.gif">
			<img class="rating" src="/web/20061124193253im_/http://www.youtube.com/img/star_bg.gif">
			<img class="rating" src="/web/20061124193253im_/http://www.youtube.com/img/star_bg.gif">
	</nobr>
		<div class="rating">599 ratings</div>
	



				</div> <!-- end ratings Div -->
			</td>
			
			</tr></tbody></table>
			
			


		</div> <!-- end embedUnderBlock -->	


	</div> <!-- end hpContentBlock -->

	
	


		<div class="hpContentBlock">
				<div class="headerRCBox">
	<b class="rch">
	<b class="rch1"><b></b></b>
	<b class="rch2"><b></b></b>
	<b class="rch3"></b>
	<b class="rch4"></b>
	<b class="rch5"></b>
	</b> <div class="content"><span class="headerTitle">Member Login</span></div>
	</div>

			<div class="contentBox">
				<table>
					<form method="post" name="loginForm" id="loginForm" action="signup"></form>
					<input type="hidden" name="action_login" value="1">
					<tbody><tr>
					<td><b>User Name:</b></td>
					<td><input tabindex="1" type="text" name="username" value="" class="hpLoginField"></td>
					</tr>
					<tr>
					<td><b>Password:</b></td>
					<td><input tabindex="2" type="password" name="password" class="hpLoginField"></td>
					</tr>
					<tr>
					<td>&nbsp;</td>
					<td>
						<div style="float: right;"><b><a href="/web/20061124193253/http://www.youtube.com/signup">Sign Up</a></b></div><b>
						<div><input type="submit" value="Login"></div>
						<div class="hpLoginForgot smallText">
						<b>Forgot:</b> <a href="forgot_username">Username</a> | <a href="/web/20061124193253/http://www.youtube.com/forgot">Password</a>
						</div>
					</b></td>
					</tr>
					
				</tbody></table>
				
			</div>
		</div> <!-- end hpContentBlock -->
	
	
	
	
	
	<div class="hpContentBlock">
			<div class="headerRCBox">
	<b class="rch">
	<b class="rch1"><b></b></b>
	<b class="rch2"><b></b></b>
	<b class="rch3"></b>
	<b class="rch4"></b>
	<b class="rch5"></b>
	</b> <div class="content"><span class="headerTitle">What's New on squareBracket</span></div>
	</div>

		<div class="contentBox">
			<p style="margin-top:0px;">
				<b><a href="/web/20061124193253/http://www.youtube.com/watch_queue?all"><img src="/web/20061124193253im_/http://www.youtube.com/img/pic_home_quicklist_30x37.gif" style="float: left; margin: 2px 6px 10px 0px;" border="0">QuickList</a></b><br>
				Too much good stuff to watch now? Click the "+" on any video to save it for later.
			</p>
			<p style="margin-top:0px;">
				<b><a href="/web/20061124193253/http://www.youtube.com/underground"><img src="/web/20061124193253im_/http://www.youtube.com/img/pic_home_underground_30x37.gif" style="float: left; margin: 2px 6px 10px 0px;" border="0"> YouTube Underground</a></b><br>
				Voting is underway—help pick the winners!
			</p>
			<a href="/web/20061124193253/http://www.youtube.com/blog">Read our Blog</a> to see what else is new!
		</div>
	</div> <!-- end hpContentBlock -->
	
	
	<div class="hpContentBlock">
			<div class="headerRCBox">
	<b class="rch">
	<b class="rch1"><b></b></b>
	<b class="rch2"><b></b></b>
	<b class="rch3"></b>
	<b class="rch4"></b>
	<b class="rch5"></b>
	</b> <div class="content"><span class="headerTitle">Recently Released</span></div>
	</div>

		<div class="contentBox">
			
			<p style="margin-top:0px;">
			<b><a href="/web/20061124193253/http://www.youtube.com/signup?signup_type=c"><img src="/web/20061124193253im_/http://www.youtube.com/img/pic_home_comedians_30x37.gif" style="float: left; margin: 2px 6px 10px 0px;" border="0"> Comedian Accounts</a></b><br>
			Get your standup, improv, or sketches out to a huge audience!
			</p>
			
			<p>
				<b><a href="/web/20061124193253/http://www.youtube.com/school_main"><img src="/web/20061124193253im_/http://www.youtube.com/img/colleges.gif" style="float: left; margin: 2px 6px 10px 0px;" border="0">YouTube Colleges</a></b><br>
				Join or request your college now and start sharing your college experience!
			</p>
		</div>
	</div> <!-- end hpContentBlock -->
	
	
	
	
	
	<div class="hpContentBlock">
			<div class="headerRCBox">
	<b class="rch">
	<b class="rch1"><b></b></b>
	<b class="rch2"><b></b></b>
	<b class="rch3"></b>
	<b class="rch4"></b>
	<b class="rch5"></b>
	</b> <div class="content"><span class="headerTitle">Active Channels</span></div>
	</div>

		<div class="contentBox">
			<div class="hpChannelEntry v80hEntry">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/profile?user=Lunaaa711"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static16.sjl.youtube.com/vi/wF8gc4OnuJM/2.jpg" class="vimg" style="background: #333;"></a></div>
				<div class="vinfo">
					<b><a href="/web/20061124193253/http://www.youtube.com/profile?user=Lunaaa711">Lunaaa711</a></b>
					<div class="vfacets">9 Videos | 155 Subscribers</div>
				</div>
				<div class="clear"></div>
			</div> <!-- end hpChannelEntry -->
						<div class="hpChannelEntry v80hEntry">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/profile?user=tycoony"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static14.sjl.youtube.com/vi/Fb8-SDGpVHE/2.jpg" class="vimg" style="background: #333;"></a></div>
				<div class="vinfo">
					<b><a href="/web/20061124193253/http://www.youtube.com/profile?user=tycoony">tycoony</a></b>
					<div class="vfacets">12 Videos | 95 Subscribers</div>
				</div>
				<div class="clear"></div>
			</div> <!-- end hpChannelEntry -->
						<div class="hpChannelEntry v80hEntry">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/profile?user=southparkstudios"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static15.sjl.youtube.com/vi/JBxsJdWdm0Q/2.jpg" class="vimg" style="background: #333;"></a></div>
				<div class="vinfo">
					<b><a href="/web/20061124193253/http://www.youtube.com/profile?user=southparkstudios">southparkstudios</a></b>
					<div class="vfacets">6 Videos | 167 Subscribers</div>
				</div>
				<div class="clear"></div>
			</div> <!-- end hpChannelEntry -->
						<div class="hpChannelEntry v80hEntry">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/profile?user=BoratFamilyMember"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static7.sjl.youtube.com/vi/W5gKqQDxXoc/2.jpg" class="vimg" style="background: #333;"></a></div>
				<div class="vinfo">
					<b><a href="/web/20061124193253/http://www.youtube.com/profile?user=BoratFamilyMember">BoratFamilyMember</a></b>
					<div class="vfacets">64 Videos | 549 Subscribers</div>
				</div>
				<div class="clear"></div>
			</div> <!-- end hpChannelEntry -->
			
			<div style="text-align: right;"><a href="/web/20061124193253/http://www.youtube.com/members">See More Channels</a></div>
		</div>
	</div> <!-- end hpContentBlock -->


	<div class="hpContentBlock">
			<div class="headerRCBox">
	<b class="rch">
	<b class="rch1"><b></b></b>
	<b class="rch2"><b></b></b>
	<b class="rch3"></b>
	<b class="rch4"></b>
	<b class="rch5"></b>
	</b> <div class="content"><span class="headerTitle">Active Groups</span></div>
	</div>

		<div class="contentBox">
			<div class="hpGroupEntry v80hEntry">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/group/beheard"><img class="vimg" src="https://web.archive.org/web/20061124193253im_/http://sjl-static6.sjl.youtube.com/vi/305Wld9LfPo/2.jpg"></a></div>
				<div class="vinfo">
					<b><a href="/web/20061124193253/http://www.youtube.com/group/beheard">beheard</a></b>
					
					<div class="vfacets"> 340 Videos | 13 Discussions</div>
				</div>
				<div class="clear"></div>
			</div> <!-- end hpGroupEntry -->
						<div class="hpGroupEntry v80hEntry">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/group/cybersmack"><img class="vimg" src="https://web.archive.org/web/20061124193253im_/http://sjl-static4.sjl.youtube.com/vi/x78EEDGOW0c/2.jpg"></a></div>
				<div class="vinfo">
					<b><a href="/web/20061124193253/http://www.youtube.com/group/cybersmack">cybersmack</a></b>
					
					<div class="vfacets"> 11 Videos | 444 Discussions</div>
				</div>
				<div class="clear"></div>
			</div> <!-- end hpGroupEntry -->
			
			<div style="text-align: right;"><a href="/web/20061124193253/http://www.youtube.com/groups_main">See More Groups</a></div>
		</div>
	</div> <!-- end hpContentBlock -->
	
	
	
</div> <!-- end hpSideCol -->



		<div class="spacer">&nbsp;</div>
	<div id="footerDiv">
		<div id="footerContent">
		<div id="footerLinks">
			
			<table width="90%" cellspacing="0" cellpadding="0" border="0" align="center"><tbody><tr valign="top">
			
			<td>
			<div class="footColumnBar">
				<div class="footLabel">Your&nbsp;&nbsp;Account</div>
				<div class="footValues">
					<div class="column">
					<a href="/web/20061124193253/http://www.youtube.com/my_videos">Videos</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/my_favorites">Favorite</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/my_playlists">Playlists</a>
					</div>
					<div class="column">
					<a href="/web/20061124193253/http://www.youtube.com/subscription_center">Subscriptions</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/my_messages">Inbox</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/my_account">more...</a>
					</div>
				</div>
			</div>
			</td>
			
			<td>
			<div class="footColumnBar">
				<div class="footLabel">YouTube</div>
				<div class="footValues">
					<div class="column">
					<a href="/web/20061124193253/http://www.youtube.com/t/about">About</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/blog">Blog</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/contact">Contact</a>
					</div>
					<div class="column">
					<a href="/web/20061124193253/http://www.youtube.com/advertise">Advertising</a><br>
					<a href="https://web.archive.org/web/20061124193253/http://www.pcrecruiter.net/pcrbin/regmenu.exe?uid=youtube.youtube">Jobs</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/press_room">Press</a><br>
					</div>
				</div>
			</div>
			</td>
			
			<td>
			<div class="footColumn">
				<div class="footLabel">Help &amp; Info</div>
				<div class="footValues">
					<div class="column">
					<a href="/web/20061124193253/http://www.youtube.com/t/help_center">Help Center</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/t/video_toolbox">Video Toolbox</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/dev">Developer APIs</a>
					</div>
					<div class="column">
					<a href="/web/20061124193253/http://www.youtube.com/t/safety">Safety Tips</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/rssls">RSS Syndication</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/t/community_guidelines">Community Guidelines</a>
					</div>
					<div class="column">
					<a href="/web/20061124193253/http://www.youtube.com/t/terms">Terms of Use</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/t/privacy">Privacy Policy</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/t/dmca_policy">Copyright Info</a>
					</div>
				</div>
			</div>
			</td>
			
			</tr></tbody></table>
			
		</div> <!-- end footerLinks -->
		</div> <!-- end footerContent -->
		
		<div id="footerSearch">
			
			<form name="searchFormFooter" id="searchFormFooter" method="get" action="/web/20061124193253/http://www.youtube.com/results">
			<span class="smallLabel">Search for&nbsp;</span>
			<input type="text" name="search_query" maxlength="128" class="searchField" value="">
			&nbsp;
			<input type="submit" name="search" value="Search">
			</form>
		</div> <!-- end footerSearch -->
		
		<div id="footerCopyright">
			Copyright © 2006 YouTube, Inc.
		</div> <!-- end footerCopyright -->
		
	</div> <!-- end footerDiv -->

</div> <!-- end baseDiv -->



</body><style id="stylus-9" type="text/css" class="stylus">#wm-ipp-base {
    min-height: 0px;
}</style></html>