{% extends "_layout.twig" %}
{% block content %}
<div id="hpMainContent"> 
			<div class="hpContentBlock">
		<!-- <div id="hpSVidAboutLink"><a href="#">Advertise on YouTube</a></div> -->
		<div id="hpSVidHeader">Director Videos</div>
		<div>
			<div class="hpSVidEntry " style="margin-bottom: 0px;">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/cthru?4FjSK7GGUO-6JY-V11D-wb0pyUPIyQ8YNKsw4y4iJYnqE4WfI6KCL6EE8UixiCMatOMQdsUoE2xuCnQihHS6HbmhyvUH-7iRgaxIfIqNAj3l5XjOGuOAlhC4cr51H2sGM0dtsH-A5fwgMfGHDZQ6ZlwoITAiSUjMMnBp6c1DsGkDpfymlo64ULROJrV5HFMq1aotJvw_ZJ0=" name="&amp;lid=DV+-+Pancakes+-+GiR2007&amp;lpos=Homepage-s0"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static15.sjl.youtube.com/vi/PnCVZozHTG8/2.jpg" class="vimg80"></a></div>
				<div class="vtitle xsmallText">
				
				<a href="/web/20061124193253/http://www.youtube.com/cthru?4FjSK7GGUO-6JY-V11D-wb0pyUPIyQ8YNKsw4y4iJYnqE4WfI6KCL6EE8UixiCMatOMQdsUoE2xuCnQihHS6HbmhyvUH-7iRgaxIfIqNAj3l5XjOGuOAlhC4cr51H2sGM0dtsH-A5fwgMfGHDZQ6ZlwoITAiSUjMMnBp6c1DsGkDpfymlo64ULROJrV5HFMq1aotJvw_ZJ0=" name="&amp;lid=DV+-+Pancakes+-+GiR2007&amp;lpos=Homepage-s0">Pancakes!</a>
				</div>
				
			</div>
			<div class="hpSVidEntry " style="margin-bottom: 0px;">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/cthru?Lmr9owrKw8VI5isHif0hClQGxXtWd-JT6Z5unnNxyQhnFtwh46GD529FYVnSV_2hLQFyU77fLDjLPLwQsCO-OPPr3Af3Ol8mEXD-P8R_4jJoUGdxTHIovJMSqz-C-Yvo2B5wEw9Evl62-LnUujv2W5lpBklNZMxCYVQvlny_XqdaMcNnrjLijxLrrkqYqd2gHdmbp2Z-pck=" name="&amp;lid=DV+-+DenzelDiscussesDjVuCBSNews+-+CBS&amp;lpos=Homepage-s1"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static15.sjl.youtube.com/vi/LAp_p2hKQ_Y/2.jpg" class="vimg80"></a></div>
				<div class="vtitle xsmallText">
				
				<a href="/web/20061124193253/http://www.youtube.com/cthru?Lmr9owrKw8VI5isHif0hClQGxXtWd-JT6Z5unnNxyQhnFtwh46GD529FYVnSV_2hLQFyU77fLDjLPLwQsCO-OPPr3Af3Ol8mEXD-P8R_4jJoUGdxTHIovJMSqz-C-Yvo2B5wEw9Evl62-LnUujv2W5lpBklNZMxCYVQvlny_XqdaMcNnrjLijxLrrkqYqd2gHdmbp2Z-pck=" name="&amp;lid=DV+-+DenzelDiscussesDjVuCBSNews+-+CBS&amp;lpos=Homepage-s1">Denzel Discusses 'Déjà Vu' (CBS News)</a>
				</div>
				
			</div>
			<div class="hpSVidEntry " style="margin-bottom: 0px;">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/cthru?ndVYK0SB8b0iuQXmPoSBykHTNrlHnlZ68Ti6TtRSSLpb_m9aZATwhL7vcWbxNGRKhzopRow6P5pcFqKYfJp48JzTLswLhnqZqqI4HNhy0czT0C2BJ67_Tc3EDMleLgUT63I77EQLhDZGJiNtqa8jMS6xjScSgrqFQl1yWbwEPcn7BwW3InIHsgyCeDuwth4wakNyoiHX_Bg=" name="&amp;lid=DV+-+AskANinjaQuestion9NinjaLove+-+digitalfilmmaker&amp;lpos=Homepage-s2"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static13.sjl.youtube.com/vi/qdS5lkeN8_8/2.jpg" class="vimg80"></a></div>
				<div class="vtitle xsmallText">
				
				<a href="/web/20061124193253/http://www.youtube.com/cthru?ndVYK0SB8b0iuQXmPoSBykHTNrlHnlZ68Ti6TtRSSLpb_m9aZATwhL7vcWbxNGRKhzopRow6P5pcFqKYfJp48JzTLswLhnqZqqI4HNhy0czT0C2BJ67_Tc3EDMleLgUT63I77EQLhDZGJiNtqa8jMS6xjScSgrqFQl1yWbwEPcn7BwW3InIHsgyCeDuwth4wakNyoiHX_Bg=" name="&amp;lid=DV+-+AskANinjaQuestion9NinjaLove+-+digitalfilmmaker&amp;lpos=Homepage-s2">Ask A Ninja: Question 9 "Ninja Love"</a>
				</div>
				
			</div>
			<div class="hpSVidEntry " style="margin-bottom: 0px;">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/cthru?-XC7hZWyNVMWqVsMd_4HIDP1oqQKNezwqSwlVMYB9g-aaXTpDTY8FRHevpYLV7Vfp_RZk_Z8FXc2AErpU3V2CxKA8qoB9zuPT4tlaj4qyGpIfcvue4GvZRBFb24s7GFWg7ItyCOAX-20HB60jhGSqTjdRor3ZlawM_J_V5YdW1f1zQkU36bT0b6bNQNbl9jS_6hS2gozH2g=" name="&amp;lid=DV+-+CoasttoCoastGoalGretzkyStyle+-+CBS&amp;lpos=Homepage-s3"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static1.sjl.youtube.com/vi/Yba-exnn9pQ/2.jpg" class="vimg80"></a></div>
				<div class="vtitle xsmallText">
				
				<a href="/web/20061124193253/http://www.youtube.com/cthru?-XC7hZWyNVMWqVsMd_4HIDP1oqQKNezwqSwlVMYB9g-aaXTpDTY8FRHevpYLV7Vfp_RZk_Z8FXc2AErpU3V2CxKA8qoB9zuPT4tlaj4qyGpIfcvue4GvZRBFb24s7GFWg7ItyCOAX-20HB60jhGSqTjdRor3ZlawM_J_V5YdW1f1zQkU36bT0b6bNQNbl9jS_6hS2gozH2g=" name="&amp;lid=DV+-+CoasttoCoastGoalGretzkyStyle+-+CBS&amp;lpos=Homepage-s3">Coast to Coast Goal - Gretzky Style</a>
				</div>
				
			</div>
		<div class="lclear" style="height: 1px;"></div>
		</div>
	</div> <!-- end hpContentBlock -->


		<div class="headerRCBox">
	<b class="rch">
	<b class="rch1"><b></b></b>
	<b class="rch2"><b></b></b>
	<b class="rch3"></b>
	<b class="rch4"></b>
	<b class="rch5"></b>
	</b> <div class="content">		<div class="headerTitle">
			<div class="headerTitleRight">
				<a href="/web/20061124193253/http://www.youtube.com/browse?s=rf">See More Videos</a>
			</div>
			<span>Featured Videos</span>
		</div>
</div>
	</div>

	<div class="vListBox">
				{% for video in videos %}
								<div class="vEntry">
		<table class="vTable"><tbody><tr>
			<td>
				<a href="watch.php?v={{ video.video_id }}&frontend=2006L"><img src="{{ video_thumbnail(video.video_id) }}" class="vimg120" border="0"></a>
				        <script language="javascript" type="text/javascript">
                if (navigator.appName.indexOf('Microsoft') != -1) {
                        document.write('<div id="add_img_{{ video.video_id }}" style="width:20px;margin-top:-29px;margin-left:1px;">');
                }
                else {
                        document.write('<div id="add_img_{{ video.video_id }}" style="width:20px;margin-top:-29px;margin-left:1px;">');
                }
        </script>
        <a href="#" onclick="clicked_add_icon('{{ video.video_id }}', 0);return false;" title="Add Video to QuickList"><img id="add_button_{{ video.video_id }}" onmouseover="mouse_over_add_icon('{{ video.video_id }}');return false;" onmouseout="mouse_out_add_icon('{{ video.video_id }}');return false;" src="/assets/2006l/icn_add_20x20.gif" alt="Add Video to QuickList" border="0"></a>
        </div>

			</td>
			<td class="vinfo">
				<div class="vtitle">
					<a href="watch.php?v={{ video.video_id }}&frontend=2006L">{{ video.title }}</a><br>
					<span class="runtime">{{ video.videolength }}</span>
				</div>
				<div class="vdesc">	
			<span id="BeginvidDesc{{ video.video_id }}">
	{{ video.description|length > 250 ? data.description|slice(0, 250) ~ '' : video.description }}
	</span>
	
			<span id="RemainvidDesc{{ video.video_id }}" style="display: none">{{ video.description }}</span>
			<span id="MorevidDesc{{ video.video_id }}" class="smallText">(<a href="#" class="eLink" onclick="showInline('RemainvidDesc{{ video.video_id }}'); hideInline('MorevidDesc{{ video.video_id }}'); hideInline('BeginvidDesc{{ video.video_id }}'); showInline('LessvidDesc{{ video.video_id }}'); return false;">more</a>)</span>
			<span id="LessvidDesc{{ video.video_id }}" style="display: none" class="smallText">(<a href="#" class="eLink" onclick="hideInline('RemainvidDesc{{ video.video_id }}'); hideInline('LessvidDesc{{ video.video_id }}'); showInline('BeginvidDesc{{ video.video_id }}'); showInline('MorevidDesc{{ video.video_id }}'); return false;">less</a>)</span>


</div>
				<div class="vfacets">
					<div class="vtagLabel">Tags:</div>
					<div class="vtagValue"><a href="/web/20061124193253/http://www.youtube.com/results?search_query=complaining" class="dg">complaining</a> &nbsp; <a href="/web/20061124193253/http://www.youtube.com/results?search_query=complaints" class="dg">complaints</a> &nbsp; <a href="/web/20061124193253/http://www.youtube.com/results?search_query=choir" class="dg">choir</a> &nbsp; <a href="/web/20061124193253/http://www.youtube.com/results?search_query=birmingham" class="dg">birmingham</a> &nbsp; <a href="/web/20061124193253/http://www.youtube.com/results?search_query=helsinki" class="dg">helsinki</a> &nbsp; <a href="/web/20061124193253/http://www.youtube.com/results?search_query=hamburg" class="dg">hamburg</a></div>
						<span class="grayText">Added:</span> {{ video.time | relative_time }}
						<span class="grayText"> &nbsp; in Category:</span> <a href="/web/20061124193253/http://www.youtube.com/browse?s=mp&amp;t=t&amp;c=1" class="dg">Arts &amp; Animation</a><br>
							<span class="grayText">From:</span> <a href="/web/20061124193253/http://www.youtube.com/user/atomipommi">{{ userlink(video, 'u_') }}</a><br>
						<span class="grayText">Views:</span> {{ video.views }}
				</div>
							<nobr>
			<img class="rating" src="/assets/2006l/star_sm.gif">
			<img class="rating" src="/assets/2006l/star_sm.gif">
			<img class="rating" src="/assets/2006l/star_sm_half.gif">
			<img class="rating" src="/assets/2006l/star_sm_bg.gif">
			<img class="rating" src="/assets/2006l/star_sm_bg.gif">
	</nobr>
		<div class="rating">0 ratings, star rating not implemented lol</div>
	



			</td>
		</tr>
		</tbody></table>
	</div> <!-- end vEntry -->
				{% else %}
					<p>{{ __("No uploaded videos.") }}</p>
				{% endfor %}
	</div> <!-- end vListBox -->
	<div class="footerBox">
		<div style="padding: 3px 0px; text-align: right;"><a href="/web/20061124193253/http://www.youtube.com/browse?s=rf">See More Videos</a></div>
	</div>
</div> <!-- end hpMainCol -->


<div id="hpSideContent">

	<div class="hpContentBlock">
		<div id="hpEmbedTopCap">
					<div id="hpEmbedVideo">
		<object width="300" height="250"><param name="movie" value="/admp.swf?vids=2QShD1BsscY&amp;eurl=/index&amp;iurl=http%3A//sjl-static15.sjl.youtube.com/vi/2QShD1BsscY/2.jpg&amp;t=OEgsToPDskL9yPT3dEXb8c3yxeRQqy-Q"><embed src="/web/20061124193253oe_/http://www.youtube.com/admp.swf?vids=2QShD1BsscY&amp;eurl=/index&amp;iurl=http%3A//sjl-static15.sjl.youtube.com/vi/2QShD1BsscY/2.jpg&amp;t=OEgsToPDskL9yPT3dEXb8c3yxeRQqy-Q" type="application/x-shockwave-flash" width="300" height="250"></object>
		</div>
		
		<div id="hpEmbedUnderBlock">
		
			<table width="100%" cellspacing="0" cellpadding="0"><tbody><tr valign="top">
			<td width="80%"> <!-- begin embedInfo -->
				<div class="vtitle"><a href="/web/20061124193253/http://www.youtube.com/watch?v=2QShD1BsscY">(RED) Manifesto</a></div>
				<div class="vfacets">
					<span class="grayText">From:</span> <i><a href="/web/20061124193253/http://www.youtube.com/user/joinred" class="dg">joinred</a></i><br>
					<span class="grayText">Comments:</span> <a href="/web/20061124193253/http://www.youtube.com/comment_servlet?all_comments&amp;v=2QShD1BsscY&amp;fromurl=/watch?v=2QShD1BsscY">51</a>
				</div>
			</td> <!-- end embedInfo -->
			
			<td width="20%" nowrap="" align="center">
				<div id="ratingDiv">
						<div id="ratingMessage" class="label">Login to rate video</div>
									<nobr>
			<img class="rating" src="/web/20061124193253im_/http://www.youtube.com/img/star.gif">
			<img class="rating" src="/web/20061124193253im_/http://www.youtube.com/img/star.gif">
			<img class="rating" src="/web/20061124193253im_/http://www.youtube.com/img/star.gif">
			<img class="rating" src="/web/20061124193253im_/http://www.youtube.com/img/star_bg.gif">
			<img class="rating" src="/web/20061124193253im_/http://www.youtube.com/img/star_bg.gif">
	</nobr>
		<div class="rating">599 ratings</div>
	



				</div> <!-- end ratings Div -->
			</td>
			
			</tr></tbody></table>
			
			


		</div> <!-- end embedUnderBlock -->	


	</div> <!-- end hpContentBlock -->

	
	


		<div class="hpContentBlock">
				<div class="headerRCBox">
	<b class="rch">
	<b class="rch1"><b></b></b>
	<b class="rch2"><b></b></b>
	<b class="rch3"></b>
	<b class="rch4"></b>
	<b class="rch5"></b>
	</b> <div class="content"><span class="headerTitle">Member Login</span></div>
	</div>

			<div class="contentBox">
				<table>
					<form method="post" name="loginForm" id="loginForm" action="signup"></form>
					<input type="hidden" name="action_login" value="1">
					<tbody><tr>
					<td><b>User Name:</b></td>
					<td><input tabindex="1" type="text" name="username" value="" class="hpLoginField"></td>
					</tr>
					<tr>
					<td><b>Password:</b></td>
					<td><input tabindex="2" type="password" name="password" class="hpLoginField"></td>
					</tr>
					<tr>
					<td>&nbsp;</td>
					<td>
						<div style="float: right;"><b><a href="/web/20061124193253/http://www.youtube.com/signup">Sign Up</a></b></div><b>
						<div><input type="submit" value="Login"></div>
						<div class="hpLoginForgot smallText">
						<b>Forgot:</b> <a href="forgot_username">Username</a> | <a href="/web/20061124193253/http://www.youtube.com/forgot">Password</a>
						</div>
					</b></td>
					</tr>
					
				</tbody></table>
				
			</div>
		</div> <!-- end hpContentBlock -->
	
	
	
	
	
	<div class="hpContentBlock">
			<div class="headerRCBox">
	<b class="rch">
	<b class="rch1"><b></b></b>
	<b class="rch2"><b></b></b>
	<b class="rch3"></b>
	<b class="rch4"></b>
	<b class="rch5"></b>
	</b> <div class="content"><span class="headerTitle">What's New on squareBracket</span></div>
	</div>

		<div class="contentBox">
			<p style="margin-top:0px;">
				<b><a href="/web/20061124193253/http://www.youtube.com/watch_queue?all"><img src="/web/20061124193253im_/http://www.youtube.com/img/pic_home_quicklist_30x37.gif" style="float: left; margin: 2px 6px 10px 0px;" border="0">QuickList</a></b><br>
				Too much good stuff to watch now? Click the "+" on any video to save it for later.
			</p>
			<p style="margin-top:0px;">
				<b><a href="/web/20061124193253/http://www.youtube.com/underground"><img src="/web/20061124193253im_/http://www.youtube.com/img/pic_home_underground_30x37.gif" style="float: left; margin: 2px 6px 10px 0px;" border="0"> YouTube Underground</a></b><br>
				Voting is underway—help pick the winners!
			</p>
			<a href="/web/20061124193253/http://www.youtube.com/blog">Read our Blog</a> to see what else is new!
		</div>
	</div> <!-- end hpContentBlock -->
	
	
	<div class="hpContentBlock">
			<div class="headerRCBox">
	<b class="rch">
	<b class="rch1"><b></b></b>
	<b class="rch2"><b></b></b>
	<b class="rch3"></b>
	<b class="rch4"></b>
	<b class="rch5"></b>
	</b> <div class="content"><span class="headerTitle">Recently Released</span></div>
	</div>

		<div class="contentBox">
			
			<p style="margin-top:0px;">
			<b><a href="/web/20061124193253/http://www.youtube.com/signup?signup_type=c"><img src="/web/20061124193253im_/http://www.youtube.com/img/pic_home_comedians_30x37.gif" style="float: left; margin: 2px 6px 10px 0px;" border="0"> Comedian Accounts</a></b><br>
			Get your standup, improv, or sketches out to a huge audience!
			</p>
			
			<p>
				<b><a href="/web/20061124193253/http://www.youtube.com/school_main"><img src="/web/20061124193253im_/http://www.youtube.com/img/colleges.gif" style="float: left; margin: 2px 6px 10px 0px;" border="0">YouTube Colleges</a></b><br>
				Join or request your college now and start sharing your college experience!
			</p>
		</div>
	</div> <!-- end hpContentBlock -->
	
	
	
	
	
	<div class="hpContentBlock">
			<div class="headerRCBox">
	<b class="rch">
	<b class="rch1"><b></b></b>
	<b class="rch2"><b></b></b>
	<b class="rch3"></b>
	<b class="rch4"></b>
	<b class="rch5"></b>
	</b> <div class="content"><span class="headerTitle">Active Channels</span></div>
	</div>

		<div class="contentBox">
			<div class="hpChannelEntry v80hEntry">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/profile?user=Lunaaa711"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static16.sjl.youtube.com/vi/wF8gc4OnuJM/2.jpg" class="vimg" style="background: #333;"></a></div>
				<div class="vinfo">
					<b><a href="/web/20061124193253/http://www.youtube.com/profile?user=Lunaaa711">Lunaaa711</a></b>
					<div class="vfacets">9 Videos | 155 Subscribers</div>
				</div>
				<div class="clear"></div>
			</div> <!-- end hpChannelEntry -->
						<div class="hpChannelEntry v80hEntry">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/profile?user=tycoony"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static14.sjl.youtube.com/vi/Fb8-SDGpVHE/2.jpg" class="vimg" style="background: #333;"></a></div>
				<div class="vinfo">
					<b><a href="/web/20061124193253/http://www.youtube.com/profile?user=tycoony">tycoony</a></b>
					<div class="vfacets">12 Videos | 95 Subscribers</div>
				</div>
				<div class="clear"></div>
			</div> <!-- end hpChannelEntry -->
						<div class="hpChannelEntry v80hEntry">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/profile?user=southparkstudios"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static15.sjl.youtube.com/vi/JBxsJdWdm0Q/2.jpg" class="vimg" style="background: #333;"></a></div>
				<div class="vinfo">
					<b><a href="/web/20061124193253/http://www.youtube.com/profile?user=southparkstudios">southparkstudios</a></b>
					<div class="vfacets">6 Videos | 167 Subscribers</div>
				</div>
				<div class="clear"></div>
			</div> <!-- end hpChannelEntry -->
						<div class="hpChannelEntry v80hEntry">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/profile?user=BoratFamilyMember"><img src="https://web.archive.org/web/20061124193253im_/http://sjl-static7.sjl.youtube.com/vi/W5gKqQDxXoc/2.jpg" class="vimg" style="background: #333;"></a></div>
				<div class="vinfo">
					<b><a href="/web/20061124193253/http://www.youtube.com/profile?user=BoratFamilyMember">BoratFamilyMember</a></b>
					<div class="vfacets">64 Videos | 549 Subscribers</div>
				</div>
				<div class="clear"></div>
			</div> <!-- end hpChannelEntry -->
			
			<div style="text-align: right;"><a href="/web/20061124193253/http://www.youtube.com/members">See More Channels</a></div>
		</div>
	</div> <!-- end hpContentBlock -->


	<div class="hpContentBlock">
			<div class="headerRCBox">
	<b class="rch">
	<b class="rch1"><b></b></b>
	<b class="rch2"><b></b></b>
	<b class="rch3"></b>
	<b class="rch4"></b>
	<b class="rch5"></b>
	</b> <div class="content"><span class="headerTitle">Active Groups</span></div>
	</div>

		<div class="contentBox">
			<div class="hpGroupEntry v80hEntry">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/group/beheard"><img class="vimg" src="https://web.archive.org/web/20061124193253im_/http://sjl-static6.sjl.youtube.com/vi/305Wld9LfPo/2.jpg"></a></div>
				<div class="vinfo">
					<b><a href="/web/20061124193253/http://www.youtube.com/group/beheard">beheard</a></b>
					
					<div class="vfacets"> 340 Videos | 13 Discussions</div>
				</div>
				<div class="clear"></div>
			</div> <!-- end hpGroupEntry -->
						<div class="hpGroupEntry v80hEntry">
				<div class="vstill"><a href="/web/20061124193253/http://www.youtube.com/group/cybersmack"><img class="vimg" src="https://web.archive.org/web/20061124193253im_/http://sjl-static4.sjl.youtube.com/vi/x78EEDGOW0c/2.jpg"></a></div>
				<div class="vinfo">
					<b><a href="/web/20061124193253/http://www.youtube.com/group/cybersmack">cybersmack</a></b>
					
					<div class="vfacets"> 11 Videos | 444 Discussions</div>
				</div>
				<div class="clear"></div>
			</div> <!-- end hpGroupEntry -->
			
			<div style="text-align: right;"><a href="/web/20061124193253/http://www.youtube.com/groups_main">See More Groups</a></div>
		</div>
	</div> <!-- end hpContentBlock -->
	
	
	
</div> <!-- end hpSideCol -->
</div>
{% endblock %}