{% extends "_layout.twig" %}

{% block title %}{{ __("Statistics") }}{% endblock %}

	{% block content %}
	<div class="card">
		<div class="card-body">
		<div style="padding:5px;">
		<h2>{{ __("About this instance of squareBracket") }}</h2>
		</div>
		<div class="grid">
			<div class="col-md-6"><div class="statbox">
			<div class="stat-title">{{ __("Users") }}</div>
			{{ stats.usercount }}
			</div></div>
			<div class="col-md-6"><div class="statbox">
			<div class="stat-title">{{ __("Videos") }}</div>
			{{ stats.videocount }}
			</div></div>
		</div>
		</div>
	</div>
	{% endblock %}
