<div class="headers">
    <div class="cubicle-header">
        <div class="cubicle-header-container">
            <div class="header-logo">
                <a href="/">
                    <img alt="{{ website_branding.name }}" class="logo" src="{{ website_branding.assets_location }}/logo-wordmark.png">
                    <img alt="{{ website_branding.name }}" class="logo-small" src="{{ website_branding.assets_location }}/logo.png">
                </a>
            </div>
            <form class="header-search" action="/search">
                <input id="header-search-input" type="text" name="query" placeholder="{{ localize('search') }}...">
                <button id="header-search-button" class="button button-secondary">
                    Search
                </button>
            </form>
            <div class="header-links">
                {% if is_user_logged_in %}
                    <!--<a class="menulink" href="/notices">{{ user_notice_data }} notifications</a>-->
                    <div class="user-menu-container">
                        <div class="menu-button user-menu-button" data-menu-id="user-menu">
                            <img src="{{ profile_picture(user_data.name) }}" class="user-menu-pfp" alt="{{ user_data.name }}">
                            <div class="menu-caret-container user-menu-caret-container">
                                <i class="bi bi-caret-down-fill menu-caret"></i>
                            </div>
                        </div>
                        <div class="menu" id="user-menu">
                            {% for link in header_user_links() %}
                                <a class="menu-item-button" href="{{ link.url }}">{{ link.name }}</a>
                            {% endfor %}
                            <hr>
                            {% for link in header_user_account_links() %}
                                <a class="menu-item-button" href="/login/{{ link.username }}">
                                    <img src="{{ profile_picture(link.username) }}" class="menu-item-profile-picture" alt="{{ link.username }}">
                                    {{ link.username }}
                                </a>
                            {% endfor %}
                            <a class="menu-item-button small" href="/login">Add another account</a>
                        </div>
                    </div>
                {% else %}
                    {% for link in header_user_links() %}
                        <a class="menulink" href="{{ link.url }}">{{ link.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="header">
        <div class="header-container">
            <div class="header-main-links">
                {% for link in header_main_links() %}
                    <a class="menulink" href="{{ link.url }}">{{ link.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>