<div class="card" style="margin-bottom:4px">
	<div class="card-body">
		<div class="grid">
				<div class="col-md-12">
				<a href="watch.php?v={{ data.video_id }}">
						<img class="img-fluid" src="{{ video_thumbnail(data.video_id) }}">
						<span class="video-time">{{ video_length(data) }}</span>
				</a>
				</div>
				<div class="col-md-12">
				<h3><a href="watch.php?v={{ data.video_id }}">{{ data.title }}</a></h3>
				<p style="line-height:1;">{{ userlink(data, 'u_') }} &bull; {{ data.views }} {{ __("views") }}	&bull;
				<span class="text-muted">{{ data.time | relative_time }}</span> &bull; {{ data.category_id | category_id_to_name() }}</p>
				<p>{{ data.description|length > 250 ? data.description|slice(0, 250) ~ '...' : data.description }}</p>
				</div>
		</div>
	</div>
</div>