<div class="card" style="margin-bottom:4px">
	<div class="card-body">
		<div class="grid">
				<div class="col-md-12">
				<a href="watch.php?v={{ data.video_id }}">
						<img class="img-fluid" src="{{ video_thumbnail(data.video_id) }}">
						<span class="video-time">{{ video_length(data) }}</span>
				</a>
				</div>
				<div class="col-md-12">
				<h3><a href="watch.php?v={{ data.video_id }}">{{ data.title }}</a></h3>
					<div class="col-md-2" style="padding-left:0;">
					<img class="rounded img-fluid" src="{{ profile_image(data.u_name) }}"  alt="{{ data.u_name }}">
					</div>
					<div class="col-md-10">
						<p style="line-height:1;margin:0;">{{ userlink(data, 'u_') }}<br> {{ data.views }} {{ __("views") }}	&bull;
						<span class="text-muted">{{ data.time | relative_time }}</span> &bull; {{ data.category_id | category_id_to_name() }}</p>
					</div>
				</div>
		</div>
	</div>
</div>