{% extends "_layout.twig" %}

{% block title %}{{ __("Home") }}{% endblock %}
	{% block content %}
<div class="row">
	<div class="col-xl-8">
		{% if subscriptionVideos %}
			<div class="row">
				<div class="col-8">
				<h3>{{ __("From my subscriptions") }}</h3>
				</div><div class="col-4">
				<div class="text-end"><a href="browse.php?subscriptions" class="btn btn-light btn-sm">{{ __("Browse subscriptions") }}</a></div>
				</div>
				<h3></h3>
				<div class="row">
					{% for video in subscriptionVideos %}
						<div class="col-3">
							{{ browse_video_box(video) }}
						</div>
					{% else %}
						<p>{{ __("There are currently no videos from your subscriptions.") }}</p>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-8">
			<h3>{{ __("Recently uploaded to squareBracket") }}</h3>
			</div><div class="col-4">
			<div class="text-end"><a href="browse.php" class="btn btn-light btn-sm">{{ __("Browse videos") }}</a></div>
			</div>
		</div>
		{% for video in videos %}
			{{ video_box(video) }}
		{% else %}
			<p>{{ __("No uploaded videos.") }}</p>
		{% endfor %}
	</div>
	<div class="col-xl-4">
		{% if logged_in %}
			</p>
				<img class="float-start rounded-circle w-25 me-3" src="{{ profile_image(current_user.username) }}"  alt="{{ current_user.username }}">
				<p class="text-start float-end">
				<h3>{{ current_user.display_name }}</h3>
					{# hack to prevent twig from outputing the number 1 #}
					{% if totalSubscribers != 1 %}
						{% set pluralSubscribers = __("s") %}
					{% endif %}
					{% if totalViews != 1 %}
						{% set pluralViews = __("s") %}
					{% endif %}
					<p class="fs-5 mb-1">@{{ current_user.username }}</p>
					<p class="mb-2">{{ __("%s subscriber%s", [totalSubscribers ?? __("no"), pluralSubscribers]) }}</p>
					<p class="mb-2">{{ __("%s view%s", [totalViews ?? __("no"), pluralViews]) }}</p>
		{% else %}
			<h3>{{ __("Welcome to squareBracket") }}</h3>
			<p>{{ __("I can't believe it's not PokTube") }}</p>
		{% endif %}
		<hr/>
		<h3>{{ __("News and updates") }}</h3>
		<p>Hello people. This is Gamerappa. We at squareBracket are not sure about what to do with squareBracket. 
		No, we won't be shutting it down, that's dumb. We simply just don't know what to do with the website. 
		Right now, this is a generic video sharing site that barely has any features and that has no advantages
		compared to YouTube or even SubRocks. I was considering adding features that could expand
		squareBracket to be <i>more</i> than a video sharing website. But i'm not even sure if that's a good
		idea. Like what to add, art stuff? a forum? I'm simply not even sure about if those planned new features
		are even a good idea... 😕</p>
		<p class="blockquote-footer">{{ __("Gamerappa") }}</p>
		<figure>
		  <blockquote class="blockquote">
		    <p>I don't feel there's a focus or common goal. like, we've just been switching back and forth between what should be the squarebracket frontend. and what should squarebracket be? should it just be a site for people upload shitposts onto or should it become an actual serious video sharing site people would be willing to use?</p>
		  </blockquote>
		  <figcaption class="blockquote-footer">
		    Sublayer/Roller, on <cite title="Gamerappa's direct messages">Gamerappa's direct messages</cite>
		  </figcaption>
		</figure>
		<hr/>
		<h3>{{ __("Featured videos") }}</h3>
		{% for video in featuredVideos %}
			{{ small_video_box(video) }}
		{% else %}
			<p>{{ __("No featured videos.") }}</p>
		{% endfor %}
	</div>
</div>
	{% endblock %}
