{% extends "_layout.twig" %}

{% block title %}{{ post_data.title }}{% endblock %}

	{% block content %}
<div class="card">
  <div class="card-header">
    {{ post_data.title }}
  </div>
  <div class="card-body">
   <div class="row">
   	<div class="col-md-2">
   	{{ post_data.u_username }}
	<img class="float-start rounded w-75" src="{{ profile_image(video.u_username) }}">
   	</div>
   	<div class="col-md-10">
   	 {{ post_data.content }}
   	</div>
    </div>
  </div>
</div>
	{% endblock %}
