{% extends "_layout.twig" %}

{% block head %}
	<meta name="title" content="{{ video.title }} - squareBracket">
	<meta name="description" content="{{ video.description|length > 250 ? video.description|slice(0, 250) ~ '...' : video.description }}">
	<meta property="og:site_name" content="SquareBracket"/>
	<meta property="og:title" content="{{ video.title }} - squareBracket">
	<meta property="og:description" content="{{ video.description|length > 250 ? video.description|slice(0, 250) ~ '...' : video.description }}">
	<meta property="og:image" content="{{ domain }}{{ video_thumbnail(video.video_id) }}">
	<meta property="og:url" content="{{ page_url }}">
	<meta property="twitter:title" content="{{ video.title }} - squareBracket">
	<meta property="twitter:description" content="{{ video.description|length > 250 ? video.description|slice(0, 250) ~ '...' : video.description }}">
	<meta property="twitter:image" content="{{ domain }}{{ video_thumbnail(video.video_id) }}">
	<meta name="twitter:card" content="summary_large_image">
	<script>
		video_id = '{{ video.video_id }}';
		user_id = '{{ video.author }}';
	</script>
{% endblock %}

{% block title %}{{ video.title }}{% endblock %}

	{% block content %}
<div class="row">
	<div class="col-lg-9">
		<div id="playerContainer">
			{% if (video.flags b-and 2) %}
				<div style="height: 30rem; background-color: black; color: white; text-align: center; padding: 15rem">
					{{ __("This video is being processed. Try again later.") }}
				</div>
			{% endif %}
		</div>
		<script src="https://cdn.jsdelivr.net/npm/indigo-player@1/lib/indigo-player.js"></script>
		    <style>
				@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
				.igui-icon-font {
					font-family: 'bootstrap-icons';
				}
				.igui_icon_pip::before {
					content: "\f4ef";
				}
				.igui_icon_fullscreen-exit::before {
					content: "\f3de";
				}
				.igui_icon_fullscreen::before {
					content: "\f3df";
				}
				.igui_icon_play::before {
					content: "\f4f4";
				}
				.igui_icon_pause::before {
					content: "\f4c3";
				}
				.igui_icon_volume-off::before {
					content: "\f60c";
				}
				.igui_icon_volume-1::before {
					content: "\f60a";
				}
				.igui_icon_volume-2::before {
					content: "\f610";
				}
				.igui_icon_settings::before {
					content: "\f3e2";
				}
				.igui_icon_back::before {
					content: "\f131";
				}
				.igui_seekbar_progress,
				.igui_seekbar_scrubber {
					background-color: var(--bs-primary);
				}
				.ig-container {
					font-family: var(--bs-font-sans-serif);
				}
				.ig_contextmenu {
					background: rgba(0,0,0,0.85);
					border-radius: 5px;
					padding: 8px 0;
				}
			</style>
		<script>
			{% if not (video.flags b-and 2) %}
				const config = {
					autoplay: true,
					sources: [
						{
							type: 'dash',
							src: '{{ video.videofile }}'
						}
					],
					ui: {
						image: '{{ video_thumbnail(video.video_id) }}',
						locale: '{{ current_user.language | replace({'_': '-'}) }}'
					}
				};
				const element = document.getElementById('playerContainer');
				const player = IndigoPlayer.init(element, config);
			{% endif %}
		</script>
		<div style="margin-top:5px">
			<div class="card">
				<div class="card-body">
					<h4>{{ video.title }}</h4><hr class="mt-2 mb-3"/>
					<div class="row">
						<div class="col-lg-9">
							<div class="row">
								<div class="col-lg-2" style="width:10%;padding-right:0">
									<a href="user.php?name={{ video.u_username }}">
										<img class="float-start rounded w-100" src="{{ profile_image(video.u_username) }}">
									</a>
								</div>
								<div class="col-lg-10">
									{{ userlink(video, 'u_') }}<br>
									<small>{{ __("Uploaded on %s", [video.time | date('M j, Y')]) }} &bull; {{ video.views }} {{ __("views") }} &bull; {{ subCount }} {{ __("subscribers") }}</small>
								</div>
							</div>
						</div>
						<div class="col-3 text-end">
							<a href="#" id="{% if logged_in %}like{% endif %}" class="text-{% if rating %}success{% else %}body{% endif %}"><svg class="bi" width="20" height="20" fill="currentColor">
								<use xlink:href="vendor/twbs/bootstrap-icons/bootstrap-icons.svg#hand-thumbs-up-fill"/>
							</svg></a> <span id="likes">{{ total_likes }}</span>
							<a href="#" id="{% if logged_in %}dislike{% endif %}" class="text-{% if rating == 0 %}danger{% else %}body{% endif %}"><svg class="bi" width="20" height="20" fill="currentColor">
								<use xlink:href="vendor/twbs/bootstrap-icons/bootstrap-icons.svg#hand-thumbs-down-fill"/>
							</svg></a> <span id="dislikes" style="padding-right: 10px">{{ total_dislikes }}</span>
							<button id="subscribe" class="btn btn-{% if subscribed %}secondary{% elseif current_user.id == video.author %}primary{% else %}warning{% endif %}" type="button" {% if not logged_in or current_user.id == video.author %}disabled{% endif %}>{% if subscribed %}{{ __("Unsubscribe") }}{% elseif current_user.id == video.author %}{{ __("Edit video") }}{% else %}{{ __("Subscribe") }}{% endif %}</button>
						</div>
						<p style="margin-top: 1rem;">{{ video.description }}</p>
					</div>
				</div>
			</div>
		</div> <!-- WATCH VIDEO BOX -->
		<div class="mt-1">
				<div class="card">
				<div class="card-body">
				<h5>Comments</h5><hr class="mt-2 mb-3"/>
							<textarea class="form-control mt-2 mb-3" id="commentContents" style="overflow:hidden;resize:none"
			rows="3" placeholder="{% if logged_in %}{{ __("Enter comment here, Markdown can be used here.") }}{% else %}{{ __("Please sign in in order to comment.") }}{% endif %}"></textarea>
			{% if logged_in %}<div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top:5px;margin-bottom:15px">
			<class=
			<button id="{% if logged_in %}post{% endif %}" class="btn btn-primary {% if not logged_in %}disabled{% endif %}">
			{{ icon('reply-fill', 16) }} 
			{{ __("Send") }}
			<div class="spinner-border spinner-border-sm d-none" id="commentPostingSpinner" role="status" aria-hidden="true"><span class="visually-hidden">Posting...</span></div>
			</button>
			</div>{% endif %}
				<div id="comment"></div>
				{% for comment in comments %}
					{{ comment(comment) }}
				{% endfor %}
				</div>
				</div>
		</div>
	</div>
	<div class="col-lg-3">
		{% for related_video in related_videos %}
			{{ small_video_box(related_video)}}
		{% endfor %}
	</div>
</div>
	{% endblock %}
