{% if is_chaziz_sb %}
    {% if current_theme == 'dark' %}
        {% set logo = '/assets/sb_branding/finalium/logo-wordmark-dark.png' %}
    {% elseif current_theme == 'beta' %}
        {% set logo = '/assets/sb_branding/finalium/logo-2021.png' %}
    {% else %}
        {% set logo = '/assets/sb_branding/finalium/logo-wordmark.png' %}
    {% endif %}
{% else %}
    {% set logo = website_branding.assets_location ~ '/logo-wordmark.png' %}
{% endif %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - {{ website_branding.name }}</title>
    {% block head %}{% endblock %}
    <link rel="manifest" href="{{ website_branding.assets_location }}/icons/site.webmanifest">
    <link rel="shortcut icon" href="{{ website_branding.assets_location }}/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ website_branding.assets_location }}/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ website_branding.assets_location }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ website_branding.assets_location }}/icons/favicon-16x16.png">
    <meta name="apple-mobile-web-app-title" content="{{ website_branding.name }}">
    <meta name="application-name" content="{{ website_branding.name }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/css/finalium.css?r={{ get_css_file_date() }}" type="text/css">
    {% if current_theme == 'dark' %}
        <link id="darkthm" rel="stylesheet" href="/assets/css/finalium_darkmode.css?r={{ get_css_file_date() }}" type="text/css">
    {% elseif current_theme == 'nostalgia' %}
        <link id="nostalgia" rel="stylesheet" href="/assets/css/finalium_nostalgia.css?r={{ get_css_file_date() }}" type="text/css">
    {% elseif current_theme == 'qobo' %}
        <link id="nostalgia" rel="stylesheet" href="/assets/css/finalium_qobo.css?r={{ get_css_file_date() }}" type="text/css">
    {% elseif current_theme == 'beta' %}
        <link id="nostalgia" rel="stylesheet" href="/assets/css/finalium_beta.css?r={{ get_css_file_date() }}" type="text/css">
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/assets/common_finalium.js?r={{ get_css_file_date() }}"></script>
    {% block script %}{% endblock %}
    <script>
        subscribe_string = 'Follow';
        unsubscribe_string = 'Unfollow';
    </script>
    <style>
        {% block customcss %}{% endblock %}
    </style>
</head>
<body>
{% if current_theme == 'nostalgia' %}
    {% include "components/nostalgia/_header.twig" %}
{% elseif current_theme == 'beta' %}
    {% include "components/beta/_header.twig" %}
{% else %}
    {% include "components/_header.twig" %}
{% endif %}
{% block precontent %}{% endblock %}
<div class="container page-container">
    {% if session.notif_message %}
        <div class="header_message header-{{ session.notif_color }}">
        {{ session.notif_message }}
        </div>
        {{ remove_notification() }}
    {% endif %}
    {% if user_ban_data %}
        <div class="header_message header-danger">You have been banned for the following reason: {{ user_ban_data.reason }}</div>
    {% endif %}
    {% block content %}{% endblock %}
</div>
{% if current_theme == 'beta' %}
    {% include "components/beta/_footer.twig" %}
{% else %}
    {% include "components/_footer.twig" %}
{% endif %}
</body>
</html>