<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - {{ website_branding.name }}</title>
    {% block head %}{% endblock %}
    <link rel="manifest" href="/{{ website_branding.assets_location }}/icons/site.webmanifest">
    <link rel="shortcut icon" href="/{{ website_branding.assets_location }}/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/{{ website_branding.assets_location }}/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/{{ website_branding.assets_location }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/{{ website_branding.assets_location }}/icons/favicon-16x16.png">
    <meta name="apple-mobile-web-app-title" content="{{ website_branding.name }}">
    <meta name="application-name" content="{{ website_branding.name }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/css/finalium.css?r={{ get_css_file_date() }}" type="text/css">
    {% if current_theme == 'dark' %}
        <link id="darkthm" rel="stylesheet" href="/assets/css/finalium_darkmode.css?r={{ get_css_file_date() }}" type="text/css">
    {% elseif current_theme == 'nostalgia' %}
        <link id="nostalgia" rel="stylesheet" href="/assets/css/finalium_nostalgia.css?r={{ get_css_file_date() }}" type="text/css">
    {% elseif current_theme == 'qobo' %}
        <link id="nostalgia" rel="stylesheet" href="/assets/css/finalium_qobo.css?r={{ get_css_file_date() }}" type="text/css">
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/assets/common_finalium.js?r={{ get_css_file_date() }}"></script>
    {% block script %}{% endblock %}
    <script>
        subscribe_string = 'Follow';
        unsubscribe_string = 'Unfollow';
    </script>
    <style>
        {% block customcss %}{% endblock %}
    </style>
</head>
<body>
{% if current_theme == 'nostalgia' %}
    {% include "components/nostalgia/_header.twig" %}
{% else %}
    {% include "components/_header.twig" %}
{% endif %}
{% block precontent %}{% endblock %}
<div class="container page-container">
    {% if session.notif_message %}
        <div class="header_message header-{{ session.notif_color }}">
        {{ session.notif_message }}
        </div>
        {{ remove_notification() }}
    {% endif %}
    {% if user_ban_data %}
        <div class="header_message header-danger">You have been banned for the following reason: {{ user_ban_data.reason }}</div>
    {% endif %}
    {% block content %}{% endblock %}
</div>
<footer>
    <div class="footer">
        <img src="/assets/opensb_logo.png" alt="OpenSB">
        <p><strong>© openSB contributors</strong> · 2021-{{ 'now' | date('Y') }}
            | <strong><a href="/privacy">Privacy Policy</a></strong>
        </p>
        <h5>Running OpenSB {{ opensb_version }}</h5>
        {% if isMaintenance != true %}
            <a class="button button-neutral button-small options-button" role="button" href="/theme">Options</a>
            {% if isDebug %}
                <a class="button button-danger button-small debug-button tooltip" title="Spicy!" role="button">Debug</a>
            {% endif %}
            <div id="optionsModal" class="bg-neutral" style="padding:0.3em;">
            </div>
            {% if isDebug %}
                <div id="debugModal" class="bg-neutral" style="padding:0.3em;">
                    <h3>Debug info</h3>
                    <div class="header_message header-danger">It is risky to screenshot this due to security reasons, so please don't.</div>
                    <p><pre>{{ dump() }}</pre></p>
                </div>
            {% endif %}
        {% endif %}
    </div>
</footer>
</body>
</html>