{% extends "_layout.twig" %}

{% block title %}Admin panel{% endblock %}

	{% block content %}
		<h1>Admin panel</h1>
		<p>Currently running openSB build %s (commit %s) on %s.", [version, git_commit(), operating_system()]) }}</p>
		<table style="width: 100%;">
			<caption>What's going on?</caption>
			<tr>
				<td class="nb" style="width:33%; vertical-align:top;">
					<table class="c1">
						<caption>Last registered</caption>
						<tr class="h">
							<th class="b" colspan="2">Last registered</td>
						</tr>
						{% for user in latest_registered_users %}
							<tr>
								<td class="b"><a href="user.php?name={{ user.name }}">{{ user.name }}</a></td>
								<td class="b">{{ user.joined | date() }}</td>
							</tr>
						{% endfor %}
					</table>
				</td>
				<td class="nb" style="width:33%; vertical-align:top;">
					<table class="c1">
						<caption>Last signed in</caption>
						<tr class="h">
							<th class="b" colspan="2">Last signed in</td>
						</tr>
						{% for user in latest_seen_users %}
							<tr>
								<td class="b"><a href="user.php?name={{ user.name }}">{{ user.name }}</a></td>
								<td class="b">{{ user.lastview | relative_time }}</td>
							</tr>
						{% endfor %}
					</table>
				</td>
				<td class="nb" style="width:33%; vertical-align:top;">
					<table class="c1">
						<caption>Latest submissions</caption>
						<tr class="h">
							<th class="b" colspan="2">Latest submissions</td>
						</tr>
						{% for video in videos %}
							<tr>
								<td class="b"><a href="watch.php?v={{ video.video_id }}">{{ video.title }}</td>
								<td class="b">{{ video.time | relative_time }}</td>
							</tr>
						{% endfor %}
					</table>
				</td>
			</tr>
		</table>

		<table style="width: 100%;">
			<caption>More detailed statistics</caption>
			<tr class="h">
				{% for thing in things_to_count %}
					<th class="b h" width=100>{{ thing | title }}</td>
				{% endfor %}
			</tr>
			<tr>
				{% for thing in things_to_count %}
					<td class="b">{{ count[thing] }}</td>
				{% endfor %}
			</tr>
		</table>

		<h3>All comments</h3>
		{% for comment in comments %}
			<div class="grid">
				<div class="col-md-12" id="{{ comment.comment_id }}">
					{{ userlink(comment, 'u_') }} &bull; {{ comment.date | relative_time }}
					<br>
					<div class="comment">
						{{ comment.comment | markdown }}
					</div>
					<br>
					<p>
						<a>Delete</a>
					</p>
				</div>
			</div>
		{% endfor %}
	{% endblock %}
