{% extends "_layout.twig" %}

{% block content %}
    <div class="grid">
        {% for user in users|batch(16) %}
            {% for cell in user %}
                <div class="col-md-1">
                    <a href="/user?name={{ cell.name }}"><img src="{{ profile_picture(cell.name) }}" alt="{{ cell.name }}" class="img-fluid rounded" alt="{{ cell.name }}"></a>
                    <h4 style="margin: 0;text-align:center;display:block;"><a
                                href="/user?name={{ cell.name }}">{{ cell.name }}</a></h4>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}