{% extends "_layout.twig" %}
{% block title %}{{ data.displayname }}{% endblock %}

{% if data.is_fedi %}
    {% set profile_picture = data.fedi_pfp %}
    {% set banner_picture = data.fedi_banner %}
{% else %}
    {% set profile_picture = profile_picture(data.username) %}
    {% set banner_picture = profile_banner(data.username) %}
{% endif %}

{% block head %}
    <meta name="title" content="{{ data.displayname }} - {{ website_branding.name }}">
    <meta name="description"
          content="{{ data.about|length > 250 ? data.about|slice(0, 250) ~ '...' : data.about }}">
    <meta name="theme-color" content="{{ data.customcolor }}">
    <meta property="og:site_name" content="{{ website_branding.name }}"/>
    <meta property="og:title" content="{{ data.displayname }} - {{ website_branding.name }}">
    <meta property="og:description"
          content="{{ data.about|length > 250 ? data.about|slice(0, 250) ~ '...' : data.about }}">
    <meta property="og:image" content="{{ profile_picture(user_data.name) }}">
    <meta property="og:url" content="{{ page_url }}">
    <script>
        user_id = '{{ data.id }}';
    </script>
{% endblock %}
{% block content %}
    {% if userbandata != true %}
        {% if data.id == user_data.id and not forceuser %}
            <div class="bg-neutral" style="padding:1px 15px;">
                <p class="center"><a href="/settings">Edit my settings</a>
                    &bull; <a href="/user?id={{ id }}&forceuser">View user page as viewer</a>
                    {% if data.powerlevel > 2 %}
                    &bull; <a href="/admin">Admin panel</a>
                    {% endif %}
                </p>
            </div>
        {% endif %}
    {% endif %}
    <div class="bg-neutral" style="padding: 15px 10px;">
        <div class="grid">
            <div class="col-md-1">
                <img class="rounded img-fluid" src="{{ profile_picture }}" alt="{{ data.username }}">
            </div>
            <div class="col-md-13">
                <h1 style="margin: 0">
                    {{ data.displayname }}
                    {% if data.is_fedi %}
                        <img style="width:24px;" src="https://{{ data.instance }}/favicon.png">
                    {% else %}
                        <img style="width:24px;" src="{{ website_branding.assets_location }}/logo.png">
                    {% endif %}
                </h1>
                <p>@{{ data.username }}
                    {# hack to prevent twig from outputing the number 1 #}
                    {% if data.followers != 1 %}
                        {% set pluralSubscribers = "s" %}
                    {% endif %}
                    {% if views != 1 %}
                        {% set pluralViews = "s" %}
                    {% endif %}
                    &bull; {{ data.followers ?? "no" }} follower{{pluralSubscribers }}
                    &bull; {{ views ?? "no" }} view{{ pluralViews }}
                </p>
            </div>
            <div class="col-md-2 right">
                {% if data.id != user_data.id %}
                    <button id="subscribe" class="button button-{% if subscribed %}secondary{% else %}primary{% endif %}"
                            type="button"
                            {% if not is_user_logged_in %}disabled{% endif %}>{% if subscribed %}Unfollow{% else %}Follow{% endif %}</button>
                {% endif %}
            </div>
        </div>
        <div class="grid">
        <div class="col-md-4">
            {% if markread %}
                <div class="header_message header-primary">Marked all notifications as read.</div>
            {% elseif edited %}
                <div class="header_message header-primary">Settings successfully saved!</div>
            {% endif %}
            <h2></h2>
            <div class="user_about">
                <h3>About {{ data.displayname }}</h3>
                {{ data.about | markdown }}
                <p><strong>Registered on</strong>: {{ data.joined | date('Y-m-d H:i:s') }}</p>
                <p><strong>Last logged in</strong>: {{ data.connected | relative_time }}</p>
            </div>
        </div>
        <div class="col-md-12">
            {% for submission in data.submissions %}
                {{ submission_box(submission) }}
            {% else %}
                <p>There are currently no submissions by {{ data.displayname }}</p>
            {% endfor %}
            {% if user_data.id == id %}
                {% set forceuser = "&forceuser" %}
            {% else %}
                {% set forceuser = "" %}
            {% endif %}
            {% set le_url = 'user?id=' ~ id ~ '&page=%s' ~ forceuser %}
            {{ pagination(level_count, items_per_page, le_url, page) }}
            <div class="card card-body-fat">
            {% if is_user_logged_in %}
                <div class="grid" id="commentField">
                    <div class="col-md-1">
                        <img class="rounded img-fluid" alt="{{ user_data.name }}" src="{{ profile_picture(user_data.name) }}">
                    </div>
                    <div class="col-md-15">
                        <div>
				<textarea class="form-control" id="commentContents" style="overflow:hidden;resize:vertical" rows="3"
                          placeholder="Enter comment here."></textarea>
                        </div>
                        <div class="right">
                            <button id="post-user" class="button button-primary"
                                    style="margin-bottom:0;">Comment</button>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div id="comment"></div>
            {% for comment in comments %}
                {{ comment(comment) }}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}