{% extends "_layout.twig" %}

{% block title %}{{ query }}{% endblock %}

	{% block content %}
        <h1>{{ query }}</h1>
        {% for video in videos %}
            {{ submission_box(video) }}
        {% else %}
            <div class="bg-dark"
                 style="max-width:700px;margin:auto;padding:20px;padding-bottom:100px;color:white;">
                <h2>There are no submissions that match your query.</h2>
                <div style="text-align:center;margin:auto"><img src="../assets/logo_monochrome.png"
                                                                style="max-width:150px;" alt="{{ website_branding.name }}"></div>
            </div>
        {% endfor %}

        {% if type == 'all' %}
            {% set le_url = 'browse?page=%s' %}
        {% else %}
            {% set le_url = 'browse?type=' ~ type ~ '&page=%s' %}
        {% endif %}
        {{ pagination(level_count, items_per_page, le_url, page) }}

        <br><br>
    {% endblock %}