{% extends "_layout.twig" %}

{% set title = "Customize" %}

{% block content %}
    <h1>Change theme</h1>
    <div class="grid">
        <div class="col-md-6">
            <div id="previewContainer">
                <img id="themePreview" src="" alt="Theme Preview" style="max-width: 100%;">
                <p id="themeDescription"></p><p id="themeAuthor"></p>
            </div>
        </div>
        <div class="col-md-6">
            <form name="uploadForm" id="uploadForm" method="post" action="theme">
                <div>
                    <label for="theme">Skin:</label>
                    <select id="theme" name="theme" onchange="updatePreview()">
                        {% for skin in skins %}
                            {% for theme in skin.metadata.themes %}
                                <option value="{{ skin.metadata.id }},{{ theme.id }}"
                                        data-preview-url="/assets/previews/{{ skin.metadata.id }}_{{ theme.id }}.png"
                                        data-description="{{ theme.description }}" data-author="{{ theme.author }}">
                                    {{ skin.metadata.name }}: {{ theme.name }}
                                </option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div>
                    <input type="checkbox" id="sounds" name="sounds" value="true">
                    <label for="sounds"> Enable UI sounds</label>
                </div>
                <br>
                <input type="submit" id="apply" name="apply" value="Apply" class="button button-primary">
            </form>
        </div>
    </div>
    <script src="/assets/theme.js"></script>
{% endblock %}