{% extends "_layout.twig" %}
{% block head %}
   <meta name="description" content="{{ submission.description|length > 250 ? submission.description|slice(0, 250) ~ '...' : submission.description }}">
   <meta property="og:description" content="{{ submission.description|length > 250 ? submission.description|slice(0, 250) ~ '...' : submission.description }}">
   <meta property="og:image" content="{{ domain }}{{ thumbnail(submission.id, submission.type, submission.bools.custom_thumbnail) }}">
   <meta property="og:url" content="{{ page_url }}">
   <script>
      submission_id = '{{ submission.id }}';
      user_id = '{{ submission.author.id }}';
   </script>
{% endblock %}
{% block title %}{{ submission.title }}{% endblock %}
{% block content %}
   <div class="watchNext">
      {% if user_data.id == submission.author %}
         <div class="bg-dark text-light card card-body" style="border-bottom:none;border-color:black;">
            <div class="grid">
               <a class="button button-dark" href="/edit.php?v={{submission.video_id}}">Edit submission</a>
            </div>
         </div>
      {% endif %}
      <div class="grid">
         <div class="col-md-10">
            {{ submission_view(submission) }}
            <div class="card card-body-fat" style="margin:0;border-bottom:none;padding-bottom:0;">
               <h1>{{ submission.title }}</h1>
               <div class="grid">
                  <div class="col-md-8">
                     <img src="{{ profile_picture(submission.author.info.username) }}" class="rounded" style="width:48px;float: left;margin-right:8px;">
                     <a href="/user.php?name={{ submission.author.info.username }}" style="color:{{ submission.author.info.customcolor }}"><b style="height: 20px;display: inline-block;">{{ submission.author.info.username }}</b></a> {# • {{ allVideos }} videos#}
                     <br>
                     {% if submission.is_owner %}
                        <a class="button button-secondary button-small">Settings</a>
                     {% else %}
                        <button id="subscribe-watch" class="button button-{% if submission.author.following %}secondary{% else %}primary{% endif %} button-small" type="button" {% if not is_user_logged_in or user_data.id == submission.author.id %}disabled{% endif %}>{% if submission.author.following %}Unfollow{% else %}Follow{% endif %}</button>
                        <div class="subscribe-count">{{ submission.author.followers }}</div>
                     {% endif %}
                     <br>
                  </div>
                  <div class="col-md-8 right">
                     <h1 class="viewcount">{{ submission.interactions.views }}</h1>
                     <div class="likesaber">
                        <div class="like" style="width:{{ submission.interactions.legacy.ratio }}%"></div>
                     </div>
                     <div class="below-likesaber">
                        {{ icon("hand-thumbs-up-fill", 12) }} {{ submission.interactions.legacy.likes }}
                        {{ icon("hand-thumbs-down-fill", 12) }} {{ submission.interactions.legacy.dislikes }}
                     </div>
                  </div>
               </div>
               <div class="grid" style="margin-top:5px;">
                  <div class="col-md-8">
                     <div style="margin-top:-9px;">
                        <button href="/#" id="{% if is_user_logged_in %}like{% else %}action_unlogged{% endif %}"
                                class="button {% if submission.interactions.legacy.current_rating == "like" %}button-success{% else %}button-secondary-invis{% endif %}">
                           {{ icon("hand-thumbs-up-fill", 20) }}
                           Like
                        </button>
                        <button href="/#" id="{% if is_user_logged_in %}dislike{% else %}action_unlogged{% endif %}"
                                class="button {% if submission.interactions.legacy.current_rating == "dislike" %}button-danger{% else %}button-secondary-invis{% endif %} tooltip" title="Dislike">
                           {{ icon("hand-thumbs-down-fill", 20) }}
                        </button>
                        {# <button href="/#" id="{% if is_user_logged_in %}favorite{% else %}action_unlogged{% endif %}"
                                class="button {% if isFavorited %}button-warning{% else %}button-secondary-invis{% endif %} tooltip" title="Favorite">
                           {{ icon("star-fill", 20) }}
                        </button> #}
                     </div>
                  </div>
                  <div class="col-md-8 right">
                     <div class="tab">
                        <button class="tablinks active" onclick="openTab(event, 'About')" id="defaultOpen">About</button>
                        <button class="tablinks" onclick="openTab(event, 'Stats')">{{ icon("bar-chart-fill", 12) }}</button>
                        <button class="tablinks" onclick="openTab(event, 'Flag')">{{ icon("flag-fill", 12) }}</button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="card card-body-fat">
               <div id="About" class="tabcontent" style="display: block;">
                  <p><b>Uploaded on {{ submission.published | date('M j, Y') }}</b></p>
                  {% if submission.published_originally and submission.original_site %}
                     <div class="watch-box-author-info-small">First uploaded on {{ submission.original_site }} on {{ submission.published_originally | date('M j, Y') }}</div>
                  {% elseif submission.original_site %}
                     <div class="watch-box-author-info-small">Originally uploaded on {{ submission.original_site }}</div>
                  {% endif %}
                  {% if submission.description | trim is not empty %}
                     {{ submission.description | markdown_user_written }}
                  {% else %}
                     <p>This submission has no description.</p>
                  {% endif %}
               </div>
               <div id="Stats" class="tabcontent" style="display: none;">
                  <h2>Stats</h2>
                  <ul style="padding:0">
                     <li>
                        Total favorites: {{ submission.interactions.favorites }}
                     </li>
                     <li>
                        Rating ratio (Biscuit stars): {{ submission.interactions.ratings.average * 20 }}%
                     </li>
                     <li>
                        Rating ratio (Likes/Dislikes): {{ submission.interactions.legacy.ratio }}%
                     </li>
                  </ul>
               </div>
               <div id="Flag" class="tabcontent" style="display: none;">
                  <h2>Flag submission</h2>
                  This isn't currently implemented.
               </div>
            </div>
            <div class="card">
               <div class="card-body-fat">
                  <h3>Comments ({{ comCount }})</h3>
                  {% if is_user_logged_in %}
                     <div>
                        <div>
                     <textarea class="form-control" id="commentContents" style="overflow:hidden;resize:none" rows="3"
                               placeholder="Enter comment here."></textarea>
                        </div>
                        <div class="right">
                           <button id="post" class="button button-primary" style="margin-bottom:0;">Comment</button>
                        </div>
                     </div>
                  {% endif %}
                  <div id="comment"></div>
                  {% for comment in submission.comments %}
                     {{ comment(comment) }}
                  {% endfor %}
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="card">
               <div class="card-body">
                  {% for submission in submission.recommended %}
                     {{ submission_box(submission)}}
                  {% endfor %}
                  <div class="center">
                     <div class="button button-secondary" onclick="showMoreVideos()" id="fromUser">
                        More
                     </div>
                  </div>
                  <div class="collapsed" id="fromUserVideoList">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}