<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} - cheeseRox Next</title>
	{% block head %}{% endblock %}
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
	<link rel="manifest" href="/assets/icons/site.webmanifest">
	<link rel="shortcut icon" href="/assets/icons/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="cheeseRox">
	<meta name="application-name" content="cheeseRox">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
	<meta name="theme-color" content="#4723d9">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	{% if theme == 'dark' %}
		<link id="darkthm" rel="stylesheet" href="/assets/css/darkmode.css" type="text/css">
	{% endif %}
	{% if theme == 'bluey' %}
		<link id="bluey" rel="stylesheet" href="/assets/css/bluey.css" type="text/css">
	{% endif %}
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="/assets/common.js"></script>
	<script>
		subscribe_string = '{{ __("Follow") }}';
		unsubscribe_string = '{{ __("Unfollow") }}';
	</script>
	<style>
	{% block customcss %}{% endblock %}
	</style>
</head>
<body>
	{% if theme == 'bluey' %}
	<main class="site">
	<div class="header-container">
		<nav class="primary-menu" role="navigation">
		<a class="logo" href="/"></a>
		<div class="items">
						<li>
							<a href="/browse.php">{{ __("Videos") }}</a>
						</li>
						<li>
							<a href="/music.php">{{ __("Music") }}</a>
						</li>
						<li>
							<a href="/forum/">{{ __("Forums") }}</a>
						</li>
						<li>
							<a href="/channels.php">{{ __("Users") }}</a>
						</li>
						{% if log %}
						<li>
							<a href="/user.php?name={{ userdata.name }}">{{ userdata.title }}</a>
						</li>
						<li>
							<a href="/upload_start.php">{{ __("Upload") }}</a>
						</li>
						<li>
							<a href="/logout.php">{{ __("Log out") }}</a>
						</li>
						{% else %}
						<li>
							<a href="../login.php">{{ __("Sign in") }}</a>
						</li>
						<li>
							<a href="../register.php">{{ __("Register") }}</a>
						</li>
						{% endif %}
						<li class="btn__search" onclick="myFunction()">
							<a>{{ __("Search") }}</a>
						</li>
		</div>
		</nav>
		<div id="billboard-search-box">
		<form id="masthead-search" action="/search.php">
					<button id="search-btn" class="button button-secondary">
					<span>Search</span>
					</button>
					<div id="masthead-search-terms">
						<label><input type="text" name="query" placeholder="{{ __("Search...") }}"></label>
					</div>
		</form>
		</div>
	</div>
	{% else %}
	<div id="masthead-container">
		<div id="masthead">
			<a href="/" id="logo-container"><img id="logo" src="/assets/logo-masthead.png"></a>
			<div id="{% if log %}masthead-loggedin{% else %}masthead-signin{% endif %}" class="masthead-user">
				{% if log %}
				<div style="margin-top: 8px;">
				{{ userdata.title }}
               <!-- <div {% if notification_count > 0 %}class="bg-danger text-light"{% else %}class="bg-neutral{% endif %}" style="padding:6px 8px;display: inline-block;">{{ notification_count }}</div> -->
				<div class="usermenushit" id="masthead-below">
					<ul style="padding:0">
					<li><a href="user.php?name={{ userdata.name }}">{{ __("Profile") }}</a></li>
					<li><a href="/studio/">{{ __("Studio") }}</a></li>
					<li><a href="/settings.php">{{ __("Settings") }}</a></li>
					<li><a href="logout.php">{{ __("Log out") }}</a></li>
					</ul>
				</div>
				</div>
				{% else %}
				<div style="display: flex;justify-content: center;align-items: center;gap: 5px;margin-top: 2px;">
					<a href="../login.php">{{ __("Sign in") }}</a>
					<a href="../register.php">{{ __("Register") }}</a>
				</div>
				{% endif %}
			</div>
			<div id="masthead-content">
				<div id="masthead-upload-button-group" style="display: flex;justify-content: center;align-items: center;gap: 5px;margin-top: 5px;">
					<a href="/browse.php">{{ __("Browse") }}</a>
					<a href="/upload_start.php">{{ __("Upload") }}</a>
					<a href="/forum/">{{ __("Forums") }}</a>
				</div>
				<form id="masthead-search" action="/search.php">
					<button id="search-btn" class="button button-secondary">
					<span>Search</span>
					</button>
					<div id="masthead-search-terms">
						<label><input type="text" name="query" placeholder="{{ __("Search...") }}"></label>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% endif %}
	{% block precontent %}{% endblock %}
				<div class="container" style="max-width: 1200px;padding:0;">
					{% block content %}{% endblock %}
					</div>
	{% if theme == 'bluey' %}
	</main>
	<footer class="footer">
		<div class="footer_inner">
	{% else %}
	</div>
	<footer>
		<div class="footer">
	{% endif %}
			<img src="assets/logo-wordmark.png">
			<p><b>{{ __("By the cheeseRox contributors") }}</b> · 2020-{{ 'now' | date('Y') }} 
			| <b>{{ __("Users registered") }}</b>: {{ stats.usercount }} 
			| <b>{{ __("Videos uploaded") }}</b>: {{ stats.videocount }}
			| <b>{{ __("Music uploaded") }}</b>: {{ stats.musiccount }}
			| <b>{{ __("Images uploaded") }}</b>: {{ stats.imagecount }}
			</p>
			<h5><a href="githistory.php">{{ __("Git Commit") }} {{ git_commit() }}</a><br></h5>
		</div>
	</footer>
{% block custom_footer %}
{% endblock %}
</body>
</html>