{% extends "_layout.twig" %}
{% block head %}
<meta name="title" content="cheeseRox">
<meta name="description" content="Unbelivable, This is not PokTube.">
<meta property="og:site_name" content="cheeseRox"/>
<meta property="og:title" content="cheeseRox">
<meta property="og:description" content="Unbelivable, This is not PokTube.">
<meta property="og:image" content="{{ domain }}assets/logo_square_icon.png">
<meta property="og:url" content="{{ page_url }}">
{% endblock %}
{% block title %}Main page{% endblock %}

	{% block precontent %}
	{% if theme == 'bluey' %}
	<div class="container" style="display: flex;align-items: center;flex-direction: column;">
	{% endif %}
<div class="indexNext">
<div class="main-content">
	<div class="container" style="max-width: 970px;">
		{% if log %}
		<div class="grid">
			<div class="col-md-2">
				<img class="rounded img-fluid" src="{{ profile_image(userdata.name) }}" alt="{{ userdata.name }}">
			</div>
			<div class="col-md-10">
				<p class="text-start">
				<h1 style="padding:0;margin:8px 0;">{{ __("Welcome,") }} {{ userdata.title }}</h1>
				{# hack to prevent twig from outputing the number 1 #}
				{% if totalSubscribers != 1 %}
					{% set pluralSubscribers = __("s") %}
				{% endif %}
				{% if totalViews != 1 %}
					{% set pluralViews = __("s") %}
				{% endif %}
				<h3 style="padding:0;margin:8px 0;">@{{ userdata.name }}</h3>
				<p style="padding:0;margin:8px 0;">{{ __("%s follower%s", [totalSubscribers ?? __("no"), pluralSubscribers]) }}
					&bull; {{ __("%s view%s", [totalViews ?? __("no"), pluralViews]) }}</p>
				<a class="button button-neutral button-large" href="../studio/">{{ __("Manage my content") }} {{ icon('caret-right-fill', 12) }}</a>
			</div>
		</div>
		{% else %}
		<div class="grid">
			<div class="col-md-8">
				<h1 style="padding:0;margin:8px 0;">{{ __("Welcome to cheeseRox") }}</h1>
				<h3 style="padding:0;margin:0;">{{ __("Unbelivable, This is not PokTube.") }}</h3>
			</div>
			<div class="col-md-4">
				<a class="button button-neutral button-large" href="register.php">{{ __("Get started") }} {{ icon('caret-right-fill', 16) }}</a><br><br>
				<big>{{ __("Already have an account?") }} <a class="button button-neutral" href="login.php">{{ __("Sign in") }}</a></big>
			</div>
		</div>
		{% endif %}
	</div>
</div>
	{% if theme == 'bluey' %}
	</div>
	{% endif %}
	{% endblock %}

	{% block content %}
<div class="grid">
	<div class="col-md-8">
	<div class="grid">
			<div class="col-md-6">
			<div class="card card-body">
				{% for video in featuredVideos %}
				{{ video_box(video) }}
				{% endfor %}
			</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body">
				{% for video in videos_right %}
				{{ small_video_box(video) }}
				{% endfor %}
				</div>
			</div>
	</div>
		<div class="card">
			<div class="card-body-fat">
				<h3>{{ __("cheeseRox Videos") }}</h3>
				{% for video in videos %}
				{{ small_video_box(video) }}
				{% else %}
				<p>{{ __("No uploaded videos.") }}</p>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h3>{{ __("What's new?") }}</h3>
		<p>{{ __("Welcome to the brand new cheeseRox! We've heard it, the old layout sucked, so we have redesigned cheeseRox to have a better user interface.") }}</p>
	</div>
</div>
</div>
<br><br>
	{% endblock %}