{% extends "_layout.twig" %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.4.6/jscolor.min.js"></script>
{% endblock %}
{% block title %}{{ __("Settings") }}{% endblock %}

	{% block content %}
<div class="right">
	<form action="settings.php" method="post" enctype="multipart/form-data">
		<input type="hidden" name="reset_token" id="floatingCurrentPass" value="resetToken">
		<button class="button button-danger" type="submit" name="updatesettings" class="btn btn-primary">{{ __("Log out from all devices") }}</button>
	</form>
</div>

<form action="settings.php" method="post">
<h3>{{ __("Credentials") }}</h3>
<table class="settings">
	<tr>
		<td class="a">{{ __("Username") }}</td>
		<td class="b">{{ userdata.name }}</td>
	</tr>
	<tr>
		<td class="a">{{ __("Change Password") }}</td>
		<td class="b">
			<input type="password" name="current_pass" size="30" maxlength="256" placeholder="{{ __("Current Password (For verification)") }}"><br>
			<input type="password" name="pass" size="30" maxlength="256" placeholder="{{ __("New Password") }}"><br>
			<input type="password" name="pass2" size="30" maxlength="256" placeholder="{{ __("Repeat new Password") }}">
		</td>
	</tr>
</table>

<h3>{{ __("Customize your profile") }}</h3>
<table class="settings">
	<tr>
		<td class="a">{{ __("Profile picture") }}</td>
		<td class="b">
			<img class="float-start rounded" src="{{ profile_image(userdata.name) }}" style="margin-right: 1.5%;" width="128" alt="pfp">
			<input class="form-control" type="file" name="profilePicture" id="profilePicture">
		</td>
	</tr>
	<tr>
		<td class="a">{{ __("Display name") }}</td>
		<td class="b"><input type="text" name="title" size="45" maxlength="256" value="{{ userdata.title }}"></td>
	</tr>
	<tr>
		<td class="a">
			{{ __("Description") }}
			<br><em>{{ __("Markdown allowed.") }}</em>
		</td>
		<td class="b"><textarea name="about" rows="5" cols="80" wrap="virtual">{{ userdata.about }}</textarea></td>
	</tr>
	<tr>
		<td class="a">{{ __("Forum signature") }}</td>
		<td class="b"><textarea name="signature" rows="5" cols="80" wrap="virtual">{{ userdata.signature }}</textarea></td>
	</tr>
	<tr>
		<td class="a">{{ __("Username color") }}</td>
		<td class="b"><input name="customcolor" data-jscolor="" value="{{ userdata.customcolor | default('523bb8') }}"></td>
	</tr>
	<tr>
		<td class="a">{{ __("Background color") }}</td>
		<td class="b"><input name="background" data-jscolor="" value="{{ colors.background | default('ffffff') }}"></td>
	</tr>
	<tr>
		<td class="a">{{ __("Text color") }}</td>
		<td class="b"><input name="font" data-jscolor="" value="{{ colors.fontcolor | default('ffffff') }}"></td>
	</tr>
	<tr>
		<td class="a">{{ __("Title color") }}</td>
		<td class="b"><input name="title_font" data-jscolor="" value="{{ colors.titlefont | default('ffffff') }}"></td>
	</tr>
	<tr>
		<td class="a">{{ __("Link color") }}</td>
		<td class="b"><input name="links" data-jscolor="" value="{{ colors.link | default('0033CC') }}"></td>
	</tr>
	<tr>
		<td class="a">{{ __("Header text color") }}</td>
		<td class="b"><input name="headerfont" data-jscolor="" value="{{ colors.headerfont | default('ffffff') }}"></td>
	</tr>
	<tr>
		<td class="a">{{ __("Outter header/border") }}</td>
		<td class="b"><input name="highlight_header" data-jscolor="" value="{{ colors.highlightheader | default('3399cc') }}"></td>
	</tr>
	<tr>
		<td class="a">{{ __("Outter background") }}</td>
		<td class="b"><input name="highlight_inner" data-jscolor="" value="{{ colors.highlightinside | default('ecf4fb') }}"></td>
	</tr>
	<tr>
		<td class="a">{{ __("Inner header/border") }}</td>
		<td class="b"><input name="regular_header" data-jscolor="" value="{{ colors.regularheader | default('ffa540') }}"></td>
	</tr>
	<tr>
		<td class="a">{{ __("Inner background") }}</td>
		<td class="b"><input name="regular_inner" data-jscolor="" value="{{ colors.regularinside | default('fd7939') }}"></td>
	</tr>
</table>
<input type="hidden" name="magic" value="chilliheelerbodypillow">
<div class="right">
<input class="button button-primary" type="submit" name="action" value="{{ __("Save Changes") }}">
</div>
	{% endblock %}
