{% extends "_layout.twig" %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.4.6/jscolor.min.js"></script>
{% endblock %}
{% block title %}{{ __("Settings") }}{% endblock %}

	{% block content %}
	<h1>Missing function! "Log out from all devices" was in the old Bootstrap 5 layout</h1>
<form action="settings.php" method="post">
<h3>{{ __("Credentials") }}</h3>
<table class="settings">
	<tr>
		<td class="a">{{ __("Username") }}</td>
		<td class="b">{{ userdata.name }}</td>
	</tr>
	<tr>
		<td class="a">{{ __("Change Password") }}</td>
		<td class="b">
			<input type="password" name="current_pass" size="30" maxlength="256" placeholder="{{ __("Current Password (For verification)") }}"><br>
			<input type="password" name="pass" size="30" maxlength="256" placeholder="{{ __("New Password") }}"><br>
			<input type="password" name="pass2" size="30" maxlength="256" placeholder="{{ __("Repeat new Password") }}">
		</td>
	</tr>
</table>

<h3>{{ __("Customize your profile") }}</h3>
<table class="settings">
	<tr>
		<td class="a">{{ __("Profile picture") }}</td>
		<td class="b">
			<img class="float-start rounded" src="{{ profile_image(userdata.name) }}" style="margin-right: 1.5%;" width="128" alt="pfp">
			<input class="form-control" type="file" name="profilePicture" id="profilePicture">
		</td>
	</tr>
	<tr>
		<td class="a">{{ __("Display name") }}</td>
		<td class="b"><input type="text" name="title" size="45" maxlength="256" value="{{ userdata.title }}"></td>
	</tr>
	<tr>
		<td class="a">{{ __("Custom color") }}</td>
		<td class="b"><input name="customcolor" data-jscolor="" value="{{ userdata.customcolor | default('523bb8') }}"></td>
	</tr>
	<tr>
		<td class="a">
			{{ __("Description") }}
			<br><em>{{ __("Markdown allowed.") }}</em>
		</td>
		<td class="b"><textarea name="about" rows="5" cols="80" wrap="virtual">{{ userdata.about }}</textarea></td>
	</tr>
	<tr>
		<td class="a">{{ __("Forum signature") }}</td>
		<td class="b"><textarea name="signature" rows="5" cols="80" wrap="virtual">{{ userdata.signature }}</textarea></td>
	</tr>
</table>

<h3>{{ __("Options") }}</h3>
<table class="settings">
	<tr>
		<td class="a">{{ __("Language") }}</td>
		<td class="b">
			<select class="form-select" name="language">
				{% for code,name in glob_languages %}
					{% if name %}<option value="{{ code }}" {% if code==userdata.language %}selected{% endif %}>{{ name }}</option>{% endif %}
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr>
		<td class="a">{{ __("sbNext Theme") }}</td>
		<td class="b">
			<select class="form-select" name="theme">
					<option value="default">Light</option>
					<option value="dark">Dark</option>
					<option value="bluey">Bluey</option>
			</select>
		</td>
	</tr>
</table>
<input type="hidden" name="magic" value="FOR GOD SAKES OPEN THE SILO DOOR">
<div class="right">
<input class="button button-primary" type="submit" name="action" value="{{ __("Save Changes") }}">
</div>
	{% endblock %}