{% extends "_layout.twig" %}
{% block title %}{{ userpagedata.title }}{% endblock %}
{% block head %}
<meta name="title" content="{{ userpagedata.title }} - cheeseRox">
<meta name="description" content="{{ userpagedata.about|length > 250 ? userpagedata.about|slice(0, 250) ~ '...' : userpagedata.about }}">
<meta name="theme-color" content="{{ userpagedata.customcolor }}">
<meta property="og:site_name" content="cheeseRox"/>
<meta property="og:title" content="{{ userpagedata.title }} - cheeseRox">
<meta property="og:description" content="{{ userpagedata.about|length > 250 ? userpagedata.about|slice(0, 250) ~ '...' : userpagedata.about }}">
<meta property="og:image" content="{{ domain }}/assets/profpic/{{ userpagedata.name }}.png">
<meta property="og:url" content="{{ page_url }}">
<script>
	user_id = '{{ userpagedata.id }}';
</script>
{% endblock %}
{% block content %}
<style>
	.channel-header-bg {
	background: url('/assets/backgrounds/{{ userpagedata.name }}.png'), linear-gradient(#888, #444) !important;
	background-position: center !important;
	height: 225px;
	}
	body {
	background-color: {{ customProfile.background }};
	}
</style>
{% if markread %}
<div class="header_message">{{ __("Marked all notifications as read.") }}</div>
{% elseif edited %}
<div class="header_message">{{ __("Settings successfully saved!") }}</div>
{% endif %}
<div class="bg-dark" style="padding:1px 15px;">
{% if userpagedata.id == userdata.id and not forceuser %}
<p>		   <a href="/settings.php" style="color:white;">{{ __("Edit my settings") }}</a>
	&bull; <a href="/forum/private.php" style="color:white;">{{ __("View my private messages") }}</a>
	&bull; <a href="/user.php?id={{ id }}&forceuser" style="color:white;">{{ __("View user page as viewer") }}</a>
</p>
{% else %}
<p>
	<a href="forum/forum.php?user={{ id }}" style="color:white;">{{ __("View threads") }}</a>
	&bull; <a href="forum/thread.php?user={{ id }}" style="color:white;">{{ __("Show posts") }}</a>
	{% if log %}
	{% if userdata.id != id %}
	&bull; <a href="forum/sendprivate.php?uid={{ id }}" style="color:white;">{{ __("Send private message") }}</a>
	{% endif %}
	{% if userdata.powerlevel > 2 %}
	&bull; <a href="resetpassword.php?grf={{ id }}" style="color:white;">{{ __("Generate password reset for user") }}</a>
	&bull; <a href="forum/editperms.php?uid={{ id }}" style="color:white;">{{ __("Edit forum permissions") }}</a>
	{% endif %}
	{% endif %}
</p>
{% endif %}
</div>
<div class="channel-header-bg">
</div>
<div class="grid" style="background-color:{{ customProfile.highlightheader }};height: 100px;">
	<div class="col-md-1" style="height:inherit;display: table;">
		<div style="display: table-cell;vertical-align: middle;">
			<img class="img-fluid rounded" src="{{ profile_image(userpagedata.name) }}" title="{{ userpagedata.name }}" alt="{{ userpagedata.name }}">
		</div>
	</div>
	<div class="col-md-10" style="color:{{ customProfile.titlefont }};height:inherit;">
		<h1>{{ userpagedata.title }}</h1>
		<p>{{ subCount }} followers • {{ views }} video views</p>
	</div>
	<div class="col-md-1" style="height:inherit;display: table;">
		<div style="display: table-cell;vertical-align: middle;text-align:center;">
			{% if userpagedata.id == userdata.id %}
				<a class="button button-primary button-small" href="settings.php">{{ __("Edit profile") }}</a>
			{% else %}
				<button id="subscribe-watch" class="button button-{% if subscribed %}secondary{% else %}primary{% endif %} button-small" type="button" {% if not log %}disabled{% endif %}>{% if subscribed %}{{ __("Unfollow") }}{% else %}{{ __("Follow") }}{% endif %}</button>
			{% endif %}
		</div>
	</div>
</div>
<div class="grid" style="background-color:{{ customProfile.highlightinside }};border: 1px solid {{ customProfile.highlightheader }}">
	<div class="screwPaddingLeft col-md-3">
			<div class="card-profiles">
				<h3 style="text-align:center;color:{{ customProfile.titlefont }};background-color:{{customProfile.regularheader }};margin:0;padding:5px;">
				About {{ userpagedata.name }}
				</h3>
				<div class="card" style="border-color: {{customProfile.regularheader }};background-color:{{customProfile.regularinside }};">
					<div class="card-body">
					{{ userpagedata.about | markdown }}
					<hr>
					<table style="width:100%">
						<thead>
						  <tr>
							<td class="left">Last connected</td>
							<td class="right">{{ userpagedata.lastview | relative_time }}</td>
						  </tr>
						  <tr>
							<td class="left">Registered</td>
							<td class="right">{{ userpagedata.joined | relative_time }}</td>
						  </tr>
						</thead>
					</table>
					</div>
				</div>
		</div>
		
	</div>
	<div class="screwPaddingRight col-md-9" style="color:{{ customProfile.titlefont }};">
			<div class="card-profiles">
				<h3 style="text-align:center;color:{{ customProfile.titlefont }};background-color:{{customProfile.regularheader }};margin:0;padding:5px;">
				Videos
				</h2>
				<div class="card" style="border-color: {{customProfile.regularheader }};background-color:{{customProfile.regularinside }};">
					<div class="card-body">
					{% for latestVideo in latestVideos %}
					{{ small_video_box(latestVideo) }}
					{% else %}
					<p>{{ __("There are currently no videos uploaded by %s.", [userpagedata.title]) }}</p>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}
