{% extends "_layout.twig" %}
{% block head %}
<meta name="title" content="{{ video.title }} - squareBracket">
<meta name="description" content="{{ video.description|length > 250 ? video.description|slice(0, 250) ~ '...' : video.description }}">
<meta property="og:site_name" content="SquareBracket"/>
<meta property="og:title" content="{{ video.title }} - squareBracket">
<meta property="og:description" content="{{ video.description|length > 250 ? video.description|slice(0, 250) ~ '...' : video.description }}">
<meta property="og:image" content="{{ domain }}{{ video_thumbnail(video.video_id) }}">
<meta property="og:url" content="{{ page_url }}">
<meta property="twitter:title" content="{{ video.title }} - squareBracket">
<meta property="twitter:description" content="{{ video.description|length > 250 ? video.description|slice(0, 250) ~ '...' : video.description }}">
<meta property="twitter:image" content="{{ domain }}{{ video_thumbnail(video.video_id) }}">
<meta name="twitter:card" content="summary_large_image">
<script>var ytcsi = {gt: function(n) {n = (n || '') + 'data_';return ytcsi[n] || (ytcsi[n] = {tick: {},span: {},info: {}});},tick: function(l, t, n) {ytcsi.gt(n).tick[l] = t || +new Date();},span: function(l, s, n) {ytcsi.gt(n).span[l] = (typeof s == 'number') ? s :+new Date() - ytcsi.data_.tick[l];},info: function(k, v, n) {ytcsi.gt(n).info[k] = v;}};(function() {var perf = window['performance'] || window['mozPerformance'] ||window['msPerformance'] || window['webkitPerformance'];ytcsi.tick('_start', perf ? perf['timing']['responseStart'] : null);})();if (document.webkitVisibilityState == 'prerender') {ytcsi.info('prerender', 1);document.addEventListener('webkitvisibilitychange', function() {ytcsi.tick('_start');}, false);}try {ytcsi.pt_ = (window.chrome && chrome.csi().pageT ||window.gtbExternal && gtbExternal.pageT() ||window.external && external.pageT);if (ytcsi.pt_) {ytcsi.info('pt', Math.floor(ytcsi.pt_));}} catch(e) {}</script></head>
<script>
	video_id = '{{ video.video_id }}';
	user_id = '{{ video.author }}';
</script>
<link id="css-4047501374" class="www-embed-player" rel="stylesheet" href="/assets/css/player.css" type="text/css">
{% endblock %}
{% block title %}{{ video.title }}{% endblock %}
{% block content %}
<div class="watchNext">
	<div class="grid">
		<div class="col-8">
			<div id="container">
				<!--- todo: redo "video processed" message to use _error.twig -gr 7/22/2021 --->
				{% if (video.flags b-and 2) %}
				<div style="background-color: black; color: white; text-align: center; padding: 15rem">
					{{ __("This video is being processed. Try again later.") }}
				</div>
				{% else %}
				<!-- todo: make light theme look good -->
				<div id="player"></div>  <script id="js-2900126986" class="www-embed-player" src="//s.ytimg.com/yts/jsbin/www-embed-player-vflUmkt61.js" data-loaded="true"></script>
<script>yt.setConfig({
    'EVENT_ID': "RUXDUpmwIoiRiQLA54GABQ",
    'VIDEO_ID': "<?php echo $id ?>",
    'POST_MESSAGE_ORIGIN': "*",
    'EURL': "http:\/\/www.itv.com\/news\/topic\/gangnam-style\/"
});
yt.setConfig({
    'PLAYER_CONFIG': {
        "sts": 16057,
        "params": {
            "allowfullscreen": "true",
            "allowscriptaccess": "always",
            "bgcolor": "#000000"
        },
        "url_v8": "http:\/\/s.ytimg.com\/yts\/swfbin\/player-vflqv4MLv\/cps.swf",
        "min_version": "8.0.0",
        "html5": true,
        "url": "http:\/\/s.ytimg.com\/yts\/swfbin\/player-vflqv4MLv\/watch_as3.swf",
        "args": {
            "enablejsapi": "0",
            "iurlmaxres": "http:\/\/i1.ytimg.com\/vi\/LHdA7Yc-8Rg\/maxresdefault.jpg",
            "threed_module": "1",
            "ldpj": "-3",
            "fexp": "931319,927606,901479,930102,916624,909717,924616,932295,936912,936910,923305,936913,907231,907240,921090",
            "hl": "en_US",
            "eurl": "http:\/\/www.itv.com\/news\/topic\/gangnam-style\/",
            "allow_embed": 1,
            "avg_rating": 4.57515427974,
            "idpj": "-7",
            "video_id": "{{ video.video_id }}",
            "view_count": 5462747,
            "allow_ratings": 1,
            "cc3_module": "1",
            "sw": "1.0",
            "iurlsd": "http:\/\/i1.ytimg.com\/vi\/LHdA7Yc-8Rg\/sddefault.jpg",
            "cc_module": "http:\/\/s.ytimg.com\/yts\/swfbin\/player-vflqv4MLv\/subtitle_module.swf",
            "iurl": "http:\/\/i1.ytimg.com\/vi\/LHdA7Yc-8Rg\/hqdefault.jpg",
            "cc_font": "Arial Unicode MS, arial, verdana, _sans",
            "length_seconds": {{ video.videolength }},
            "title": "{{ video.title }}",
            "cr": "US",
            "advideo": "1",
            "streaminglib_module": "1",
            "rel": "1",
            "is_html5_mobile_device": false
        },
        "attrs": {
            "height": "390px",
            "id": "movie-player",
            "width": "640px"
        },
        "url_v9as2": "http:\/\/s.ytimg.com\/yts\/swfbin\/player-vflqv4MLv\/cps.swf",
        "assets": {
            "js": "\/\/s.ytimg.com\/yts\/jsbin\/html5player-vflG49soT.js",
            "html": "\/html5_player_template",
        }
    },
    'EMBED_HTML_TEMPLATE': "\u003ciframe width=\"__width__\" height=\"__height__\" src=\"__url__\" frameborder=\"0\" allowfullscreen\u003e\u003c\/iframe\u003e",
    'EMBED_HTML_URL': "\/\/www.youtube.com\/embed\/__videoid__"
});
yt.setMsg('FLASH_UPGRADE', "\u003cdiv class=\"yt-alert yt-alert-default yt-alert-error  yt-alert-player\"\u003e  \u003cdiv class=\"yt-alert-icon\"\u003e\n    \u003cimg s\u0072c=\"http:\/\/s.ytimg.com\/yts\/img\/pixel-vfl3z5WfW.gif\" class=\"icon master-sprite\" alt=\"Alert icon\"\u003e\n  \u003c\/div\u003e\n\u003cdiv class=\"yt-alert-buttons\"\u003e\u003c\/div\u003e\u003cdiv class=\"yt-alert-content\" role=\"alert\"\u003e    \u003cspan class=\"yt-alert-vertical-trick\"\u003e\u003c\/span\u003e\n    \u003cdiv class=\"yt-alert-message\"\u003e\n            You need to upgrade your Adobe Flash Player to watch this video. \u003cbr\u003e \u003ca href=\"http:\/\/get.adobe.com\/flashplayer\/\"\u003eDownload it from Adobe.\u003c\/a\u003e\n    \u003c\/div\u003e\n\u003c\/div\u003e\u003c\/div\u003e");
yt.setMsg('PLAYER_FALLBACK', "The Adobe Flash Player or an HTML5 supported browser is required for video playback. \u003cbr\u003e \u003ca href=\"http:\/\/get.adobe.com\/flashplayer\/\"\u003eGet the latest Flash Player\u003c\/a\u003e \u003cbr\u003e \u003ca href=\"\/html5\"\u003eLearn more about upgrading to an HTML5 browser\u003c\/a\u003e");
yt.setMsg('QUICKTIME_FALLBACK', "The Adobe Flash Player or QuickTime is required for video playback. \u003cbr\u003e \u003ca href=\"http:\/\/get.adobe.com\/flashplayer\/\"\u003eGet the latest Flash Player\u003c\/a\u003e \u003cbr\u003e \u003ca href=\"http:\/\/www.apple.com\/quicktime\/download\/\"\u003eGet the latest version of QuickTime\u003c\/a\u003e");
yt.setMsg('AUTOPLAY_MESSAGE', {
    "other": "Next video in #",
    "case1": "Next video in 1"
});

writeEmbed();</script>
				{% endif %}
			</div>
			<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
			<br>
			<div class="grid card card-body-fat" style="padding-top:0;">
				<div class="col-6">
					<h1>{{ video.title }}</h1>
					<img src="{{ profile_image(video.u_name) }}" class="rounded" style="width:48px;float: left;margin-right:8px;">
					<a href="user.php?name={{ video.u_name }}"><b>{{ video.u_name }}</b></a>
					<br>
					<button id="subscribe" class="button button-{% if subscribed %}secondary{% else %}primary{% endif %}" type="button" {% if not log or userdata.id == video.author %}disabled{% endif %}>{% if subscribed %}{{ __("Unfollow") }}{% elseif userdata.id == video.author %}{{ __("Edit video") }}{% else %}{{ __("Follow") }}{% endif %}</button>
					<div class="subscribe-count">{{ subCount }}</div>
					<br>
					<div class="button-group">
						<button href="#" id="{% if log %}like{% else %}action_unlogged{% endif %}" class="button button-secondary">
							{{ icon("hand-thumbs-up-fill", 20) }}
							{{ __("Like") }}
						</button>
						<button href="#" id="{% if log %}dislike{% else %}action_unlogged{% endif %}" data-tooltip="Dislike" class="button button-secondary tooltip tooltip-top">
							{{ icon("hand-thumbs-down-fill", 20) }}
						</button>
					</div>
					<button href="#" id="{% if log %}quicklist{% else %}action_unlogged{% endif %}" data-tooltip="Add to Quicklist" class="button button-secondary tooltip tooltip-top">
						{{ icon("plus-lg", 20) }}
					</button>
					<p><b>{{ __("Published on %s", [video.time | date('M j, Y')]) }}</b></p>
					<p>{{ video.description }}</p>
					<p><b>{{ __("Category:") }}</b> {{ video.category_id | category_id_to_name() }}</b>
					<p><b>{{ __("License:") }}</b> {{ __("Standard squareBracket License") }}</b>
				</div>
				<div class="col-6 right">
				<h1>{{ video.views }}</h1>
				<div class="likesaber">
					<div class="like" style="width:{{ videoRatio}}%"></div>
				</div>
				<div style="margin-top: 22px;color:#666666;">{{ icon("hand-thumbs-up-fill", 14) }} {{ total_likes }} {{ icon("hand-thumbs-down-fill", 14) }} {{ total_dislikes }}  </div>
				</div>
			</div>
			<div class="card"><div class="card-body-fat">
			<h3>Comments ({{ comCount }})</h3>
					<div class="grid" style="gap:0px">
						<div class="col-1">
							<img class="rounded" style="width:85%" src="{{ profile_image(userdata.name) }}">
						</div>
						<div class="col-11">
							<div>
								<textarea class="form-control" id="commentContents" style="overflow:hidden;resize:none" rows="3"
								placeholder="{% if log %}
								{{ __("Enter comment here, Markdown can be used here.") }}
								{% else %}
								{{ __("Please sign in in order to comment.") }}
								{% endif %}"></textarea>
							</div>
					<div class="grid">
						<div class="col-offset-12">
							<button id="{% if log %}post{% endif %}" class="button button-primary" style="margin-bottom:0;">{{ __("Comment") }}</button>
						</div>
					</div>
				</div>
			</div>
			<div id="comment"></div>
			{% for comment in comments %}
			{{ comment(comment) }}
			{% endfor %}
		</div></div></div>
		<div class="col-4">
			<div class="card">
				<div class="card-header">
					<h5>{{ __("Explore More Videos") }}</h5>
				</div>
				<div class="card-body">
					<div class="card">
						<div class="card-header" id="fromUser">
							<h5>{{ __("More videos from %s", [video.u_name]) }}</h5>
						</div>
						<div class="card-body collapsed" id="fromUserVideoList">
						</div>
					</div>
					{% for related_video in related_videos %}
					{{ small_video_box(related_video)}}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}