{% if user_ban_data %}
    <div class="banner banner-danger">
        <i class="{{ notification_icon("danger") }} notification-icon"></i>
        <span class="notification-text">
        You have been banned from {{ website_branding.name }}.
        </span>
    </div>
{% endif %}
{% if session.notif_message %}
    <div class="banner banner-{{ session.notif_color }}">
        <i class="{{ notification_icon(session.notif_color) }} notification-icon"></i>
        <span class="notification-text">
        {{ session.notif_message }}
        </span>
    </div>
    {{ remove_notification() }}
{% endif %}