{% extends "_layout.twig" %}

{% block title %}{{ __("Home") }}{% endblock %}
	{% block content %}
		<div class="row">
			<div class="col-xl-8">
				<div class="row">
					<div class="col-8">
						<h3>{{ __("Recently uploaded to Qobo") }}</h3>
					</div><div class="col-4">
						<div class="text-end"><a href="browse.php" class="btn btn-light btn-sm">{{ __("Browse") }}</a></div>
					</div>
				</div>
				{% for submission in data.submissions_new %}
					{{ include('/components/smallvideobox.twig') }}
				{% else %}
					<p>{{ __("No submissions.") }}</p>
				{% endfor %}
			</div>
			<div class="col-xl-4">
				{% if is_user_logged_in %}
					<div>
						<img class="float-start rounded-circle w-25 me-3" src="{{ profile_picture(user_data.name) }}"  alt="{{ user_data.name }}">
						<p class="text-start float-end">
						<h3>{{ user_data.title }}</h3>
						<p class="fs-5 mb-1">@{{ user_data.name }}</p>
					</div>
					<div class="clearfix"></div>
				{% else %}
					<h3>{{ __("Welcome to Qobo") }}</h3>
					<p>Your content, your narration, your niche on the web.</p>
				{% endif %}
				<hr/>
				<h3>{{ __("News and updates") }}</h3>
				{% for news in data.news_recent %}
					<div class="card" style="margin-bottom:10px">
						<div class="card-body">
							<h5>
								<a href="read.php?j={{ news.id }}">
									{{ news.title|u.truncate(100, '...') }}
								</a>
							</h5>
							{{ news.post|u.truncate(250, '...') }}
						</div>
						<div class="card-footer text-body-secondary">
							{{ news.date | relative_time }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
