{% extends "_layout.twig" %}
{% block content %}
<table width="790" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody><tr valign="top">
		<td style="padding-right: 15px;">
		
		<table width="595" cellspacing="0" cellpadding="0" border="0" bgcolor="#42454a" align="center">
			<tbody><tr>
				<td><img src="./assets/retro/box_login_tl.gif" width="5" height="5"></td>
				<td width="100%"><img src="./assets/retro/pixel.gif" width="1" height="5"></td>
				<td><img src="./assets/retro/box_login_tr.gif" width="5" height="5"></td>
			</tr>
			<tr>
				<td><img src="./assets/retro/pixel.gif" width="5" height="1"></td>
				<td style="padding: 5px 0px 10px 0px;">
				
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tbody><tr valign="top">
					<td style="border-right: 1px dashed #369; padding: 0px 10px 10px 10px; color: #EEE;" width="33%">
					<div style="font-size: 16px; font-weight: bold; margin-bottom: 5px;">Upload</div>
					Quickly upload and tag content in almost any format.
					</td>
					<td style="border-right: 1px dashed #369; padding: 0px 10px 10px 10px; color: #EEE;" width="33%">
					<div style="font-size: 16px; font-weight: bold; margin-bottom: 5px;">Watch</div>
					Instantly find and watch fast streaming content.
					</td>
					<td style="padding: 0px 10px 10px 10px; color: #EEE;" width="33%">
					<div style="font-size: 16px; font-weight: bold; margin-bottom: 5px;">Share</div>
					Easily share your content with family, friends, or co-workers.
					</td>
					</tr>
				</tbody></table>
				
				</td>
				<td><img src="./assets/retro/pixel.gif" width="5" height="1"></td>
			</tr>
			<tr>
				<td><img src="./assets/retro/box_login_bl.gif" width="5" height="5"></td>
				<td><img src="./assets/retro/pixel.gif" width="1" height="5"></td>
				<td><img src="./assets/retro/box_login_br.gif" width="5" height="5"></td>
			</tr>
		</tbody></table><br>
		
		<table width="595" cellspacing="0" cellpadding="0" border="0" bgcolor="#3d3d3d" align="center">
			<tbody><tr>
				<td><img src="./assets/retro/box_login_tl.gif" width="5" height="5"></td>
				<td width="100%"><img src="./assets/retro/pixel.gif" width="1" height="5"></td>
				<td><img src="./assets/retro/box_login_tr.gif" width="5" height="5"></td>
			</tr>
			<tr>
				<td><img src="./assets/retro/pixel.gif" width="5" height="1"></td>
				<td width="585">
				<div class="moduleTitleBar">
				<div class="moduleTitle"><div style="float: right; padding: 1px 5px 0px 0px; font-size: 12px;"><a href="browse.php">See More Videos</a></div>
				Recently Uploaded to squareBracket
				</div>
				</div>
		
				{% for video in videos %}
					<div class="moduleEntry">
					<table width="565" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr valign="top">
							<td><a href="watch.php?v={{video.video_id}}"><img src="{{ video_thumbnail(video.video_id) }}" class="moduleEntryThumb" width="120" height="90"></a></td>
							<td width="100%"><div class="moduleEntryTitle"><a href="watch.php?v={{video.video_id}}">{{ video.title }}</a></div>
							<div class="moduleEntryDescription">{{ video.description }}</div>
							<div class="moduleEntryTags">
							Tags //
						{% for tag in video.tags|json_decode %}
							{{ tag }} 
						{% else %}
							{{ __("None") }}
						{% endfor %}</div>
							<div class="moduleEntryDetails">Added: {{ video.time | date() }} by {{ userlink(video, 'u_') }}</div>
							<div class="moduleEntryDetails">Views: {{ video.views }} | Likes: Not indexed | Dislikes: Not indexed</div>
							</td>
						</tr>
					</tbody></table>
					</div>
				{% endfor %}
									
				</td>
				<td><img src="./assets/retro/pixel.gif" width="5" height="1"></td>
			</tr>
			<tr>
				<td><img src="./assets/retro/box_login_bl.gif" width="5" height="5"></td>
				<td><img src="./assets/retro/pixel.gif" width="1" height="5"></td>
				<td><img src="./assets/retro/box_login_br.gif" width="5" height="5"></td>
			</tr>
		</tbody></table>

		
		</td>
		<td width="180">
		
		<table width="180" cellspacing="0" cellpadding="0" border="0" align="center">
			<tbody><tr>
			<h4 style="font-size: 13px;">What's new?</h4>
			<p>This is sbRetro, which is a specialized version of squareBracket meant
			for older setups.</p>
		</tbody></table>
		</td>
	</tr>
</tbody></table>

{% endblock %}