{% extends "_layout.twig" %}

{% block title %}Home{% endblock %}

	{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

		  <div class="jumbotron">
		  <div class="row">
		  <div class="col-md-3">
        <img class="img-responsive img-rounded" src="../{{ profile_image(userdata.name) }}">
      </div>
		  <div class="col-md-9">
        <h2>{{ userdata.title }}</h2>
        <p class="lead">
		Username: {{ userdata.name }}
		<br>
		Followers: {{ __("%s follower%s", [totalSubscribers ?? __("no"), pluralSubscribers]) }}
		<br>
		Views: {{ __("%s view%s", [totalViews ?? __("no"), pluralViews]) }}
		</p>
      </div>
	  </div>
	  </div>
		  
          <h2 class="sub-header">Videos</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Internal ID</th>
                  <th>Title</th>
                  <th>Views</th>
                </tr>
              </thead>
              <tbody>
			  {% for video in videos %}
                <tr>
                  <td>{{ video.id }}</td>
                  <td>{{ video.title }}</td>
                  <td>{{ video.views }}</td>
                </tr>
			   {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

	{% endblock %}
