<!DOCTYPE html>
<html lang="en">
{% include "_head.twig" %}
<body>
<div id="guide">
<h3>Guide</h3>
{% if log %}
{% for user in allUsers %}
<ul>
	<li class="guide-channel">
		<a href="/user.php?name={{ user.u_name }}" class="guide-item"><img class="thumb" src="{{ profile_image(user.u_name) }}">{{ user.u_name }}</a>
	</li>
</ul>
{% endfor %}
{% else %}
{% for user in allUsers %}
<ul>
	<li class="guide-channel">
		<a href="/user.php?name={{ user.name }}" class="guide-item"><img class="thumb" src="{{ profile_image(user.name) }}">{{ user.name }}</a>
	</li>
</ul>
{% endfor %}
{% endif %}
</div>
	{% include "components/_header.twig" %}
	{% block precontent %}{% endblock %}
	<div class="container page-container">
		<div class="col-md-4">
			<div class="sidebar">
				{% block sidebar %}{% endblock %}
			</div>
		</div>
		<div class="col-md-8">
			<div class="page">
				{% block content %}{% endblock %}
			</div>
		</div>
	<footer>
		<div class="footer">
			<img src="/assets/logo-wordmark-dark.png">
			<p><b>cheeseRox Randley (sic) Layout · {{ __("By the cheeseRox contributors") }}</b> · 2020-{{ 'now' | date('Y') }}
			| <b><a href="/statistics.php">{{ __("Statistics") }}</a></b>
			</p>
			<h5><a href="/githistory.php">{{ __("Git Commit") }} {{ git_commit() }}</a><br></h5>
			<a class="button button-neutral button-small btnAdd" role="button">Options</a>
			<div id="myModal" class="bg-light" style="padding:0.3em;">

			</div>
		</div>
	</footer>
{% block custom_footer %}
{% endblock %}
</div>
</body>
</html>
