{% extends "_layout.twig" %}
{% block head %}
<meta name="title" content="{{ post.title }} - cheeseRox">
<meta name="description" content="{{ post.description|length > 250 ? post.description|slice(0, 250) ~ '...' : post.description }}">
<meta property="og:site_name" content="cheeseRox"/>
<meta property="og:title" content="{{ post.title }} - cheeseRox">
<meta property="og:description" content="{{ post.description|length > 250 ? post.description|slice(0, 250) ~ '...' : post.description }}">
<meta property="og:image" content="{{ domain }}{{ post.thumbnail(post.post.id) }}">
<meta property="og:url" content="{{ page_url }}">
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script>
   post.id = '{{ post.post.id }}';
   user_id = '{{ post.author }}';
</script>
<link href="https://unpkg.com/plyr@3.6.8/dist/plyr.css" rel="stylesheet">
{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block sidebar %}
<h1>Information</h1>
<li>
	<ul>
		Title: {{ post.title }}
	</ul>
	<ul>
		Uploader: {{ post.u_name }}
	</ul>
</li>
{% endblock %}
{% block content %}
	{% if post.post_type == 1 or post.post_type == 0 %}
		{{ include('/components/player.twig') }}
	{% elseif post.post_type == 2 %}
		<img src="{{ post.videofile }}" class="img-fluid">
	{% endif %}
	{# You cannot download MPEG-DASH videos, and trying to implement a converter
	would be fucking clunky. -grkb February 6th 2022#}
	{% if post.post_type != 1 %}
	<a class="button button-primary" href="{{ post.videofile }}">Download</a>
	{% endif %}
{% endblock %}
