{% extends "_layout.twig" %}

{% block title %}{{ __("Upload") }}{% endblock %}

	{% block content %}
<h4 class="bg-dark text-light card-body" style="margin-bottom:0;">{{ __("Upload music") }}</h4>
<div class="card card-body-fat">
	<form name="uploadForm" id="uploadForm" method="post" action="upload_music.php" enctype="multipart/form-data">
		<div class="grid">
			<div class="col-md-8">
				<div class="card">
					<div class="card-body-fat">
						<h2 style="margin-bottom: 0.5em;">{{ __("Song info") }}</h2>
						<p>{{ __("Enter the title and description of your video.") }}</p>
						<h4 style="margin-bottom: 0.5em;">{{ __(" Title") }}</h4>
						<input type="text" class="form-control form-long uploader-form" name="title">
						<br>
						<h2 style="margin-bottom: 0.5em;">{{ __("Song file") }}</h2>
						<p>{{ __("Select the Music file you want to upload.") }}</p>
						<input class="form-control" type="file" name="fileToUpload" id="fileToUpload" required>
						<br>
						<div class="right">
							<input class="button button-primary" type="submit" id="upload" name="upload" value="{{ __("Upload") }}">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<h5>{{ __("Upload guidelines") }}</h5>
					</div>
					<div class="card-body">
						<p>{{ __("Do not upload any songs that you haven't created.") }}</p>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
	{% endblock %}