{% extends "_layout.twig" %}
{% block head %}
    <meta name="title" content="Qobo">
    <meta name="description" content="Unbelivable, This is not PokTube.">
    <meta property="og:site_name" content="Qobo"/>
    <meta property="og:title" content="Qobo">
    <meta property="og:description" content="Again.">
    <meta property="og:image" content="{{ domain }}assets/logo_square_icon.png">
    <meta property="og:url" content="{{ page_url }}">
{% endblock %}
{% block title %}Home{% endblock %}

	{% block precontent %}
<div class="indexNext">
    {% if theme != 'nostalgia' %}
        <div class="main-content">
            <div class="container">
                {% if log %}
                    <div class="col-md-8">
                        <h1>{{ __("Welcome to Qobo") }}</h1>
                        <h3>@{{ userdata.name }}</h3>
                    </div>
                    <div class="col-md-4 right stats">
                        {# hack to prevent twig from outputing the number 1 #}
                        {% if totalSubscribers != 1 %}
                            {% set pluralSubscribers = __("s") %}
                        {% endif %}
                        {% if totalViews != 1 %}
                            {% set pluralViews = __("s") %}
                        {% endif %}
                        <p>{{ __("%s follower%s", [totalSubscribers ?? __("no"), pluralSubscribers]) }}
                            <br>{{ __("%s view%s", [totalViews ?? __("no"), pluralViews]) }}</p>
                    </div>
                {% else %}
                    <div class="col-md-8">
                        <h1>{{ __("Welcome to Qobo") }}</h1>
                        <h3 style="padding:0;margin:0;">{{ __("Again.") }}</h3>
                    </div>
                    <div class="col-md-4">
                        <a class="button button-neutral button-large"
                           href="register.php">{{ __("Get started") }} {{ icon('caret-right-fill', 16) }}</a><br><br>
                        <big>{{ __("Already have an account?") }} <a class="button button-neutral"
                                                                     href="login.php">{{ __("Sign in") }}</a></big>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% endblock %}

    {% block content %}
    {% if updated %}
        <div class="header_message header-success">{{ __("Settings successfully saved!") }}</div>
        <br>
    {% endif %}
    <div class="card">
        <div class="card-body-fat">
            <h3 style="margin-top:0">{{ __("Randomly selected uploads") }}</h3>
            <div class="gallery-image">
            {% for video in videos %}
                <a href="watch?v={{ video.video_id }}">
                    <article class="img-box">
                            {% if video.post_type == 0 or video.post_type == 1 %}
                                <img src="{{ video_thumbnail(video.video_id) }}">
                            {% elseif video.post_type == 2 %}
                                <img src="/dynamic/art_thumbnails/{{ video.video_id }}.jpg">
                            {% endif %}
                            <div class="transparent-box">
                                <div class="caption">
                                    <img src="{{ profile_image(video.u_name) }}" alt="{{ video.u_name }}">
                                    <p>{{ __("by") }} {{ video.u_name }}</p>
                                    <strong>{{ video.title }}</strong>
                                </div>
                            </div>
                    </article>
                </a>
            {% else %}
                <p>{{ __("No uploads.") }}</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock %}