{% extends "_layout.twig" %}
{% block head %}
    <meta name="title" content="{{ video.title }} - squareBracket">
    <meta name="description"
          content="{{ video.description|length > 250 ? video.description|slice(0, 250) ~ '...' : video.description }}">
    <meta property="og:site_name" content="squareBracket"/>
    <meta property="og:title" content="{{ video.title }} - squareBracket">
    <meta property="og:description"
          content="{{ video.description|length > 250 ? video.description|slice(0, 250) ~ '...' : video.description }}">
    <meta property="og:image" content="{{ domain }}{{ video_thumbnail(video.video_id) }}">
    <meta property="og:url" content="{{ page_url }}">
    <script>
        video_id = '{{ video.video_id }}';
        user_id = '{{ video.author }}';
    </script>
{% endblock %}
{% block title %}{{ video.title }}{% endblock %}
{% block content %}
    <div class="watchNext">
        <div class="grid">
            <div class="col-md-8">
                <h1>{{ video.title }}</h1>
                {% if postType == "video" %}
                    {{ include('/components/player.twig') }}
                {% elseif postType == "artwork" %}
                    <img class="img-fluid" src="{{ video.videofile }}" alt="{{ video.title }}">
                {% endif %}
                {% if theme != 'nostalgia' %}
                    <div class="card card-body-fat" style="margin:0;border-bottom:none;padding-bottom:0;">
                        <div class="grid">
                            <div class="col-md-8">
                                <a href="user.php?name={{ video.u_name }}"><img src="{{ profile_image(video.u_name) }}"
                                                                                class="rounded"
                                                                                style="width:60px;float: left;margin-right:8px;"
                                                                                alt="{{ video.u_name }}"></a>
                                <span style="font-size:1.15em;"><a
                                            href="user.php?name={{ video.u_name }}">{{ video.u_name }}</a> • {{ allVideos }} {{ __("videos") }}</span>
                                <br>
                                <span>{{ __("Published on %s", [video.time | date('M j, Y')]) }} • {{ viewCount }} {{ __("views") }}</span>
                                <br>
                                {% if userbandata != true %}
                                    {% include "components/watch_subscribe.twig" %}
                                {% endif %}
                                <br>
                            </div>
                            {% if userbandata != true %}
                                <div class="col-md-4 right">
                                    {% include "components/watch_ratings.twig" %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="grid" style="margin-top:5px;">
                            <div class="right">
                                <div class="tab">
                                    <button class="tablinks active" onclick="openTab(event, 'About')"
                                            id="defaultOpen">{{ __("About") }}</button>
                                    <button class="tablinks"
                                            onclick="openTab(event, 'Stats')">{{ icon("bar-chart-fill", 12) }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body-fat">
                        <div class="grid">
                            <div class="col-md-12">
                                <div id="About" class="tabcontent" style="display: block;">
                                    <p><b>{{ __("Published on %s", [video.time | date('M j, Y')]) }}</b></p>
                                    <p>{{ video.description }}</p>
                                    <div class="description-extra">
                                        <ul>
                                            <li>
                                                <h4 class="title">{{ __("Category:") }}</h4>
                                                <div class="content">{{ video.category_id | category_id_to_name() }}</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="Stats" class="tabcontent" style="display: none;">
                                    <h2>{{ __("Statistics") }}</h2>
                                    <ul style="padding:0">
                                        <li>
                                            {{ __("Rating ratio:") }} {{ videoRatio }}%
                                        </li>
                                        <li>
                                            {{ __("Last viewed:") }} {{ recentView | relative_time }}
                                        </li>
                                        <li>
                                            {{ __("Favorites:") }} {{ total_favorites }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body-fat">
                            <h3>{{ __("Comments") }} ({{ comCount }})</h3>
                            {% if log and userbandata != true %}
                                {% include "components/comment_form.twig" %}
                            {% endif %}
                            <div id="comment"></div>
                            {% for comment in comments %}
                                {{ comment(comment) }}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <h4 style="color: gray;font-weight:bold;">{{ __("Comment on this video:") }}</h4>
                    {% if log and userbandata != true %}
                        {% include "components/comment_form.twig" %}
                    {% endif %}
                    <div id="comment"></div>
                    {% for comment in comments %}
                        {{ comment(comment) }}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if theme == 'nostalgia' %}
                    <div class="card">
                        <div class="card-header">{{ __("About this video") }}</div>
                        <div class="card-body">
                            <a href="user.php?name={{ video.u_name }}"><img src="{{ profile_image(video.u_name) }}"
                                                                            class="rounded"
                                                                            style="width:48px;float: left;margin-right:8px;"
                                                                            alt="{{ video.u_name }}"></a>
                            <p><strong>{{ __("Published on %s", [video.time | date('M j, Y')]) }}
                                    <br>{{ __("by") }} {{ userlink(video, "u_") }}</strong> ({{ allVideos }} {{ __("videos") }})
                            </p>
                            <p>
                                {{ video.description }}
                            </p>
                            <p>
                                {% include "components/watch_subscribe.twig" %}
                            </p>
                        </div>
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        {% for related_video in related_videos %}
                            {{ small_video_box(related_video) }}
                        {% endfor %}
                        <div class="center">
                            <div class="button button-secondary" onclick="showMoreVideos()" id="fromUser">
                                {{ __("More videos") }}
                            </div>
                        </div>
                        <div class="collapsed" id="fromUserVideoList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
