{% extends "_layout.twig" %}
{% block head %}
    <meta name="title" content="{{ video.title }} - {{ website_branding.name }}">
    <meta name="description"
          content="{{ video.description|length > 250 ? video.description|slice(0, 250) ~ '...' : video.description }}">
    <meta property="og:site_name" content="{{ website_branding.name }}"/>
    <meta property="og:title" content="{{ video.title }} - {{ website_branding.name }}">
    <meta property="og:description"
          content="{{ video.description|length > 250 ? video.description|slice(0, 250) ~ '...' : video.description }}">
    <meta property="og:image" content="{{ domain }}{{ video_thumbnail(video.video_id) }}">
    <meta property="og:url" content="{{ page_url }}">
    <script>
        video_id = '{{ video.video_id }}';
        user_id = '{{ video.author }}';
    </script>
{% endblock %}
{% block title %}{{ video.title }}{% endblock %}
{% block content %}
    <div class="watchNext">
        <div class="grid">
            <div class="col-md-10">
                {% if postType == "video" %}
                    {{ include('/components/player.twig') }}
                {% elseif postType == "artwork" %}
                    {{ include('/components/artwork.twig') }}
                {% endif %}
                    <div class="card card-body-fat" style="margin:0;border-bottom:none;">
                        <h1 style="margin-top:0;">{{ video.title }}</h1>
                        <div class="small-stats">
                            <div>{{ __("%s views", [viewCount]) }}</div>
                            <div>{{ __("%s favorites", [total_favorites]) }}</div>
                        </div>
                    </div>
                    <div class="card card-body-fat" style="margin:0;border-bottom:none;">
                    <div class="grid">
                        <div class="col-md-10">
                            <a href="user.php?name={{ video.u_name }}"><img src="{{ profile_image(video.u_name) }}"
                                                                            class="rounded"
                                                                            style="width:50px;float: left;margin-right:8px;"
                                                                            alt="{{ video.u_name }}"></a>
                            <span style="font-size:1.15em;"><a
                                        href="user.php?name={{ video.u_name }}" style="color:{{ video.u_customcolor }}">{{ video.u_name }}</a> {% if video.u_powerlevel > 1 %}{{ icon("shield", 16) }}{% endif %} • {{ __("%s followers", [subCount]) }}</span>
                            <br>
                            {% if userbandata != true %}
                                {% include "components/watch_subscribe.twig" %}
                            {% endif %}
                            <br>
                        </div>
                            {% if userbandata != true %}
                                <div class="col-md-6 right">
                                    {% include "components/watch_ratings.twig" %}
                                </div>
                            {% endif %}
                    </div>
                    </div>
                    <div class="card card-body-fat" id="About">
                        <div class="grid">
                            <p><strong>{{ __("Published on %s", [video.time | date('F j, Y')]) }}</strong></p>
                            <p>{{ video.description | markdown }}</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body-fat">
                            <h3 class="sectionTitle">{{ __("Comments") }} ({{ comCount }})</h3>
                            {% if log and userbandata != true %}
                                {% include "components/comment_form.twig" %}
                            {% endif %}
                            <div id="comment"></div>
                            {% for comment in comments %}
                                {{ comment(comment) }}
                            {% endfor %}
                        </div>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        {% for related_video in related_videos %}
                            {{ small_video_box(related_video) }}
                        {% endfor %}
                        <div class="center">
                            <div class="button button-secondary" onclick="showMoreVideos()" id="fromUser">
                                {{ __("More") }}
                            </div>
                        </div>
                        <div class="collapsed" id="fromUserVideoList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}