{% extends "_layout.twig" %}
{% block head %}
    <meta name="title" content="{{ video.title }} - Qobo">
    <meta name="description"
          content="{{ video.description|length > 250 ? video.description|slice(0, 250) ~ '...' : video.description }}">
    <meta property="og:site_name" content="Qobo"/>
    <meta property="og:title" content="{{ video.title }} - Qobo">
    <meta property="og:description"
          content="{{ video.description|length > 250 ? video.description|slice(0, 250) ~ '...' : video.description }}">
    <meta property="og:image" content="{{ domain }}{{ video_thumbnail(video.video_id) }}">
    <meta property="og:url" content="{{ page_url }}">
    <script>
        video_id = '{{ video.video_id }}';
        user_id = '{{ video.author }}';
    </script>
{% endblock %}
{% block title %}{{ video.title }}{% endblock %}
{% block content %}
    <div class="watchNext">
        <div class="grid">
            <div class="col-md-10">
                {% if theme == 'nostalgia' %}
                    <h1>{{ video.title }}</h1>
                {% endif %}
                {% if postType == "video" %}
                    {{ include('/components/player.twig') }}
                {% elseif postType == "artwork" %}
                    <img class="img-fluid" src="{{ video.videofile }}" alt="{{ video.title }}">
                {% endif %}
                {% if theme != 'nostalgia' %}
                    <div class="card card-body-fat">
                        <div class="grid">
                            <div class="col-md-10">
                                {% if theme != 'nostalgia' %}
                                    <h1>{{ video.title }}</h1>
                                    <div class="small-stats">
                                        <div>{{ icon("eye", 20) }} {{ viewCount }}</div>
                                        <div>{{ icon("chat", 20) }} {{ comCount }}</div>
                                        <div>{{ icon("star", 20) }} {{ total_favorites }}</div>
                                    </div>
                                {% endif %}
                            </div>
                            {% if userbandata != true %}
                                <div class="col-md-6 right">
                                    {% include "components/watch_ratings.twig" %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card card-body-fat" style="margin:0;border-bottom:none;">
                        <a href="user.php?name={{ video.u_name }}"><img src="{{ profile_image(video.u_name) }}"
                                                                        class="rounded"
                                                                        style="width:50px;float: left;margin-right:8px;"
                                                                        alt="{{ video.u_name }}"></a>
                        <span style="font-size:1.15em;"><a
                                    href="user.php?name={{ video.u_name }}">{{ video.u_name }}</a> • {{ __("%s followers", [subCount]) }}</span>
                        <br>
                        {% if userbandata != true %}
                            {% include "components/watch_subscribe.twig" %}
                        {% endif %}
                        <br>
                    </div>
                    <div class="card card-body-fat" id="About">
                        <div class="grid">
                            <p><b>{{ __("Published on %s", [video.time | date('M j, Y')]) }}</b></p>
                            <p>{{ video.description }}</p>
                            <div class="description-extra">
                                <ul>
                                    <li>
                                        <h4 class="title">{{ __("Category") }}:</h4>
                                        <div class="content">{{ video.category_id | category_id_to_name() }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body-fat">
                            <h3>{{ __("Comments") }} ({{ comCount }})</h3>
                            {% if log and userbandata != true %}
                                {% include "components/comment_form.twig" %}
                            {% endif %}
                            <div id="comment"></div>
                            {% for comment in comments %}
                                {{ comment(comment) }}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <h4 style="color: gray;font-weight:bold;">{{ __("Comment on this video") }}:</h4>
                    {% if log and userbandata != true %}
                        {% include "components/comment_form.twig" %}
                    {% endif %}
                    <div id="comment"></div>
                    {% for comment in comments %}
                        {{ comment(comment) }}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if theme == 'nostalgia' %}
                    <div class="card">
                        <div class="card-header">{{ __("About this upload") }}</div>
                        <div class="card-body">
                            <a href="user.php?name={{ video.u_name }}"><img src="{{ profile_image(video.u_name) }}"
                                                                            class="rounded"
                                                                            style="width:48px;float: left;margin-right:8px;"
                                                                            alt="{{ video.u_name }}"></a>
                            <p><strong>{{ __("Published on %s", [video.time | date('M j, Y')]) }}
                                    <br>{{ __("by") }} {{ userlink(video, "u_") }}</strong> ({{ allVideos }} {{ __("uploads") }})
                            </p>
                            <p>
                                {{ video.description }}
                            </p>
                            <p>
                                {% include "components/watch_subscribe.twig" %}
                            </p>
                        </div>
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        {% for related_video in related_videos %}
                            {{ small_video_box(related_video) }}
                        {% endfor %}
                        <div class="center">
                            <div class="button button-secondary" onclick="showMoreVideos()" id="fromUser">
                                {{ __("More") }}
                            </div>
                        </div>
                        <div class="collapsed" id="fromUserVideoList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}