<div id="player-container">
    {% if (video.flags b-and 2) %}
        <div>
            {{ __("This video should be processing.") }}
        </div>
    {% else %}
        <!-- this is not the right location but i don't care -grkb 8/23/2022 -->
		<script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
		<link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
        <video
                id="sb-video"
                class="video-js"
                controls
                preload="auto"
                poster="{{ video_thumbnail(video.video_id) }}"
                src="/dynamic/videos/{{ video.video_id }}.converted.mp4">
            <p class="vjs-no-js">
                {{ __("To view this video please enable JavaScript.") }}
            </p>
        </video>
        <script>
            var player = videojs('sb-video', {
                sourceOrder: true,
                retryOnError: true,
                aspectRatio: "16:9",
                fluid: false,
                autoplay: true,
                preload: "auto"
            });

            player.src([{
                src: '/dynamic/videos/{{ video.video_id }}.converted.mp4',
                type: 'video/mp4'
            }, {
                src: '/dynamic/videos/{{ video.video_id }}.mpd',
                type: 'application/dash+xml'
            }]);
        </script>
    {% endif %}
</div>