<div class="header-test">
    <h1>
        <a href="/">{{ website_branding.name }}</a>
    </h1>
    <p>
        The Ultimate Testing Theme!
    </p>
    {% for link in header_main_links() %}
        <a href="{{ link.url }}">{{ link.name }}</a>
    {% endfor %}
    {% for link in header_user_links() %}
        <a href="{{ link.url }}">{{ link.name }}</a>
    {% endfor %}
</div>