<div id="player-container">
    {% if (video.flags b-and 2) %}
        <div>
            {{ __("This video should be processing.") }}
        </div>
    {% else %}
        <!-- this is not the right location but i don't care -grkb 8/23/2022 -->
		{% if browser_info.legacy_disable_videojs != true %}
		<script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
		<link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
		{% endif %}
        <video
                id="sb-video"
                class="video-js"
                controls
                preload="auto"
                poster="{{ video_thumbnail(video.video_id) }}"
				type="video/mp4"
                src="/dynamic/videos/{{ video.video_id }}.converted.mp4">
            <p class="vjs-no-js">
                {{ __("To view this video please enable JavaScript.") }}
            </p>
        </video>
		{% if browser_info.legacy_disable_videojs != true %}
        <script>
            var player = videojs('sb-video', {
                sourceOrder: true,
                retryOnError: true,
                aspectRatio: "16:9",
                fluid: false,
                autoplay: true,
                preload: "auto"
            });

            {% if bunnyEnabled %}
            player.src([{
                src: '{{ video.bunny_url }}',
                type: 'application/x-mpegURL'
            }]);
            {% else %}
            player.src([{
                src: '/dynamic/videos/{{ video.video_id }}.converted.mp4',
                type: 'video/mp4'
            }, {
                src: '/dynamic/videos/{{ video.video_id }}.mpd',
                type: 'application/dash+xml'
            }]);
            {% endif %}
        </script>
		{% endif %}
    {% endif %}
</div>