{% extends "_layout-login.twig" %}

{% block title %}{{ __("Login") }}{% endblock %}

	{% block content %}
{% if error %}
	{% autoescape %}
		<div class="alert alert-warning" role="alert">{{ error | raw }}</div>
	{% endautoescape %}
{% else %}
	{% if not success == '' %}
		{% if success %}
		{% else %}
			{{ __("Incorrect username or password!") }}
		{% endif %}
	{% endif %}
{% endif %}
<main class="text-center">
  <form method="post" name="loginForm" id="loginForm" action="login.php">
	<div class="text-center">
    <img class="mb-2 gamerappa-killed-the-render-star" src="/assets/logo-wordmark{% if theme == 'dark' %}-dark{% endif %}.png" alt="squareBracket">
	</div>
	<div class="form-signin god-is-dead text-center">
    <h1 class="h3 mb-3 fw-normal">{{ __("Please sign in") }}</h1>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="floatingUsername" placeholder="name@example.com">
      <label for="floatingUsername"><svg class="bi" width="24" height="24" fill="currentColor">
							<use xlink:href="vendor/twbs/bootstrap-icons/bootstrap-icons.svg#person-fill"/>
						</svg> {{ __("Username") }}</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingLabel" placeholder="Password">
      <label for="floatingLabel"><svg class="bi" width="24" height="24" fill="currentColor">
							<use xlink:href="vendor/twbs/bootstrap-icons/bootstrap-icons.svg#key-fill"/>
						</svg> {{ __("Password") }}</label>
    </div>
	<br>
    <input class="w-100 btn btn-lg btn-primary" type="submit" value="{{ __("Login") }}" name="loginsubmit">
  </form>
</main>
	{% endblock %}