{% extends "_layout.twig" %}

{% block head %}
	<meta name="title" content="{{ video.title }} - squareBracket">
	<meta name="description" content="{{ data.description|length > 250 ? data.description|slice(0, 250) ~ '...' : data.description }}">
	<meta property="og:title" content="{{ video.title }} - squareBracket">
	<meta property="og:description" content="{{ data.description|length > 250 ? data.description|slice(0, 250) ~ '...' : data.description }}">
	<meta property="og:image" content="{{ video_thumbnail(video.video_id) }}">
	<meta property="og:url" content="{{ page_url }}">
	<meta property="twitter:title" content="{{ video.title }} - squareBracket">
	<meta property="twitter:description" content="{{ data.description|length > 250 ? data.description|slice(0, 250) ~ '...' : data.description }}">
	<meta property="twitter:image" content="{{ video_thumbnail(video.video_id) }}">
	<meta name="twitter:card" content="summary_large_image">
	<script>video_id = '{{ video.video_id }}';</script>
{% endblock %}

{% block title %}{{ video.title }}{% endblock %}

	{% block content %}
<div class="row">
	<div class="col-lg-9">
		<div id="playerContainer"></div>
		<script src="https://cdn.jsdelivr.net/npm/indigo-player@1/lib/indigo-player.js"></script>
		    <style>
				.igui-icon-font {
					font-family: 'bootstrap-icons';
				}
				@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
				.igui_icon_pip::before {
					content: "\f4ef";
				}
				.igui_icon_fullscreen-exit::before {
					content: "\f3de";
				}
				.igui_icon_fullscreen::before {
					content: "\f3df";
				}
				.igui_icon_play::before {
					content: "\f4f4";
				}
				.igui_icon_pause::before {
					content: "\f4c3";
				}
				.igui_icon_volume-off::before {
					content: "\f60c";
				}
				.igui_icon_volume-1::before {
					content: "\f60a";
				}
				.igui_icon_volume-2::before {
					content: "\f610";
				}
				.igui_icon_settings::before {
					content: "\f3e2";
				}
				.igui_seekbar_progress,
				.igui_seekbar_scrubber {
					background-color: var(--bs-primary);
				}
				.ig-container {
					font-family: var(--bs-font-sans-serif);
				}
				.ig_contextmenu {
					background: rgba(0,0,0,0.85);
					border-radius: 5px;
					padding: 8px 0;
				}
			</style>
		<script>
			const config = {
				autoplay: true,
				sources: [
					{
						type: 'dash',
						src: '{{ video.videofile }}'
					}
				],
				ui: {
					image: '{{ video_thumbnail(video.video_id) }}',
					pip: true,
					locale: '{{ current_user.language | replace({'_': '-'}) }}'
				}
			};
			const element = document.getElementById('playerContainer');
			const player = IndigoPlayer.init(element, config);
		</script>
		<div style="margin-top:5px">
			<div class="card">
				<div class="card-body">
					<h4>{{ video.title }}</h4><hr/>
					<div class="row">
						<div class="col-lg-9">
							<div class="row">
								<div class="col-lg-2" style="width:10%;padding-right:0">
									<a href="user.php?name={{ video.u_username }}">
										<img class="rounded w-100" src="{{ profile_image(video.u_username) }}">
									</a>
								</div>
								<div class="col-lg-7">
									{{ userlink(video, 'u_') }}<br>
									<small>{{ __("Uploaded on %s", [video.time | date('M j, Y')]) }} &bull; {{ video.views }} {{ __("views") }}</small>
								</div>
							</div>
						</div>
						<div class="col-3 text-end">
							<a href="#" id="{% if logged_in %}like{% endif %}" class="text-{% if rating %}info{% else %}body{% endif %}"><svg class="bi" width="20" height="20" fill="currentColor">
								<use xlink:href="vendor/twbs/bootstrap-icons/bootstrap-icons.svg#hand-thumbs-up-fill"/>
							</svg></a> <span id="likes">{{ total_likes }}</span>
							<a href="#" id="{% if logged_in %}dislike{% endif %}" class="text-{% if rating == 0 %}info{% else %}body{% endif %}"><svg class="bi" width="20" height="20" fill="currentColor">
								<use xlink:href="vendor/twbs/bootstrap-icons/bootstrap-icons.svg#hand-thumbs-down-fill"/>
							</svg></a> <span id="dislikes" style="padding-right: 10px">{{ total_dislikes }}</span>
							<button class="btn btn-warning" type="button">{{ __("Subscribe") }}</button>
						</div>
						<p style="margin-top: 1rem;">{{ video.description }}</p>
					</div>
				</div>
			</div>
		</div> <!-- WATCH VIDEO BOX -->
		<div style="margin-top:5px">
			<textarea class="form-control" id="commentContents" style="overflow:hidden;resize:none"
			rows="3" placeholder="{{ __("Enter comment here, Markdown can be used here.") }}"></textarea>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top:5px;margin-bottom:15px">
			<button id="{% if logged_in %}post{% endif %}" class="btn btn-primary {% if not logged_in %}disabled{% endif %}"><svg class="bi" width="16" height="16" fill="currentColor">
							<use xlink:href="vendor/twbs/bootstrap-icons/bootstrap-icons.svg#pencil-square"/>
						</svg> {{ __("Post") }}</button>
			</div>
			<div id="comment"></div>
				{% for comment in comments %}
					{{ comment(comment) }}
				{% endfor %}
		</div>
	</div>
	<div class="col-lg-3">
		{% for related_video in related_videos %}
			{{ small_video_box(related_video)}}
		{% endfor %}
	</div>
</div>
	{% endblock %}
