{% extends "_layout.twig" %}

{% block title %}{{ userpagedata.name }}{% endblock %}

{% block content %}
<table class="userbox" cellspacing="4">
	<tbody>
		<tr>
			<th colspan="2"><h2>{{ userpagedata.name }}</h2></th>
		</tr>
		<tr>
			<th colspan="2" align="center">
				<img class="thumbborder" src="{{ profile_image(userpagedata.name) }}" width="135">
			</th>
		</tr>
		<tr>
			<th>Display name</th>
			<td>{{ userpagedata.title }}</td>
		</tr>
		<tr>
			<th>Registered</th>
			<td>{{ userpagedata.joined | date('Y-m-d') }}</td>
		</tr>
		<tr>
			<th>Last signed in</th>
			<td>{{ userpagedata.lastview | date('Y-m-d') }}</td>
		</tr>
		<tr>
			<th>Followers</th>
			<td>{{ subCount }}</td>
		</tr>
		<tr>
			<th>Views</th>
			<td>{{ views }}</td>
		</tr>
	</tbody>
</table>
<h2>About</h2>
<p>{{ userpagedata.about }}</p>
{% endblock %}