{% extends "_layout.twig" %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}
    <table id="watch">
        <tbody>
        <tr>
            <td>
                {% if postType == "video" %}
                    <video src="/dynamic/videos/{{ video.video_id }}.converted.mp4" controls width="100%"></video>
                {% elseif postType == "artwork" %}
                    <img class="img-fluid" src="{{ video.videofile }}" alt="{{ video.title }}">
                {% endif %}
            </td>
            <td>
                <h2>About this upload</h2>
                <p>{{ video.description }}</p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}