{% extends "_layout.twig" %}

{% block content %}
    <div class="container my-4">
        <div class="columns">
            <div class="column is-8">
                <div id="video-info">
                    <div class="columns mb-0" id="top-info">
                        <div class="column">
                            <div class="columns is-mobile is-multiline is-gapless is-vcentered">
                                <div class="column is-1">
                                    <div id="video-pfp" class="image is-32x32">
                                        <img src="{{ profile_image(video.u_name) }}" alt="{{ video.u_name }}" class="is-rounded">
                                    </div>
                                </div>
                                <div class="column is-narrow">
                                    <p class="ml-3 has-text-justified is-size-6">{{ userlink(video, 'u_') }}</p>
                                </div>
                                <div class="column">
                                    <div class="field has-addons">
                                        <div class="control">
                                            <button class="button ml-2 sb-unimplemented">
                                                <p>Follow</p>
                                            </button>
                                        </div>
                                        <div class="control">
                                            <p class="button is-static">
                                                {{ subCount }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column has-text-right" id="video-ratings">
                            <button class="button like-button sb-unimplemented">
                                <i class="bi bi-hand-thumbs-up"></i>
                                <p style="margin-left:5px">{{ total_likes }}</p>
                            </button>
                            <button class="button dislike-button sb-unimplemented">
                                <i class="bi bi-hand-thumbs-down"></i>
                                <p style="margin-left:5px">{{ total_dislikes }}</p>
                            </button>
                        </div>
                    </div>
                    {% if postType == "video" %}
                        <div class="image is-16by9 has-background-black">
                            {{ include('/components/player.twig') }}
                        </div>
                    {% elseif postType == "artwork" %}
                        <div class="image">
                            <img src="{{ video.videofile }}" alt="{{ video.title }}">
                        </div>
                    {% endif %}
                </div>
                <div id="comments" class="mt-5 box content">
                    <h1 class="title is-5">Comments ({{ comCount }})</h1>
                    {% if log %}
                        <article class="media">
                            <figure class="media-left px-0 ml-1 mr-3">
                                <p class="image is-64x64">
                                    <img class="is-rounded" alt="{{ userdata.name }}" src="{{ profile_image(userdata.name) }}">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="field">
                                    <p class="control">
                                        <textarea class="textarea" placeholder="Add a comment..."></textarea>
                                    </p>
                                </div>
                                <a class="button is-primary sb-unimplemented">Submit</a>
                            </div>
                        </article>
                    {% endif %}
                    {% for comment in comments %}
                        <article class="media">
                            <figure class="media-left px-0 ml-1 mr-3">
                                <p class="image is-64x64">
                                    <img class="is-rounded" alt="{{ comment.u_name }}" src="{{ profile_image(comment.u_name) }}">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p class="mb-0">
                                        <strong>{{ userlink(comment, 'u_') }}</strong>
                                        <small>{{ comment.date | relative_time }}</small>
                                    </p>
                                    {{ comment.comment | markdown }}
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item sb-unimplemented">
                                            Reply
                                        </a>
                                        <a class="level-item sb-unimplemented">
                                            Like
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
            <div class="column">
                <div class="box content">
                    <h1 class="title is-4 is-medium mb-4">{{ video.title }}</h1>
                    <p>{{ viewCount }} views • {{ __("Published on %s", [video.time | date('M j, Y')]) }}</p>
                    <p>{{ video.description }}</p>
                </div>
                <div class="container">
                    {% for video in related_videos %}
                        <div class="column is-multiline">
                            <a href="watch?v={{ video.video_id }}">
                                <figure class="image is-16by9">
                                    <img src="{{ video_thumbnail(video.video_id) }}">
                                </figure>
                            </a>
                            <div class="columns is-mobile is-multiline is-centered pt-1">
                                <div class="column is-one-fifth pr-1">
                                    <div class="image is-fluid">
                                        <img src="{{ profile_image(video.u_name) }}" alt="{{ video.u_name }}" class="is-rounded">
                                    </div>
                                </div>
                                <div class="column">
                                    <a href="watch?v={{ video.video_id }}">
                                        <p class="title is-6 is-spaced mt-1 mb-1">{{ video.title }}</p>
                                    </a>
                                    <p class="subtitle is-6">{{ userlink(video, 'u_') }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
