<div class="card" style="margin-bottom:10px">
	<div class="card-body text-center">
		<div class="row"><a href="watch.php?v={{ data.video_id }}">
				<div class="col-lg-12" style="margin-bottom:15px">
					<div class="img-thumbnail">
						<img class="img-fluid" src="{{ profile_image(id.username) }}">
					</div>
				</div>
			</a>
			<div class="col-lg-12">
					<h4><a href="user.php?name={{ data.username }}">{{ data.username }}</a></h4>
				<p>{{ userlink(data, 'u_') }} &bull; {{ data.views }} {{ __("views") }} &bull;
					{{ data.time | relative_time }}</p>
			</div>
		</div>
	</div>
</div>