<div class="row">
	<a href="user.php?name={{ data.u_username }}">
	<div class="col-md-1">
		<img class="img-circle" style="width:32px;height:32px" src="{{ profile_image(data.u_username) }}">
	</div>
	</a>
	<div class="row col-md-10" style="padding-left: 0px;">
		{{ userlink(data, 'u_') }} &bull; {{ data.time | relative_time }}
		{% apply markdown_to_html | nl2br %}
			{{ data.comment | raw }}
		{% endapply %}
	</div>
</div>