<div class="panel panel-primary">
	<div class="panel-body">
		<div class="col-md-8">
			<h3>{{ data.title }}</a></h3>
			<p>{{ data.author }} &bull; {{ data.views }} views &bull; {{ data.date | date('M j, Y') }}</p>
			<p>{{ data.description }}</p>
		</div>
	</div>
</div>