<div class="comment" id="comment-{{ comment.id }}">
    <img src="{{ profile_picture(comment.author.info.username) }}" class="pfp" alt="{{ comment.author.info.username }}">
    <div class="comment-body">
        <div class="comment-author">
            {{ user_link(comment.author) }} • <small title="{{ comment.posted | date('F j, Y') }}">{{ comment.posted | relative_time }}</small>
        </div>
        <div class="comment-contents">
            {% if comment.post | trim is not empty %}
                {{ comment.post | markdown_user_written }}
            {% else %}
                <small>Null comment</small>
            {% endif %}

            {% if comment.id and is_user_logged_in %}
            <a class="reply-button" data-comment-id="{{ comment.id }}">{{ localize('reply') }}</a>
            <div class="reply-form" id="reply-form-{{ comment.id }}" style="display: none;">
                <textarea class="form-submit-wide" id="reply_contents_{{ comment.id }}" maxlength="1000" placeholder="Write your reply" rows="4"></textarea>
                <button class="button button-secondary submit-reply-button" data-comment-id="{{ comment.id }}">{{ localize('reply') }}</button>
            </div>
            {% endif %}

            <div class="replies" id="replies-{{ comment.id }}">
                {% for reply in comment.replies %}
                    {{ include('/components/_comment.twig', { comment: reply }) }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>