<div class="content-entry-small">
    <div class="content-image-container">
        <a href="/view/{{ submission.id }}" class="content-image-link">
            <img src="{{ thumbnail(submission.id, submission.type, submission.bools.custom_thumbnail) }}"
                 alt="{{ submission.title }}"
                 title="{{ submission.title }} by {{ submission.author.info.username }}"
                 class="content-image thumbnail">
        </a>
    </div>
    <div class="content-author">By {{ user_link(submission.author) }}</div>
</div>