<div class="content-entry">
    <table cellpadding="0" cellspacing="0">
        <tr valign="top">
            <td>
                <a href="/user/{{ user.info.username }}">
                    <img src="{{ profile_picture(user.info.username) }}" width="80"
                         alt="{{ user.info.username }}" class="content-image pfp">
                </a>
            </td>
            <td>
                <div class="content-title">
                    {{ user_link(user) }} ({{ user.info.displayname }})
                </div>
                <div class="content-description">
                    {% if user.about|trim is not empty %}
                        <span>{{ user.about }}</span>
                    {% else %}
                        <span class="fade">No description.</span>
                    {% endif %}
                    <br>
                    <small>
                        {{ user.submissions }} uploads · {{ user.journals }} journals
                    </small>
                </div>
            </td>
        </tr>
    </table>
</div>