{% if submission.views != 1 %}
    {% set pluralViews = "s" %}
{% endif %}

<div class="content-entry">
    <div class="content-thumbnail">
        <a href="/view/{{ submission.id }}">
            <img src="{{ thumbnail(submission.id, submission.type, submission.bools.custom_thumbnail) }}" width="100"
                 alt="{{ submission.title }}" class="content-image thumbnail">
        </a>
    </div>
    <div class="content-info">
        <div class="content-title">
            <a href="/view/{{ submission.id }}">
                {{ submission.title }}
            </a>
        </div>
        <div class="content-description">
            {{ submission.views }} view{{ pluralViews }}
            <br>
            {{ user_link(submission.author) }}
        </div>
        <div class="content-rating">
            {{ show_ratings(submission.interactions.ratings) }}
        </div>
    </div>
</div>