{% set pages = (levels / lpp) | round(0, 'ceil') %}
{% set range = 7 %}
{% set start = current - range > 0 ? current - range : 1 %}
{% set end = current + range < pages ? current + range : pages %}

{% if pages > 1 %}
    <div class="pagination">
        {% if start > 1 %}
            <div class="pagination-item">
                <a href="{{ url | format(1) }}">1</a>
            </div>
            {% if start > 2 %}
                <span class="pagination-ellipsis">...</span>
            {% endif %}
        {% endif %}
        {% for page in start..end %}
            <div class="pagination-item {% if page == current %}current{% endif %}">
                {% if page != current %}
                    <a href="{{ url | format(page) }}">{{ page }}</a>
                {% else %}
                    <span>{{ page }}</span>
                {% endif %}
            </div>
        {% endfor %}
        {% if end < pages %}
            {% if end < pages - 1 %}
                <span class="pagination-ellipsis">...</span>
            {% endif %}
            <div class="pagination-item">
                <a href="{{ url | format(pages) }}">{{ pages }}</a>
            </div>
        {% endif %}
    </div>
{% endif %}