<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} - squareBracket Next</title>
	{% block head %}{% endblock %}
	<link rel="stylesheet" id="bootstrap" href="assets/css/style.css" type="text/css">
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<script src="assets/common.js"></script>
	<script> 
	var $buoop = {required:{e:-6,f:-6,o:-6,s:12,c:-6},insecure:true,api:2021.10 }; 
	function $buo_f(){ 
	 var e = document.createElement("script"); 
	 e.src = "//browser-update.org/update.min.js"; 
	 document.body.appendChild(e);
	};
	try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
	catch(e){window.attachEvent("onload", $buo_f)}
	</script>
	<style>
	.bi {
    display: inline-block;
    margin-top: -0.2em;
	vertical-align: middle;
	}
	</style>
	{% block customcss %}{% endblock %}
</head>
<body>
		<div class="top bg-light">
			<a href="../"><img class="picon" src="../assets/logo.png"/></a>
			<ul class="menu left">
				<li><a href="../" class="btn">{{ icon('circle', 16) }} Home</a></li>
				<li><a href="../browse.php" class="btn">{{ icon('circle', 16) }} Videos</a></li>
				<li><a href="../music.php" class="btn">{{ icon('circle', 16) }} Music</a></li>
				<li><a href="../artwork.php" class="btn">{{ icon('circle', 16) }}  Artwork</a></li>
				<li><a href="../forum/" class="btn">{{ icon('circle', 16) }} Forums</a></li>
			</ul>
			<ul class="menu right">
				<li><em>
				<a href="../search.php" class="btn">{{ icon('search', 16) }}</a>
					{% if log %}
						<a href="../upload.php">{{ icon('upload', 16) }}</a>
						{{ userlink(userdata) }}
						{% if notification_count > 0 %}
							<span class="notifs">[{{ notification_count }}]</span>
						{% endif %}
					{% else %}
						<a href="../login.php">Sign in</a>
						<a href="../register.php">Register</a>
					{% endif %}
				</em></li>
			</ul>
		</div>
	{% block precontent %}{% endblock %}
	<div class="container">
		{% block content %}{% endblock %}
	</div>
		<footer class="p-3">
		<div class="container">
		<div class="card">
		<div class="card-body">
		<h4 class="my-0">squareBracket Next</h4>
		<p class="my-0"><b>{{ __("By the squareBracket contributors") }}</b> · 2020-{{ 'now' | date('Y') }} | <b>{{ __("Users registered") }}</b>: {{ stats.usercount }} | <b>{{ __("Videos uploaded") }}</b>: {{ stats.videocount }}</p>
		</div>
		</div>
	</footer>
</body>
</html>