{% extends "_layout.twig" %}
{% block title %}Main page{% endblock %}
	{% block precontent %}
	<div class="main-content">
		<div class="container">
	  		{% if log %}
			<div class="grid">
				<div class="col-10">
					<p class="text-start">
					<h1>Welcome, {{ userdata.title }}</h1>
						{# hack to prevent twig from outputing the number 1 #}
						{% if totalSubscribers != 1 %}
							{% set pluralSubscribers = __("s") %}
						{% endif %}
						{% if totalViews != 1 %}
							{% set pluralViews = __("s") %}
						{% endif %}
						<p class="fs-5 mb-1">@{{ userdata.name }}
						&bull; {{ __("%s subscriber%s", [totalSubscribers ?? __("no"), pluralSubscribers]) }}
						&bull; {{ __("%s view%s", [totalViews ?? __("no"), pluralViews]) }}</p>
						<a class="button button-primary btn-lg" href="../studio.php">Go to studio</a>
				</div>
				<div class="col-2">
					<img class="rounded img-fluid" src="{{ profile_image(userdata.name) }}"  alt="{{ userdata.name }}">
				</div>
			</div>
		{% else %}
			<h1 class="fw-bold">Welcome to squareBracket</h1>
			<p>I can't believe it's not PokTube</p>
			<a class="button button-primary btn-lg" href="register.php">Register {{ icon('caret-right-fill', 16) }}</a>
			<big>Already have an account? <a href="login.php">Sign in</a></big>
			{% endif %}
		</div>
	</div>
	{% endblock %}
	{% block content %}
<div class="grid">
	<div class="col-8">
	<h3>Recently uploaded to squareBracket</h3>
	{% for video in videos %}
		{{ video_box(video) }}
	{% else %}
		<p>{{ __("No uploaded videos.") }}</p>
	{% endfor %}
	</div>
	<div class="col-4">
		<h3>What's new?</h3>
		<p>Welcome to the brand new squareBracket!
		We've heard it, the old layout sucked so
		we have redesigned squareBracket to have
		a better user interface.</p>
		<p>We have introduced many new features! Including:</p>
		<li>Categories</li>
		<li>Forums</li>
		<li>Music</li>
	</div>
</div>
<br><br>
	{% endblock %}