{% extends "_layout.twig" %}

{% block title %}Settings{% endblock %}

	{% block content %}
<form action="settings.php" method="post">
<h3>Credentials</h3>
<table class="settings">
	<tr>
		<td class="a">Username</td>
		<td class="b">{{ userdata.name }}</td>
	</tr>
	<tr>
		<td class="a">Email address</td>
		<td class="b">{{ userdata.email }}</td>
	</tr>
	<tr>
		<td class="a">Change Password</td>
		<td class="b">
			<p><input type="password" name="current_pass" size="30" maxlength="256" placeholder="Current Password (For verification)"></p>
			<p><input type="password" name="pass" size="30" maxlength="256" placeholder="New Password">
			<input type="password" name="pass2" size="30" maxlength="256" placeholder="Repeat new Password"></p>
		</td>
	</tr>
</table>

<h3>Customize your profile</h3>
<table class="settings">
	<tr>
		<td class="a">Profile Picture</td>
		<td class="b">
			<img class="float-start rounded" src="{{ profile_image(userdata.username) }}" style="margin-right: 1.5%;" width="128" alt="pfp">
			<input class="form-control" type="file" name="profilePicture" id="profilePicture">
		</td>
	</tr>
	<tr>
		<td class="a">Display Name</td>
		<td class="b"><input type="text" name="title" size="45" maxlength="256" value="{{ userdata.title }}"></td>
	</tr>
	{% if userdata.powerlevel > 1 %}
	<tr>
		<td class="a">Custom color</td>
		<td class="b"><input type="color" name="customcolor" value="{{ userdata.customcolor | default('0000aa') }}"></td>
	</tr>
	{% endif %}
	<tr>
		<td class="a">
			About
			<br><em>Markdown allowed.</em>
		</td>
		<td class="b"><textarea name="about" rows="5" cols="80" wrap="virtual">{{ userdata.about }}</textarea></td>
	</tr>
	<tr>
		<td class="a">Forum signature</td>
		<td class="b"><textarea name="signature" rows="5" cols="80" wrap="virtual">{{ userdata.signature }}</textarea></td>
	</tr>
</table>

<h3>Options</h3>
<table class="settings">
	<tr>
		<td class="a">Language</td>
		<td class="b">
			<select class="form-select" name="language">
				{% for code,name in glob_languages %}
					{% if name %}<option value="{{ code }}" {% if code==userdata.language %}selected{% endif %}>{{ name }}</option>{% endif %}
				{% endfor %}
			</select>
		</td>
	</tr>
</table>
<input type="hidden" name="magic" value="please change my settings :)">
<input class="button button-primary" type="submit" name="action" value="Save Changes">
	{% endblock %}

{% block custom_footer %}
	{% if userdata.powerlevel > 1 %}
		<script src="assets/js/jscolor.min.js"></script>
	{% endif %}
{% endblock %}