{% extends "_layout.twig" %}

{% block title %}{{ user.display_name }}{% endblock %}

	{% block head %}
		<script>
			user_id = '{{ user.id }}';
		</script>
	{% endblock %}

	{% block precontent %}
<style>
	{{ profCss | raw }}
	.bg-channel-background {
	background-image: url('{{ channel_background(user.name) }}');
    margin-top: -24px;
	padding-bottom: 25px;
	}
</style>
	{% endblock %}

	{% block content %}
<div class="row">
	{% if edited %}
	<div class="col-12">
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			{{ __("Your profile settings have been successfully updated.") }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	</div>
	{% endif %}
	<div class="col-md-8 order-2">
		<div class="card">
			<div class="card-body">
				<div class="caption">
					<h3>{{ __("Uploaded by %s", [user.display_name]) }}</h3>
					{% for latestVideo in latestVideos %}
					{{ video_box(latestVideo) }}
					{% else %}
					<p>{{ __("There are currently no videos uploaded by %s.", [user.display_name]) }}</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 order-1">
		<div class="card mb-2">
		  <div class="card-header">
			<h5 class="mb-0">{{ __("About %s", [user.display_name]) }}</h5>
		  </div>
			<div class="card-body">
				<div class="row">
					<div class="col-4">
					<img class="rounded w-100" src="{{ profile_image(user.name) }}"  alt="{{ user.name }}">
					</div>
					<div class="col-8">
						<dl class="row mb-0">
							<dt class="col-auto">{{ __("Last seen") }}</dt>
							<dd class="col-auto">{{ user.lastview | relative_time }}</dd>
						</dl>
						<dl class="row mb-0">
							<dt class="col-auto">{{ __("Joined") }}</dt>
							<dd class="col-auto">{{ user.joined | date('M j, Y') }}</dd>
						</dl>
						<dl class="row mb-0">
							{# hack to prevent twig from outputing the number 1 #}
							{% if subCount != 1 %}
								{% set pluralSubscribers = __("s") %}
							{% endif %}
							<dt class="col-auto">{{ __("Subscriber%s", [pluralSubscribers]) }}</dt>
							<dd class="col-auto">{{ subCount }}</dd>
						</dl>
						<dl class="row mb-0">
							<dt class="col-auto">{{ __("Username") }}</dt>
							<dd class="col-auto">{{ user.name }}</dd>
						</dl>
					</div>
					</div>
				</div>
			</div>
			{% if current_user.powerlevel > 2 %}
			<div class="card mb-2">
				<div class="card-header">
					<h5 class="mb-0">{{ __("Administrative Actions") }}</h5>
				</div>
				<div class="card-body">			
					<dl class="row">
						<a href="resetpassword.php?grf={{ user.id }}">{{ __("Generate password reset for %s", [user.display_name]) }}</a>
					</dl>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
</div>
<div class="container">
	{% endblock %}
