<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }} - bettySB</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/finalium/css/finalium.css" type="text/css">
    {% if google_tag %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tag }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ google_tag }}');
        </script>
    {% endif %}
</head>
<body class="with-fixed-top-navbar">
{% include "components/header.twig" %}
<div class="container">
    {% if user_ban_data %}
        <div class="alert alert-danger">
            <p><strong>This account is banned for the following reason:</strong></p>
            {{ user_ban_data.reason | markdown }}
        </div>
    {% endif %}
    {% block content %}{% endblock %}
</div>
<footer class="footer">
    <div class="container">
        <img src="/assets/bettysb_logo.png" class="logo">
        <p>© 2021-{{ 'now' | date('Y') }} BettySB contributors.</p>
        {% if is_debug %}
            {% if is_qobo %}
                <p>BettySB is currently configured to be in Qobo mode.</p>
            {% endif %}
            <p><code>{{ profiler_stats() }}</code></p>
        {% endif %}
        <button class="btn btn-default btn-sm" data-fl-toggle="dialog" data-fl-target="#options-dialog">Options</button>
        {% if is_debug %}
            <button class="btn btn-danger btn-sm" data-fl-toggle="dialog" data-fl-target="#debug-dialog">Debug</button>
            {% include "components/dialog_debug.twig" %}
        {% endif %}
        {% include "components/dialog_options.twig" %}
    </div>
</footer>
<script src="/finalium/js/finalium.js"></script>
<script src="/assets/common_new.js"></script>
</body>
</html>