<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{ title }} - {{ website_branding.name }}</title>
    
    <link rel="manifest" href="{{ website_branding.assets_location }}/icons/site.webmanifest">
    <link rel="shortcut icon" href="{{ website_branding.assets_location }}/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ website_branding.assets_location }}/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ website_branding.assets_location }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ website_branding.assets_location }}/icons/favicon-16x16.png">
    <meta name="apple-mobile-web-app-title" content="{{ website_branding.name }}">
    <meta name="application-name" content="{{ website_branding.name }}">
    <meta name="theme-color" content="#ffffff">

    {% block head %}
        <meta name="description" content="BettySB instance, placeholder.">
        <meta property="og:title" content="{{ website_branding.name }}" />
        <meta property="og:type" content="Multimedia sharing site" />
        <meta property="og:url" content="{{ domain }}" />
        <meta property="og:image" content="{{ website_branding.assets_location }}/logo.png" />
        <meta property="og:description" content="BettySB instance, placeholder." />
    {% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/finalium/css/finalium.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if google_tag %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tag }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ google_tag }}');
        </script>
    {% endif %}
</head>
<body class="with-fixed-top-navbar">
{% include "components/header.twig" %}
<div class="container">
    {% if session.notif_message %}
        <div class="alert alert-{{ session.notif_color }}">
            {{ session.notif_message }}
        </div>
        {{ remove_notification() }}
    {% endif %}
    {% if user_ban_data %}
        <div class="alert alert-danger">
            <p><strong>This account is banned for the following reason:</strong></p>
            {{ user_ban_data.reason | markdown }}
        </div>
    {% endif %}
    {% block content %}{% endblock %}
</div>
<footer class="footer">
    <div class="container">
        <img src="/assets/bettysb_logo.png" class="logo">
        <p>© 2021-{{ 'now' | date('Y') }} BettySB contributors.</p>
        {% if is_debug %}
            {% if is_qobo %}
                <p>BettySB is currently configured to be in Qobo mode.</p>
            {% endif %}
            <p><code>{{ profiler_stats() }}</code></p>
        {% endif %}
        <button class="btn btn-default btn-sm" data-fl-toggle="dialog" data-fl-target="#options-dialog">Options</button>
        {% if is_debug %}
            <button class="btn btn-danger btn-sm" data-fl-toggle="dialog" data-fl-target="#debug-dialog">Debug</button>
            {% include "components/dialog_debug.twig" %}
        {% endif %}
        {% include "components/dialog_options.twig" %}
    </div>
</footer>
<script src="/finalium/js/finalium.js"></script>
<script src="/assets/common_new.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>