{% extends "_layout.twig" %}

{% set title = "Home page" %}

{% block content %}
    <div>
        {% if updated %}
            <div class="alert alert-success">Options changed!</div>
        {% endif %}
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a class="btn btn-default pull-right" href="browse.php">Browse more</a>
                        <h3 style="margin-top:0">Submissions</h3>
                        {% for submission in data.submissions %}
                            <div class="row">
                                <div class="col-md-4 col-xs-6">
                                    <a href="watch.php?v={{ submission.id }}" class="thumbnail">
                                        <img src="{{ thumbnail(submission.id, submission.type) }}" alt="{{ submission.title }}">
                                    </a>
                                </div>
                                <div class="col-md-12 col-xs-10" style="padding-left: 0;">
                                    <a href="/watch.php?v={{ submission.id }}">
                                        {% if submission.title | trim is not empty %}
                                            <h4 style="margin-top: 0;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;">{{ submission.title }}</h4>
                                        {% else %}
                                            <em class="text-muted">No title</em>
                                        {% endif %}
                                    </a>
                                    <p>By {{ user_link(submission.author) }}, {{ submission.published | relative_time }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 style="margin-top:0">Posts</h3>
                        <ul class="media-list">
                        {% if is_user_logged_in %}
                            <div class="media">
                                <div class="media-left">
                                    <a href="/user.php?name={{ user_data }}">
                                        <img class="media-object media-profile-picture img-rounded" src="{{ profile_picture(user_data.name) }}">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <textarea class="form-control" rows="3">NYI</textarea>
                                </div>
                                <div class="media-right">
                                    <button class="btn btn-primary">Post</button>
                                </div>
                            </div>
                        {% endif %}
                        {% for post in data.posts %}
                            <div class="media">
                                <div class="media-left">
                                    <a href="/user.php?name={{ post.author.info.username }}">
                                        <img class="media-object media-profile-picture img-rounded" src="{{ profile_picture(post.author.info.username) }}">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ user_link(post.author) }} <small>{{ post.posted | relative_time }}</small></h4>
                                    {% if post.post | trim is not empty %}
                                        <p>{{ post.post | markdown }}</p>
                                    {% else %}
                                        <em class="text-muted">This post is empty.</em>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}