{% extends "_layout.twig" %}

{% set title = "Version" %}

{% block content %}
    <div>
        <h1>Version</h1>
        <table class="settings">
        {% for thing in version_stats %}
            <tr>
                <td class="a">{{ thing.title }}</td>
                <td class="b">{{ thing.info }}</td>
            </tr>
        {% endfor %}
        </table>
        <h1>Skins</h1>
        <table class="settings">
            {% for skin in skins %}
                <tr>
                    <td class="a">{{ skin.metadata.name }}<br><small>by {{ skin.metadata.author }}</small></td>
                    <td class="b">{{ skin.metadata.description }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}