{% extends "_layout.twig" %}

{% set title = submission.title %}

{% block scripts %}
    <script src="/assets/rater.js"></script>
    <script>
        var starRating = raterJs( {
            max:5,
            starSize:20,
            rating:{{ submission.interactions.ratings.average }},
            element:document.querySelector("#rater"),
            rateCallback:function rateCallback(rating, done) {
                fetch("/api/finalium/submission_interaction.php", {
                    method: "POST",
                    body: JSON.stringify({
                        action: "rate",
                        number: rating,
                        submission: submission_int_id,
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                }).then((response) => response.json()).then((json) => { if(json["error"]) { error(json["error"])}})
                this.setRating(rating);
                done();
            }
        });
    </script>

    <script>
        submission_id = '{{ submission.id }}';
        submission_int_id = '{{ submission.int_id }}';
        user_id = '{{ submission.author.id }}';
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            {{ submission_view(submission) }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 style="margin-top: 0;word-break: break-all;">{{ submission.title }}</h3>
                    <em class="text-muted">Interactions currently aren't implemented.</em>
                    <div class="row">
                        <div class="col-md-8 col-xs-8">
                            <img class="img-rounded" style="width: 32px;" src="{{ profile_picture(submission.author.info.username) }}">
                            {{ user_link(submission.author) }}
                            <button class="btn btn-default" id="submission-follow">
                                Follow
                                <span class="label label-default" id="submission-followers">{{ submission.author.info.followers }}</span>
                            </button>
                        </div>
                        <div class="col-md-8 col-xs-8 text-right">
                            <div id="rater"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body" style="word-break: break-all;">
                    <button class="btn btn-default pull-right" id="submission-favorite">
                        Favorite
                        <span class="label label-default" id="submission-favorites">{{ submission.interactions.favorites }}</span>
                    </button>
                    <p>Submitted {{ submission.published | relative_time }} on {{ submission.published | date('F j, Y') }}</p>
                    {% if submission.description | trim is not empty %}
                    {{ submission.description | markdown }}
                    {% else %}
                        <em class="text-muted">This submission has no description.</em>
                    {% endif %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body" style="word-break: break-all;">
                    <h4>Comments</h4>
                    {% for comment in submission.comments %}
                    <div class="media">
                        <div class="media-left">
                            <a href="/user.php?name={{ comment.author.info.username }}">
                                <img class="media-object media-profile-picture img-rounded" src="{{ profile_picture(comment.author.info.username) }}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ user_link(comment.author) }} <small>{{ comment.posted | relative_time }}</small></h4>
                            {% if comment.post | trim is not empty %}
                                <p>{{ comment.post | markdown }}</p>
                            {% else %}
                                <em class="text-muted">This comment is empty, due to a now-patched exploit.</em>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}