{% extends "_layout.twig" %}

{% set title = submission.title %}

{% block content %}
    <script>
        submission_id = '{{ submission.id }}';
        user_id = '{{ submission.author.id }}';
    </script>
    <div class="row">
        <div class="col-md-10">
            {{ submission_view(submission) }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 style="margin-top: 0;word-break: break-all;">{{ submission.title }}</h3>
                    <div class="row">
                        <div class="col-md-8 col-xs-8">
                            By {{ submission.author.info.username }}
                            <button class="btn btn-default" id="submission-follow">
                                Follow
                                <span class="label label-default" id="submission-followers">0</span>
                            </button>
                        </div>
                        <div class="col-md-8 col-xs-8 text-right">
                            <button class="btn btn-default" id="submission-like">
                                Like
                                <span class="label label-default" id="submission-likes">{{ submission.interactions.likes }}</span>
                            </button>
                            <button class="btn btn-default" id="submission-dislike">
                                Dislike
                                <span class="label label-default" id="submission-dislikes">{{ submission.interactions.dislikes }}</span>
                            </button>
                            <button class="btn btn-default" id="submission-favorite">
                                Favorite
                                <span class="label label-default" id="submission-favorites">{{ submission.interactions.favorites }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body" style="word-break: break-all;">
                    <p>Submitted {{ submission.published | relative_time }} on {{ submission.published | date('F j, Y') }}</p>
                    {% if submission.description | trim is not empty %}
                    <p>{{ submission.description }}</p>
                    {% else %}
                        <em class="text-muted">This submission has no description.</em>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}