{% extends "_layout.twig" %}

{% block title %}{{ submission.title }}{% endblock %}

{% block content %}
    <h1>{{ submission.title }}</h1>
    {{ submission_view(submission) }}
    {% if submission.type == 0 %}
        <p>Video placeholder</p>
    {% elseif submission.type == 2 %}
        <p>Artwork placeholder</p>
    {% endif %}
    <p>{{ submission.description }}</p>
    <p>By {{ submission.author.info.username }}, {{ submission.published }}</p>
{% endblock %}