	<div id="masthead-container">
<table class="header1" width="100%" bgcolor="#0049C7" cellpadding="0" style="padding: 5px 0px 0px 0px;" cellspacing="0" border="0">
	<tbody><tr valign="top">
		<td width="130" rowspan="2" style="padding: 0px 5px 5px 5px;vertical-align: middle;"><a href="index.php"><img id="logo" src="/assets/logo-wordmark-dark.png" alt="squareBracket" border="0"></a></td>
		<td valign="top" style="vertical-align: middle;">
		<table align="right" width="100%" cellpadding="0" cellspacing="0" border="0">
			<tbody><tr valign="top">
			<td align="left" class="poktube-slogan">Unbelivable, This is not PokTube.</td>
				<td align="right">
				<table cellpadding="0" cellspacing="0" border="0">
					<tbody><tr>
						<td>			<div id="{% if log %}masthead-loggedin{% else %}masthead-signin{% endif %}" class="user-info">
				{% if log %}
					<a class="util-item first" href="/user.php?name={{ userdata.name }}">{{ userdata.title }}</a>
					<a class="util-item" href="user.php?name={{ userdata.name }}">{{ __("Profile") }}</a>
					<a class="util-item" href="/studio/">{{ __("Studio") }}</a>
					<a class="util-item" href="/settings.php">{{ __("Settings") }}</a>
					<a class="util-item" href="logout.php">{{ __("Log out") }}</a>
				{% else %}
				<div>
					<a class="util-item first" href="../login.php">{{ __("Sign in") }}</a>
					<a class="util-item" href="../register.php">{{ __("Register") }}</a>
				</div>
				{% endif %}
			</div></td>
				
			</tr>
		</td>
		</tr>
		</tbody></table>
		</tbody></table>
		</td>
	</tr>

		<tr>
		<td width="100%">
			<table cellpadding="2" cellspacing="0" border="0">
				<tbody>
					<tr>
						<form method="GET" action="search.php">
						<td>
							<input type="text" value="" name="query" size="30" maxlength="128" class="poktube-search">
						</td>
						<td>
							<input class="poktube-button" type="submit" value="Search">
						</td>
						</form>
					</tr> 
				</tbody>
			</table>
		</td>
	</tr>

			
</tbody></table>
			<div id="bar">
			<a class="nav-item" href="/">Home</a>
			<a class="nav-item" href="/browse.php">Browse</a>
			<a class="nav-item" href="/channels.php">Channels</a>
			<a class="nav-item" href="/forum/">Community</a>
			<div id="masthead-bar-contents">
			<a class="button button-primary" id="upload-button" href="/upload_start.php">Upload</a>
			</div>
		</div>
	</div>