<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - Qobo</title>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="img/css/common.css">
    <link rel="stylesheet" href="theme/famfamfam-silk.min.css">
    <link rel="stylesheet" href="theme/silk-companion.min.css">
    <meta name="theme-color" content="#ff9800">

    {% if ad_client %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-{{ ad_client }}"
                crossorigin="anonymous"></script>
    {% endif %}
</head>
<body>
<div class="header">
    <div class="page">
        <div class="header-logo">
            <a href="/index.php"><img alt="Qobo" class="logo" src="/img/logo.svg"></a>
        </div>
        <form class="header-search" action="/search.php">
            <input id="header-search-input" type="text" name="query" placeholder="Search...">
            <div class="form-button-container">
                <button id="header-search-button" class="form-button-submit">
                    <span>Search</span>
                </button>
            </div>
        </form>
        <div class="header-links">
            <a class="menulink" href="/browse.php">Browse</a>
            <a class="menulink" href="/users.php">Members</a>
        </div>
    </div>
</div>
<div class="header-user">
    <div class="page">
        {% if show_work_in_progress_stuff %}
        {% if is_user_logged_in %}
            <div class="header-user-notifications">
                <a class="menulink" href="/notices.php">{{ user_notice_data }} notices</a>
            </div>
        {% endif %}
        {% endif %}
        <div class="header-user-links">
            {% if is_user_logged_in %}
                <a class="menulink userlink" href="/user.php?name={{ user_data.name }}">{{ user_data.name }}</a>
                <a class="menulink" href="/settings.php">Settings</a>
                {% if user_data.powerlevel > 2 %}
                    <a class="menulink" href="/admin.php">Admin panel</a>
                {% endif %}
                <a class="menulink" href="/write.php">Write</a>
                <a class="menulink" href="/upload.php">Upload</a>
                <a class="menulink" href="/logout.php">Log out</a>
            {% else %}
                <a class="menulink" href="/login.php">Login</a>
                <a class="menulink" href="/register.php">Register</a>
            {% endif %}
        </div>
    </div>
    <div class="clear"></div>
</div>
<form action="login.php" method="post" name="logout">
    <input type="hidden" name="action" value="logout">
</form>
<div class="page">
    <div class="page-contents">
        {% if user_ban_data %}
            <div class="banner banner-danger">
                <p>This account is banned for the following reason:</p>
                {{ user_ban_data.reason | markdown }}
            </div>
        {% endif %}
        {% if session.notif_message %}
            <div class="banner banner-{{ session.notif_color }}">
                <span class="{{ notification_icon(session.notif_color) }}" style="display: inline-block;"></span>
                {{ session.notif_message }}
            </div>
            {{ remove_notification() }}
        {% endif %}
        {% block content %}{% endblock %}
        <div class="footer">
            <a href="/version.php">Powered by openSB {{ squarebracket_version }}.</a>
            <p>© 2021-{{ 'now' | date('Y') }} openSB contributors.</p>
            <a href="/privacy.php">
                Privacy policy
            </a>
        </div>
    </div>
</div>
{% block scripts %}{% endblock %}
<script src="/assets/common_new.js"></script>
</body>
</html>