{% extends "_layout.twig" %}

{% set title = "Admin dashboard" %}

	{% block content %}
		<div class="section">
			<div class="section-title">
				<h1>Admin dashboard</h1>
			</div>
			<div class="content-header">
				<span>Over the years</span>
			</div>
			<div class="content-box">
				<span>Since {{ data.time.formatted_date }} ({{ data.time.relative_days }} days ago)</span>
				<canvas id="myChart"></canvas>
			</div>
			<div class="content-header">
				<span>Stats</span>
			</div>
			<div class="content-box">
				<ul>
					<li>Uname: {{ data.system.uname }}</li>
					{% for key, number in data.numbers %}
						<li>{{ key }}: {{ number }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="content-header">
				<span>Ban user</span>
			</div>
			<div class="content-box">
				<form name="uploadForm" id="uploadForm" method="post" action="admin.php" enctype="multipart/form-data">
					<div class="banner banner-secondary">
						<strong>NOTE</strong>: We don't support expiring bans yet.
					</div>
					<input type="hidden" id="action" name="action" value="ban_user" />
					<div class="form-input">
						<label for="user_to_ban">Username:</label>
						<input type="text" class="form-submit" id="user_to_ban" name="user_to_ban" required="">
						<label for="reason">Reason:</label>
						<input type="text" class="form-submit" id="reason" name="reason" required="">
					</div>
					<div class="form-button-container">
						<input class="button button-danger" type="submit" id="upload" name="upload"
							   value="Ban">
					</div>
				</form>
			</div>
			<div class="content-header">
				<span>Banned users</span>
			</div>
			<div class="content-box">
				<div class="banner banner-secondary">
					<strong>NOTE</strong>: If the account gets automatically banned after being unbanned, then the account's latest IP is IP banned.
				</div>
				<table class="c1">
					<tr class="h">
						<th style="width:150px">Username</th>
						<th>Reason</th>
						<th style="width:70px">Unban</th>
					</tr>
					{% for user in data.bans %}
						<tr style="height: 30px;">
							<td>{{ user.name }}</td>
							<td>
								{{ user.ban_reason }}
								<small>({{ user.ban_time | date('F j, Y') }}/{{ user.ban_time | relative_time }})</small>
							</td>
							<td><a href="/admin.php?action=unban_user&user={{ user.id }}" class="button button-danger">Unban</a></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

	<script>
		const ctx = document.getElementById('myChart');

		new Chart(ctx, {
			type: 'line',
			data: {
				datasets: [
					{
						label: 'Submissions',
						data: [
							{% for graph in data.graph_data.submissions %}
							{
								x: "{{ graph.time }}",
								y: {{ graph.runningTotal }},
							},
							{% endfor %}
						],
						borderWidth: 1
					},
					{
						label: 'Users',
						data: [
							{% for graph in data.graph_data.users %}
							{
								x: "{{ graph.joined }}",
								y: {{ graph.runningTotal }},
							},
							{% endfor %}
						],
						borderWidth: 1
					},
					{
						label: 'Submission Comments',
						data: [
							{% for graph in data.graph_data.comments %}
							{
								x: "{{ graph.date }}",
								y: {{ graph.runningTotal }},
							},
							{% endfor %}
						],
						borderWidth: 1
					},
					{
						label: 'Profile Comments',
						data: [
							{% for graph in data.graph_data.shouts %}
							{
								x: "{{ graph.date }}",
								y: {{ graph.runningTotal }},
							},
							{% endfor %}
						],
						borderWidth: 1
					},
					{
						label: 'Journals',
						data: [
							{% for graph in data.graph_data.journals %}
							{
								x: "{{ graph.date }}",
								y: {{ graph.runningTotal }},
							},
							{% endfor %}
						],
						borderWidth: 1
					},
				]
			},
			options: {
				scales: {
					y: {
						beginAtZero: true
					},
					{% if is_qobo %}
					x: {
						type: 'time',
						min: '2021-01-30 00:00:00',
					}
					{% else %}
					x: {
						type: 'time',
					}
					{% endif %}
				}
			}
		});
	</script>
{% endblock %}