{% extends "_layout.twig" %}

{% set title = data.username %}

{% block content %}
    <div>
        <div class="profile-box">
            <div class="profile-box-pfp">
                <img src="{{ profile_picture(data.username) }}" class="pfp" alt="{{ data.username }}">
            </div>
            <div class="profile-box-username">
                {{ data.username }}
            </div>
            <div class="profile-box-links">
                <a href="user.php?name={{ data.username }}&page=submissions" class="link">
                    <span class="elink">
                        Submissions
                    </span>
                </a>
                <a href="user.php?name={{ data.username }}&page=submissions" class="link">
                    <span class="elink">
                        Scraps
                    </span>
                </a>
                <a href="user.php?name={{ data.username }}&page=submissions" class="link">
                    <span class="elink">
                        Journals
                    </span>
                </a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="content-header profile-stats">
        <span class="stat">
        Joined: {{ data.joined | relative_time }}
        </span>
        <span class="stat">
            Last seen: {{ data.connected | relative_time }}
        </span>
    </div>
    <div class="content-box">
        <div id="page-left" style="width: 460px;">
            {% if data.featured_submission %}
                <div class="text-title">Featured submission</div>
                <div class="profile-featured-submission">
                    <a href="/watch.php?v={{ data.featured_submission.id }}">
                        <img src="{{ thumbnail(data.featured_submission.id, data.featured_submission.type) }}"
                             alt="{{ data.featured_submission.title }}">
                    </a>
                    <div class="profile-featured-submission-title">
                        <a href="/watch.php?v={{ data.featured_submission.id }}">{{ data.featured_submission.title }}</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="page-right" style="width: 460px;">
            <div class="text-title">Profile</div>
            {% if data.about %}
                {{ data.about }}
            {% else %}
                <em class="text-muted">This user has no description.</em>
            {% endif %}
        </div>
    </div>
    {% if data.submissions %}
    <div class="content-header">
        <span>{{ data.username }}'s recent submissions</span>
        <div class="content-header-right">
            <a href="browse.php">Browse</a>
        </div>
    </div>
    <div class="content-box">
        {% for submission in data.submissions %}
            {{ include('/components/_index_submission_2.twig') }}
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}