{% extends "_layout.twig" %}

{% set title = "Users" %}

	{% block content %}
		<div class="content-box">
		<table class="c1">
			<tr class="h">
				<th>Username</th>
				<th style="width:150px">Registered</th>
				<th style="width:90px">Submissions</th>
				<th style="width:90px">Journals</th>
				<th style="width:90px">Followers</th>
			</tr>
			{% for user in users %}
				<tr>
					<td>{{ user_link(user) }}</td>
					<td class="center">{{ user.info.joined | date('Y-m-d H:i') }}</td>
					<td class="center">{{ user.submissions }}</td>
					<td class="center">{{ user.journals }}</td>
					<td class="center">{{ user.info.followers }}</td>
				</tr>
			{% endfor %}
		</table>
		</div>
	{% endblock %}