{% extends "_layout.twig" %}

{% set title = submission.title %}

{% if submission.description | trim is not empty %}
    {% set opengraph_description = submission.description %}
{% else %}
    {% set opengraph_description = "No description." %}
{% endif %}

{% set opengraph_image = thumbnail(submission.id, submission.type) %}

{% set opengraph_type = "article" %}
{% set opengraph_published = submission.published | date("c") %}
{% set opengraph_author = domain ~ "user?name=" ~ submission.author.info.username %}
{% set metadata_author = submission.author.info.username %}
{% if submission.type == 0 %}
    {% set opengraph_section = "Qobo video" %}
{% elseif submission.type == 2 %}
    {% set opengraph_section = "Qobo image" %}
{% endif %}

{% block scripts %}
    <script src="/assets/rater.js"></script>
    <script>
        var starRating = raterJs( {
            max:5,
            starSize:16,
            rating:{{ submission.interactions.ratings.average }},
            element:document.querySelector("#rater"),
            rateCallback:function rateCallback(rating, done) {
                fetch("/api/finalium/submission_interaction.php", {
                    method: "POST",
                    body: JSON.stringify({
                        action: "rate",
                        number: rating,
                        submission: submission_int_id,
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                }).then((response) => response.json()).then((json) => { if(json["error"]) { error(json["error"])}})
                this.setRating(rating);
                done();
            }
        });
    </script>

    <script>
        submission_id = '{{ submission.id }}';
        submission_int_id = '{{ submission.int_id }}';
        user_id = '{{ submission.author.id }}';
        comment_type = 'submission';
        comment_id = '{{ submission.id }}';
    </script>
{% endblock %}


{% block content %}
    <div class="profile-box centered">
        <h1>{{ submission.title }}</h1>
    </div>
    {% if submission.is_owner %}
        <div class="content-box watch-edit">
            <a href="/edit?v={{ submission.id }}">Edit</a>
            <a href="/feature?v={{ submission.id }}">Feature on profile</a>
        </div>
    {% endif %}
    <div class="submission">
        {{ submission_view(submission) }}
    </div>
    <div class="content-box dark">
        <small>Submitted on {{ submission.published | date('F j, Y') }} by {{ user_link(submission.author) }}</small>
    </div>
    <div class="content-box">
        <div class="content-text">
            {% if submission.description | trim is not empty %}
                {{ submission.description | markdown_user_written }}
            {% else %}
                <p>This submission has no description.</p>
            {% endif %}
        </div>

        <hr>

        <div class="submission-stats-box">
            <div id="submission-stats-actions">
                <div class="submission-stats-row icons">
                    <span class="silk-companion star_gold"></span><a><span class="elink">Favorite</span></a>
                </div>
                <div class="submission-stats-row icons">
                    <span class="silk-companion star_gold"></span><a><span class="elink">Flag</span></a>
                </div>
                <div class="submission-stats-row">
                    <div>Content rating: {{ submission.rating | capitalize }}</div>
                </div>
            </div>
            <div id="submission-stats-stats">
                <div class="submission-stats-row">
                    <div id="submission-stats-views">{{ submission.interactions.views }} views</div>
                    <div id="rater"></div>
                </div>
                <div class="submission-stats-row">
                    <div>
                        <small>
                            {{ submission.interactions.ratings.total }} ratings
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <br>
    <div id="comments">
        <div class="content-header">
            <span>Comments</span>
        </div>
        <div class="content-box">
            {% if is_user_logged_in %}
                {{ include('/components/_comment_input.twig') }}
            {% endif %}
            <div id="comment"></div>
            {% for comment in submission.comments %}
                {{ include('/components/_comment.twig') }}
                <div id="replies">
                    {% for comment in comment.replies %}
                        {{ include('/components/_comment.twig') }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}