<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>{{ title }} - {{ website_branding.name }}</title>
    {% else %}
        <title>{{ website_branding.name }}</title>
    {% endif %}
    <link rel="manifest" href="{{ website_branding.assets_location }}/icons/site.webmanifest">
    <link rel="shortcut icon" href="{{ website_branding.assets_location }}/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ website_branding.assets_location }}/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ website_branding.assets_location }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ website_branding.assets_location }}/icons/favicon-16x16.png">
    <meta name="apple-mobile-web-app-title" content="{{ website_branding.name }}">
    <meta name="application-name" content="{{ website_branding.name }}">
    <link rel="stylesheet" href="/assets/css/{{ current_theme }}.css?r={{ get_css_file_date() }}">
    <meta name="theme-color" content="#3E6DDC">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{ page_url }}">
    <meta property="og:site_name" content="{{ website_branding.name }}" />

    {% if opengraph_type %}
        <meta property="og:type" content="{{ opengraph_type }}" />
    {% else %}
        <meta property="og:type" content="website" />
    {% endif %}

    {% if opengraph_type == "profile" %}
        <meta property="profile:username"
              content="{{ opengraph_username }}" />
    {% endif %}

    {% if opengraph_description %}
        <meta property="og:description"
              content="{{ opengraph_description }}" />
        <meta name="description" content="{{ opengraph_description }}">
    {% endif %}

    {% if opengraph_image %}
        <meta property="og:image" content="{{ opengraph_image }}">
    {% else %}
        <meta property="og:image" content="{{ website_branding.assets_location }}/logo_square_icon.png">
    {% endif %}

    {% if opengraph_author %}
        <meta property="article:author" content="{{ opengraph_author }}" />
    {% endif %}
    {% if metadata_author %}
        <meta name="author" content="{{ metadata_author }}">
    {% endif %}

    {% if opengraph_section %}
        <meta property="article:section" content="{{ opengraph_section }}" />
    {% endif %}

    {% if opengraph_published %}
        <meta property="article:published_time" content="{{ opengraph_published }}" />
    {% endif %}

    {% block style %}
    {% endblock %}
</head>
<body>
{{ include(component('header')) }}
{% block precontent %}{% endblock %}
<div class="page">
    <div class="page-contents">
        {{ include(component('banners')) }}
        <div class="container {{ page_name }}">
        {% block content %}{% endblock %}
        </div>
    </div>
    {{ include(component('footer')) }}
</div>
{% block scripts %}{% endblock %}
{# yes #}
<script src="/assets/common_biscuit.js?r={{ get_css_file_date() }}"></script>
<!-- {{ version_banner() }} -->
</body>
</html>