{% extends "_layout.twig" %}

{% set title = "Whoooo! Biscuit!" %}

{% block precontent %}
    {% if current_theme == "default" %}
        <div class="jumbotron page-banner">
            <div class="jumbotron-container">
                <h1>{{ title }}</h1>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% for color in color_types %}
        <div class="banner banner-{{ color }}">
            <span class="notification-text">
                This is a {{ color }} banner. You may go back to the homepage <a href="/">here</a>.
            </span>
        </div>
    {% endfor %}
    <hr>
    {% for color in color_types %}
        <div class="button button-{{ color }}">{{ color }} button!</div>
    {% endfor %}
    <hr>
    <div>Unix epoch: {{ "0" | relative_time() }}</div>
    <div>Unix epoch: {{ "1" | relative_time() }}</div>
    <div>Right now: {{ 'now'| date('U') | relative_time() }}</div>
{% endblock %}