{% extends "_layout.twig" %}

{# hack to prevent twig from outputing the number 1 #}
{% if is_user_logged_in %}
    {% set followers = data.totals.followers ?? "no" %}
    {% set views = data.totals.views ?? "no" %}
    {% set followersText = followers == 0 ? "no" : followers %}
    {% set viewsText = views == 0 ? "no" : views %}

    {% if followersText != 1 %}
        {% set pluralSubscribers = "s" %}
    {% endif %}

    {% if viewsText != 1 %}
        {% set pluralViews = "s" %}
    {% endif %}
{% endif %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" integrity="sha256-FZsW7H2V5X9TGinSjjwYJ419Xka27I8XPDmWryGlWtw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" integrity="sha256-5uKiXEwbaQh9cgd2/5Vp6WmMnsUr3VZZw0a8rKnOKNU=" crossorigin="anonymous">
    <script>
        document.addEventListener( 'DOMContentLoaded', function() {
            var elms = document.getElementsByClassName( 'splide' );

            for ( var i = 0; i < elms.length; i++ ) {
                new Splide( elms[ i ], {
                    perPage: 6,
                    rewind: true,
                    pagination: false,
                    breakpoints: {
                        1899 : { perPage: 4 },
                        1249 : { perPage: 3 },
                        899 : { perPage: 2 },
                    },
                } ).mount();
            }
        } );
    </script>
{% endblock %}

{% block precontent %}
    {% if current_theme in ["default", "pink", "classic"] %}
        <div class="jumbotron page-banner">
            <div class="jumbotron-container">
                <div class="jumbotron-welcome">
                    {% if is_user_logged_in %}
                        <div class="jumbotron-logged-in">
                            <img src="{{ profile_picture(user_data.name) }}" class="pfp" alt="{{ user_data.name }}">
                            <div class="jumbotron-logged-in-text">
                                <h1>{{ localize('welcome_logged_in', user_data.title) }}</h1>
                                <p>@{{ user_data.name }}</p>
                                <p>{{ followersText }} follower{{ pluralSubscribers }}
                                    • {{ viewsText }} view{{ pluralViews }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="jumbotron-logged-out">
                            <h1>{{ localize('welcome_logged_out', website_branding.name) }}</h1>
                            {% if is_chaziz_sb %}
                                <p>Your content, your narration, your niche on the web.</p>
                            {% else %}
                                <p>Insert slogan.</p>
                            {% endif %}
                            <a href="/register" class="button button-get-started button-big">Get started ›</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="grid">
        <div class="col-8">
            {% if current_theme != "test" %}
            <div class="section">
                <div class="section-title">
                    <h2>{{ localize('random_uploads') }}</h2>
                    <a href="/browse">{{ localize('more') }}</a>
                </div>
                <div class="content-box no-side-padding">
                    <section class="splide" id="splide1" aria-labelledby="carousel-heading">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for submission in data.submissions %}
                                    {{ include('/components/_index_submission_3.twig') }}
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            {% endif %}
            <div class="section">
                <div class="section-title">
                    <h2>{{ localize('recent_uploads') }}</h2>
                    <a href="/browse">{{ localize('more') }}</a>
                </div>
                <div class="content-box">
                    {% for submission in data.submissions_new %}
                        {{ include('/components/_index_submission.twig') }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-4">
            {% if data.news_recent %}
                <div class="section">
                    <div class="section-title">
                        <h2>{{ localize('site_news') }}</h2>
                    </div>
                    <div class="content-box">
                        {% for journal in data.news_recent %}
                            {{ include('/components/_journal.twig') }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="section">
                <div class="section-title">
                    <h2>{{ localize('recent_tags') }}</h2>
                </div>
                <div class="content-box">
                    {% for tag in data.tags_recent %}
                        <a href="/search.php?query={{ tag.name }}">{{ tag.name }}</a>{{ not loop.last ? ',' }}
                    {% else %}
                        <p>No tags!</p>
                    {% endfor %}
                </div>
            </div>
            {#
            <div class="section">
                <div class="section-title">
                    <h2>Last 5 Users Online</h2>
                </div>
                <div class="content-box">
                    {% for tag in data.tags_recent %}
                        {{ include('/components/_index_user.twig') }}
                    {% else %}
                        <p>No users!</p>
                    {% endfor %}
                </div>
            </div>
            #}
        </div>
    </div>
{% endblock %}
