{% extends "_layout.twig" %}

{% set title = "You are IP banned" %}

{% block content %}
    <div class="section">
        <div class="section-title">
            <h1>You are IP banned</h1>
        </div>
        <div class="content-box">
            <p>You have been IP banned from {{ website_branding.name }}.</p>
            <p>Your ban was filed on {{ data.time | date('F j, Y') }}, and won't expire.</p>
            <p>Your IP is {{ data.ip }},
                {% if users|length > 1 %}
                    and the accounts linked to this IP are
                    {% for user in users %}
                        {{ user.name }}{{ not loop.last ? ',' }}
                    {% endfor %}
                {% else %}
                    and the only account linked to this IP is
                    {% for user in users %}
                        {{ user.name }}
                    {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}