{% extends "_layout_profile.twig" %}

{% set banner_picture = profile_banner(data.username) %}

{% set title = data.username %}

{% set opengraph_type = "profile" %}
{% set opengraph_username = data.username %}
{% if data.about | trim is not empty %}
    {% set opengraph_description = data.about %}
{% else %}
    {% set opengraph_description = "No description." %}
{% endif %}
{% set opengraph_image = profile_picture(data.username) %}

{% block scripts %}
    <script>
        comment_type = 'profile';
        comment_id = '{{ data.id }}'
        user_id = '{{ data.id }}'
    </script>
{% endblock %}

{% block content %}
    <div class="content-box">
        <div class="profile-box">
            <div class="profile-box-pfp">
                <img src="{{ profile_picture(data.username) }}" class="pfp" alt="{{ data.username }}">
            </div>
            <div class="profile-box-info">
                <div class="profile-box-username">
                    <span style="color:{{ data.color }}">{{ data.displayname }}</span>
                    {% if data.is_staff %}
                        <div class="profile-box-icon biscuit-icon staff"></div>
                    {% endif %}
                </div>
                <div class="profile-box-handle">
                    @{{ data.username }}
                </div>
                <div class="profile-box-details">
                    {% if data.about | trim is not empty %}
                        {{ data.about | markdown_user_written }}
                    {% endif %}
                    {#
                    | Joined {{ data.joined | relative_time }} |
                    <span id="follower_count">{{ data.followers }}</span> followers
                    {% if data.old_usernames %}
                        <br>Old usernames:
                        {% for old_username in data.old_usernames %}
                            {{ old_username.old_name }}{{ not loop.last ? ',' }}
                        {% endfor %}
                    {% endif %}
                    #}
                </div>
            </div>
            <div class="profile-box-follow">
                {% if not data.is_current %}
                    <button class="button button-secondary" id="follow-user">
                        {% if data.following %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </button>
                {% else %}
                    <a class="button button-primary" href="/settings">
                        Edit
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="content-box no-border-top">
        <div class="tabs">
            {# spaceless removes html whitespace causes unnecessary margins #}
            {% apply spaceless %}
                {% if data.submissions %}
                    <button class="tablink" data-tab="tab_uploads">Uploads</button>
                {% endif %}
                {% if data.journals %}
                    <button class="tablink" data-tab="tab_posts">Journals</button>
                {% endif %}
                <button class="tablink" data-tab="tab_comments">Comments</button>
                {% if user_is_admin %}
                    <button class="tablink" data-tab="tab_staff_notes">Notes (temporary!)</button>
                {% endif %}
            {% endapply %}
        </div>

        <div id="tab_uploads" class="tabcontent">
            {% if data.submissions %}
                <div class="section">
                    <div class="content-box no-border-top">
                        {% for submission in data.submissions %}
                            {{ include('/components/_index_submission.twig') }}
                        {% endfor %}
                        <div class="content-entry">
                            <a href="/browse?user={{ data.username }}">{{ localize('browse_more') }}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <div id="tab_posts" class="tabcontent">
            <div class="section">
                <div class="content-box no-border-top">
                    {% if data.journals %}
                        {% for journal in data.journals %}
                            {{ include('/components/_journal.twig') }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="tab_comments" class="tabcontent">
            <div class="section">
                <div class="content-box no-border-top">
                    {% if is_user_logged_in %}
                        {{ include('/components/_comment_input.twig') }}
                    {% endif %}
                    <div id="new-comments-here"></div>
                    {% for comment in data.comments %}
                        {{ include('/components/_comment.twig') }}
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if user_is_admin %}
            <div id="tab_staff_notes" class="tabcontent">
                <div class="section">
                    <div class="content-box no-border-top">
                        {% for note in data.notes %}
                            <div class="content-box content-note">
                                {{ note.note | markdown_user_journal }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}