{% extends "_layout.twig" %}

{% set title = data.username %}

{% if data.is_fedi %}
    {% set profile_picture = data.fedi_pfp %}
    {% set banner_picture = data.fedi_banner %}
{% else %}
    {% set profile_picture = profile_picture(data.username) %}
    {% set banner_picture = profile_banner(data.username) %}
{% endif %}

{% set opengraph_type = "profile" %}
{% set opengraph_username = data.username %}
{% if data.about | trim is not empty %}
    {% set opengraph_description = data.about %}
{% else %}
    {% set opengraph_description = "No description." %}
{% endif %}
{% set opengraph_image = profile_picture %}

{% block scripts %}
    <script>
        comment_type = 'profile';
        comment_id = '{{ data.id }}'
        user_id = '{{ data.id }}'
    </script>
{% endblock %}

{% block style %}
    <style>
        .jumbotron.profile-banner {
            background-image: url('{{ banner_picture }}');
        }
    </style>
{% endblock %}

{% block precontent %}
    <div class="jumbotron profile-banner"></div>
    <div class="profile-intro">
        <div class="page">
            <div class="page-contents">
                <div class="profile-box">
                    <div class="profile-box-pfp">
                        <img src="{{ profile_picture }}" class="pfp" alt="{{ data.username }}">
                    </div>
                    <div class="profile-box-info">
                        <div class="profile-box-username">
                            {{ data.displayname }}
                            {% if data.is_fedi %}
                                <img class="profile-box-instance-icon" src="https://{{ data.instance }}/favicon.png">
                            {% else %}
                                <img class="profile-box-instance-icon" src="{{ website_branding.assets_location }}/logo.png">
                            {% endif %}
                        </div>
                        <div class="profile-box-displayname">
                            @{{ data.username }}
                            {% if not data.is_fedi %}
                            | Joined {{ data.joined | relative_time }} |
                            <span id="follower_count">{{ data.followers }}</span> followers
                            {% endif %}
                        </div>
                    </div>
                    {% if not data.is_fedi %}
                    <div class="profile-box-follow">
                        {% if not data.is_current %}
                            <button class="button button-secondary" id="follow-user">
                                {% if data.following %}
                                    Unfollow
                                {% else %}
                                    Follow
                                {% endif %}
                            </button>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if data.is_fedi %}
        <div class="banner banner-danger">
            This is a fediverse profile, please keep in mind that functionality may not be complete.
        </div>
    {% endif %}
    <div class="section">
        <div class="section-title">
            <h1>Profile</h1>
            {% if data.is_current %}
                <a href="/settings">Edit</a>
            {% endif %}
        </div>
        <div class="content-box">
            {% if data.about | trim is not empty %}
                {{ data.about | markdown_user_written }}
            {% else %}
                <em class="text-muted">This user has no description.</em>
            {% endif %}
        </div>
    </div>
    <div class="content-box grid">
        <div class="col-small-12 col-medium-6">
            {% if data.featured_submission %}
                <div class="text-title">Featured submission</div>
                <div class="profile-featured-submission">
                    <a href="/view/{{ data.featured_submission.id }}">
                        <img src="{{ thumbnail(data.featured_submission.id, data.featured_submission.type, data.featured_submission.bools.custom_thumbnail) }}"
                             alt="{{ data.featured_submission.title }}" class="thumbnail">
                    </a>
                    <div class="profile-featured-submission-title">
                        <a href="/view/{{ data.featured_submission.id }}">{{ data.featured_submission.title }}</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-small-12 col-medium-6">
            {% if data.journals %}
                <div class="text-title">Journals</div>
                {% for journal in data.journals %}
                    <div>
                        <div class="journal-entry">
                            <div class="journal-title">
                                <a href="/read?j={{ journal.id }}">
                                    {{ journal.title|u.truncate(100, '...') }}
                                </a>
                            </div>
                            <div class="journal-contents">
                                {{ journal.contents|u.truncate(250, '...') }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% if data.submissions %}
        <div class="section">
            <div class="section-title">
                <h1>{{ data.username }}'s recent submissions</h1>
                <a href="browse">Browse</a>
            </div>
            <div class="content-box">
                {% for submission in data.submissions %}
                    {{ include('/components/_index_submission.twig') }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div id="comments">
        <div class="content-header">
            <span>Comments</span>
        </div>
        <div class="content-box">
            {% if is_user_logged_in %}
                {{ include('/components/_comment_input.twig') }}
            {% endif %}
            <div id="comment"></div>
            {% for comment in data.comments %}
                {{ include('/components/_comment.twig') }}
                <div id="replies">
                    {% for comment in comment.replies %}
                        {{ include('/components/_comment.twig') }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}