{% extends "_layout_profile.twig" %}

{% set banner_picture = profile_banner(data.author.info.username) %}

{% set title = data.title %}

{% set opengraph_description = data.contents|u.truncate(125, '...') %}

{% set opengraph_type = "article" %}
{% set opengraph_published = data.published | date("c") %}
{% set opengraph_author = domain ~ "user/" ~ data.author.info.username %}
{% set metadata_author = data.author.info.username %}
{% set opengraph_section = "SquareBracket post" %}

{% block scripts %}
	{{ include('submission_rating_script.twig') }}

	<script>
		user_id = '{{ data.author.id }}';
		comment_type = 'journal';
		comment_id = '{{ data.int_id }}';
	</script>
{% endblock %}

{% block content %}
	<div class="content-box">
		<h1>{{ data.title }}</h1>
		<p>By {{ user_link(data.author) }}, {{ data.published | relative_time }}</p>
		{{ data.contents | markdown_user_journal }}
	</div>
	<div id="comments">
		<div class="content-box no-border-top">
			{% if is_user_logged_in %}
				{{ include('/components/_comment_input.twig') }}
			{% endif %}
			<div id="new-comments-here"></div>
			{% for comment in data.comments %}
				{{ include('/components/_comment.twig') }}
			{% endfor %}
		</div>
	</div>
{% endblock %}