{% extends "_layout.twig" %}

{% set title = "Account settings" %}

	{% block content %}
        {% if error %}
            <div class="banner banner-danger">{{ error }}</div>
        {% endif %}
        <div class="section">
            <div class="section-title">
                <h1>Account settings</h1>
            </div>
            <div class="content-box">
                <form action="/settings" method="post" enctype="multipart/form-data">
                    <div class="section">
                        <div class="section-title">
                            <h2>Profile</h2>
                        </div>
                        <div class="form-input">
                            <label for="title">Profile name:</label>
                            <input class="form-submit" type="text" name="title" size="45" maxlength="50" value="{{ user_data.title }}">
                        </div>

                        <div class="form-input">
                            <label for="about">Profile description:</label>
                            <textarea class="form-submit" name="about" rows="5" cols="80" wrap="hard">{{ user_data.about }}</textarea>
                        </div>

                        <div class="form-input">
                            <label for="profilePicture">Profile picture:</label>
                            <input type="file" name="profilePicture" id="profilePicture">
                        </div>

                        <div class="form-input">
                            <label for="profileBanner">Profile banner:</label>
                            <input type="file" name="profileBanner" id="profileBanner">
                        </div>


                        <div class="form-input">
                            <label for="customcolor">Username color:</label>
                            <input name="customcolor" type="color" value="{{ user_data.customcolor | default('523bb8') }}">
                        </div>
                    </div>

                    <hr>

                    <div class="section">
                        <div class="section-title">
                            <h2>Security</h2>
                        </div>

                        <div class="form-input">
                            <label for="current_pass">Current password:</label>
                            <input class="form-submit" type="password" name="current_pass" size="30" maxlength="256"
                                   placeholder="Current password">
                        </div>

                        <br>
                        <div class="section-title">
                            <h3>Change username</h3>
                        </div>

                        <div class="form-input">
                            <label for="current_pass">New username:</label>
                            <input class="form-submit" type="text" name="new_username" size="30" maxlength="256"
                                   placeholder="New username">
                        </div>

                        <br>
                        <div class="section-title">
                            <h3>Change password</h3>
                        </div>

                        <div class="form-input">
                            <label for="pass">New password:</label>
                            <input class="form-submit" type="password" name="pass" size="30" maxlength="256" placeholder="New password"><br>
                        </div>

                        <div class="form-input">
                            <label for="pass2">Confirm new password:</label>
                            <input class="form-submit" type="password" name="pass2" size="30" maxlength="256"
                                   placeholder="Confirm new password">
                        </div>
                    </div>

                    <hr>

                    <div class="section">
                        <div class="section-title">
                            <h2>Filtering</h2>
                        </div>

                        <div class="form-submit">
                            <input type="checkbox" name="rating" id="rating" value="true" {% if user_data.comfortable_rating == "mature" %}checked{% endif %}>
                            <label for="rating"> Enable sensitive content</label><br>
                        </div>

                        <br>

                        <div class="section-title">
                            <h3>Blacklisted tags</h3>
                        </div>

                        <div class="form-submit">
                            <textarea class="form-submit" name="blacklisted_tags" rows="5" cols="80" wrap="hard">{% for tag in user_data.blacklisted_tags %}{{ tag }},{% endfor %}</textarea>
                        </div>

                        <hr>

                        <div class="form-button-container">
                            <input type="submit" id="upload" name="save" class="button button-primary"
                                   value="Save changes">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}