{% extends "_layout.twig" %}

{% set title = "Staff" %}

{% block precontent %}
    <div class="jumbotron page-banner">
        <div class="jumbotron-container">
            <div>
                <h1>{{ website_branding.name }} Staff</h1>
                <p>
                    This is a list of people who are currently staff on {{ website_branding.name }}.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

	{% block content %}
        <div class="grid">
        <div class="col-4">
            <div class="section">
                <div class="section-header">
                    <div class="section-header-left">
                        <h2 class="section-title">Owners</h2>
                    </div>
                </div>
                <div class="content-box content-grid content-grid-users">
                    {% for user in staff|filter(user => user.level == '4') %}
                        <div class="content-entry">
                            <div class="content-thumbnail">
                                <a href="/user/{{ user.info.username }}">
                                    <img src="{{ profile_picture(user.info.username) }}" width="80"
                                         alt="{{ user.info.username }}" class="content-image pfp">
                                </a>
                            </div>
                            <div class="content-info">
                                <div class="content-title">
                                    {{ user_link(user) }}
                                </div>
                                <div class="content-description">
                                    Owner
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="section">
                <div class="section-header">
                    <div class="section-header-left">
                        <h2 class="section-title">Administrators</h2>
                    </div>
                </div>
                <div class="content-box">
                    {% for user in staff|filter(user => user.level == '3') %}
                        <div class="content-entry">
                            <div class="content-thumbnail">
                                <a href="/user/{{ user.info.username }}">
                                    <img src="{{ profile_picture(user.info.username) }}" width="80"
                                         alt="{{ user.info.username }}" class="content-image pfp">
                                </a>
                            </div>
                            <div class="content-info">
                                <div class="content-title">
                                    {{ user_link(user) }}
                                </div>
                                <div class="content-description">
                                    Administrator
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="section">
                <div class="section-header">
                    <div class="section-header-left">
                        <h2 class="section-title">Moderators</h2>
                    </div>
                </div>
                <div class="content-box">
                    {% for user in staff|filter(user => user.level == '2') %}
                        <div class="content-entry">
                            <div class="content-thumbnail">
                                <a href="/user/{{ user.info.username }}">
                                    <img src="{{ profile_picture(user.info.username) }}" width="80"
                                         alt="{{ user.info.username }}" class="content-image pfp">
                                </a>
                            </div>
                            <div class="content-info">
                                <div class="content-title">
                                    {{ user_link(user) }}
                                </div>
                                <div class="content-description">
                                    Moderator
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}