{% extends "_layout.twig" %}

{% set title = "Members" %}

	{% block content %}
		{% set total_pages = (users.count / items_per_page) | round(0, 'ceil') %}
		{% set current_page = page %}

		<div class="section">
			<div class="section-title">
				<h1>Members (Page {{ current_page }} of {{ total_pages }})</h1>
			</div>
			<div class="content-box">
				{% for user in users.users %}
					<div class="content-entry">
						<div class="content-thumbnail">
							<a href="/user/{{ user.info.username }}">
								<img src="{{ profile_picture(user.info.username) }}" width="80"
									 alt="{{ user.info.username }}" class="content-image pfp">
							</a>
						</div>
						<div class="content-info">
							<div class="content-title">
								{{ user_link(user) }}
							</div>
							<div class="content-description">
								{% if user.about|trim is not empty %}
									<span>{{ user.about }}</span>
								{% else %}
									<span class="fade">No description.</span>
								{% endif %}
								<br>
								<div>
									{{ user.submissions }} uploads · {{ user.journals }} journals
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		{% set le_url = 'users?page=%s' %}

		{{ pagination(users.count, items_per_page, le_url, current_page) }}
	{% endblock %}