{% extends "_layout.twig" %}

{% set title = submission.title %}

{% if submission.description | trim is not empty %}
    {% set opengraph_description = submission.description %}
{% else %}
    {% set opengraph_description = "No description." %}
{% endif %}

{% set opengraph_image = thumbnail(submission.id, submission.type, submission.bools.custom_thumbnail) %}

{% set opengraph_type = "article" %}
{% set opengraph_published = submission.published | date("c") %}
{% set opengraph_author = domain ~ "user/" ~ submission.author.info.username %}
{% set metadata_author = submission.author.info.username %}
{% if submission.type == 0 %}
    {% set opengraph_section = "squareBracket video" %}
{% elseif submission.type == 2 %}
    {% set opengraph_section = "squareBracket image" %}
{% endif %}

{% block scripts %}
    {#
    in opensb theseus, we get this error:
    Unable to find template "submission_rating_script.twig" (looked into: C:/OpenSB/public/../private/skins/biscuit/templates).

    this is simply a path issue. but we'll not fix it for now since we have other more crucial stuff to deal with first.
    #}
    {% if not areWeRunningTheNewCode %}
    {{ include('submission_rating_script.twig') }}
    {% endif %}

    <script>
        submission_id = '{{ submission.id }}';
        submission_int_id = '{{ submission.int_id }}';
        user_id = '{{ submission.author.id }}';
        comment_type = 'submission';
        comment_id = '{{ submission.id }}';
    </script>
{% endblock %}


{% block content %}
    <div class="grid">
        <div class="col-large-9 col-8">
            <div class="submission">
                {{ submission_view(submission) }}
            </div>
            <br>
            <div class="watch-box">
                <div class="section">
                    <div class="section-title">
                        <h1>{{ submission.title }}</h1>
                        {% if submission.is_owner %}
                            <a href="/edit?v={{ submission.id }}">Edit</a>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="watch-box-row">
                        <div class="watch-box-left">
                            <img class="watch-box-profile-picture pfp" src="{{ profile_picture(submission.author.info.username) }}">
                            <div class="watch-box-author">
                                <div class="watch-box-author-userlink">
                                    {{ user_link(submission.author) }}
                                </div>
                                <div class="watch-box-author-follow">
                                    {% if not submission.is_owner %}
                                        <button class="button button-secondary button-small" id="follow-user">
                                            {% if submission.author.following %}
                                                Unfollow
                                            {% else %}
                                                Follow
                                            {% endif %}
                                        </button>
                                        <span id="follower_count">{{ submission.author.followers }}</span>
                                    {% else %}
                                        <span>{{ submission.author.followers }} followers</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="watch-box-right">
                            {# hack to prevent twig from outputing the number 1 #}
                            {% if submission.interactions.views != 1 %}
                                {% set pluralViews = "s" %}
                            {% endif %}
                            <div class="watch-box-views">{{ submission.interactions.views }} view{{ pluralViews }}</div>
                            <div id="rater"></div>
                            {#
                            <div><small>{{ submission.interactions.ratings.total }} ratings</small></div>
                            #}
                        </div>
                    </div>
                    <hr>
                    <div class="watch-box-description">
                        <div class="watch-box-description-info">Uploaded on {{ submission.published | date('F j, Y') }}</div>
                        {% if submission.published_originally and submission.original_site %}
                            <div class="watch-box-description-info-small">First uploaded on {{ submission.original_site }} on {{ submission.published_originally | date('M j, Y') }}</div>
                        {% elseif submission.original_site %}
                            <div class="watch-box-description-info-small">Originally uploaded on {{ submission.original_site }}</div>
                        {% endif %}
                        <div class="watch-box-description-contents">
                            {% if submission.description | trim is not empty %}
                                {{ submission.description | markdown_user_journal }}
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="watch-box-info">
                        <div class="grid">
                            <div class="col-6">
                                <div class="section">
                                    <div class="section-title">
                                        <h2>Tags</h2>
                                    </div>
                                    {% for tag in submission.tags %}
                                        <a href="/search.php?query={{ tag.name }}">{{ tag.name }}</a>{{ not loop.last ? ',' }}
                                    {% else %}
                                        No tags.
                                    {% endfor %}
                                    {# TODO:
                                {% if is_user_logged_in %}
                                    <form class="form-flex">
                                        <input type="text" class="form-submit">
                                        <input type="submit" value="Add" class="button button-secondary">
                                    </form>
                                {% endif %}
                                    #}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="section">
                                    <div class="section-title">
                                        <h2>Details</h2>
                                    </div>
                                    <div>
                                        Rating:
                                        {% if submission.rating == 'mature' %}
                                            Sensitive
                                        {% else %}
                                            General
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <br>
            <div class="section">
                <div class="section-title">
                    <h2>Comments</h2>
                </div>
                <div id="comments">
                    <div class="content-box">
                        {% if is_user_logged_in %}
                            {{ include('/components/_comment_input.twig') }}
                        {% endif %}
                        <div id="new-comments-here"></div>
                        {% for comment in submission.comments %}
                            {{ include('/components/_comment.twig') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-large-3 col-4">
            <div class="content-box">
                {% for submission in submission.recommended %}
                    {{ include('/components/_small_submission.twig') }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}