<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - {{ website_branding.name }}</title>
    {% if current_theme != "default" %}
        <link rel="stylesheet" href="/assets/css/{{ current_theme }}.css?r={{ get_css_file_date() }}">
    {% else %}
        <link rel="stylesheet" href="/assets/css/common.css?r={{ get_css_file_date() }}">
    {% endif %}
    <meta name="theme-color" content="#FF723D">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{ page_url }}">
    <meta property="og:site_name" content="{{ website_branding.name }}" />

    {% if opengraph_type %}
        <meta property="og:type" content="{{ opengraph_type }}" />
    {% else %}
        <meta property="og:type" content="website" />
    {% endif %}

    {% if opengraph_type == "profile" %}
        <meta property="profile:username"
              content="{{ opengraph_username }}" />
    {% endif %}

    {% if opengraph_description %}
        <meta property="og:description"
              content="{{ opengraph_description }}" />
        <meta name="description" content="{{ opengraph_description }}">
    {% endif %}

    {% if opengraph_image %}
        <meta property="og:image" content="{{ opengraph_image }}">
    {% else %}
        <meta property="og:image" content="{{ website_branding.assets_location }}/logo_square_icon.png">
    {% endif %}

    {% if opengraph_author %}
        <meta property="article:author" content="{{ opengraph_author }}" />
    {% endif %}
    {% if metadata_author %}
        <meta name="author" content="{{ metadata_author }}">
    {% endif %}

    {% if opengraph_section %}
        <meta property="article:section" content="{{ opengraph_section }}" />
    {% endif %}

    {% if opengraph_published %}
        <meta property="article:published_time" content="{{ opengraph_published }}" />
    {% endif %}

    {% block style %}
    {% endblock %}
</head>
<body>
{{ include(include_component('header')) }}
{% block precontent %}{% endblock %}
<div class="page">
    <div class="page-contents">
        {{ include(include_component('banners')) }}
        <div class="container {{ page_name }}">
        {% block content %}{% endblock %}
        </div>
    </div>
    {{ include(include_component('footer')) }}
</div>
{% block scripts %}{% endblock %}
<script src="/assets/common_new.js"></script>
<!-- {{ version_banner() }} -->
</body>
</html>