<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - {{ website_branding.name }}</title>
    <link rel="stylesheet" href="/img/css/common.css">
    <meta name="theme-color" content="#DA20EA">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{ page_url }}">
    <meta property="og:site_name" content="{{ website_branding.name }}" />

    {% if opengraph_type %}
        <meta property="og:type" content="{{ opengraph_type }}" />
    {% else %}
        <meta property="og:type" content="website" />
    {% endif %}

    {% if opengraph_type == "profile" %}
        <meta property="profile:username"
              content="{{ opengraph_username }}" />
    {% endif %}

    {% if opengraph_description %}
        <meta property="og:description"
              content="{{ opengraph_description }}" />
        <meta name="description" content="{{ opengraph_description }}">
    {% else %}
        <meta property="og:description"
              content="Your content, your narration, your niche on the web." />
        <meta name="description" content="Your content, your narration, your niche on the web.">
    {% endif %}

    {% if opengraph_image %}
        <meta property="og:image" content="{{ opengraph_image }}">
    {% else %}
        <meta property="og:image" content="{{ domain }}img/qobo_768x768.png">
    {% endif %}

    {% if opengraph_author %}
        <meta property="article:author" content="{{ opengraph_author }}" />
    {% endif %}
    {% if metadata_author %}
        <meta name="author" content="{{ metadata_author }}">
    {% endif %}

    {% if opengraph_section %}
        <meta property="article:section" content="{{ opengraph_section }}" />
    {% endif %}

    {% if opengraph_published %}
        <meta property="article:published_time" content="{{ opengraph_published }}" />
    {% endif %}

    {% if ad_client and user_data.comfortable_rating == "general" %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-{{ ad_client }}"
                crossorigin="anonymous"></script>
    {% endif %}

    {% block style %}
    {% endblock %}
</head>
<body>
<div class="headers">
    <div class="header">
        <div class="page">
            <div class="header-logo">
                <a href="/"><img alt="{{ website_branding.name }}" class="logo" src="/img/logo.svg"></a>
            </div>
            <form class="header-search" action="/search">
                <input id="header-search-input" type="text" name="query" placeholder="Search...">
                <div class="form-button-container">
                    <button id="header-search-button" class="button button-secondary">
                        <span>Search</span>
                    </button>
                </div>
            </form>
            <div class="header-links">
                <a class="menulink" href="/browse">Browse</a>
                <a class="menulink" href="/users">Members</a>
            </div>
        </div>
    </div>
    <div class="header-user">
        <div class="page">
            {% if is_user_logged_in %}
                <div class="header-user-notifications">
                    <a class="menulink" href="/notices">{{ user_notice_data }} notifications</a>
                </div>
            {% endif %}
            <div class="header-user-links">
                {% if is_user_logged_in %}
                    <a class="menulink userlink" href="/user/{{ user_data.name }}">{{ user_data.name }}</a>
                    <a class="menulink" href="/settings">Settings</a>
                    {% if user_data.powerlevel > 2 %}
                        <a class="menulink" href="/admin">Admin panel</a>
                    {% endif %}
                    <a class="menulink" href="/write">Write</a>
                    <a class="menulink" href="/upload">Upload</a>
                    <a class="menulink" href="/logout">Log out</a>
                {% else %}
                    <a class="menulink" href="/login">Login</a>
                    <a class="menulink" href="/register">Register</a>
                {% endif %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<form action="login" method="post" name="logout">
    <input type="hidden" name="action" value="logout">
</form>
{% block precontent %}{% endblock %}
<div class="page">
    <div class="page-contents">
        {% if user_ban_data %}
            <div class="banner banner-danger">
                <p>Your account has been banned for the following reason:</p>
                {{ user_ban_data.reason | markdown }}
            </div>
        {% endif %}
        {% if session.notif_message %}
            <div class="banner banner-{{ session.notif_color }}">
                <i class="{{ notification_icon(session.notif_color) }} notification-icon"></i>
                <span class="notification-text">
                {{ session.notif_message }}
                </span>
            </div>
            {{ remove_notification() }}
        {% endif %}
        {% block content %}{% endblock %}
        <div class="footer">
            <img src="/assets/opensb_logo.png" alt="OpenSB">
            <br>
            <a href="/version">Powered by OpenSB {{ squarebracket_version }}.</a>
            <p>© 2021-{{ 'now' | date('Y') }} OpenSB contributors.</p>
            <a href="/privacy">
                Privacy policy
            </a>
            <a href="/theme">
                Change theme
            </a>
            {% if is_debug %}
            <br>
            <p>
            {{ profiler_stats() }}
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% block scripts %}{% endblock %}
<script src="/assets/common_new.js"></script>
</body>
</html>