{% extends "_layout.twig" %}

{% set title = "Home" %}

{% block scripts %}
    {#
        this is only really needed in the default theme (and maybe a dark default theme in the future)
        this will break the "random submissions" thing, and that's by design.
    #}
    {% if current_theme == "default" %}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" integrity="sha256-FZsW7H2V5X9TGinSjjwYJ419Xka27I8XPDmWryGlWtw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" integrity="sha256-5uKiXEwbaQh9cgd2/5Vp6WmMnsUr3VZZw0a8rKnOKNU=" crossorigin="anonymous">
    <script>
        document.addEventListener( 'DOMContentLoaded', function() {
            var elms = document.getElementsByClassName( 'splide' );

            for ( var i = 0; i < elms.length; i++ ) {
                new Splide( elms[ i ], {
                    perPage: 4,
                    rewind: true,
                    pagination: false,
                    breakpoints: {
                        1249 : { perPage: 3 },
                        899 : { perPage: 2 },
                    },
                } ).mount();
            }
        } );
    </script>
    {% endif %}
{% endblock %}

{% block precontent %}
    {% if current_theme == "default" %}
    <div class="jumbotron homepage-banner">
        <div class="jumbotron-container">
            <div class="jumbotron-welcome">
                {% if is_user_logged_in %}
                    <div class="logged-in">
                        <img src="{{ profile_picture(user_data.name) }}" class="pfp" alt="{{ user_data.name }}">
                        <div>
                            <h1>Welcome to {{ website_branding.name }}, {{ user_data.title }}</h1>
                            <p>@{{ user_data.name }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="logged-out">
                        <h1>Welcome to {{ website_branding.name }}</h1>
                        {% if is_qobo %}
                            <p>Your content, your narration, your niche on the web.</p>
                        {% else %}
                            <p>Insert slogan.</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ include(component('index_content')) }}
{% endblock %}