{% extends "_layout.twig" %}

{% set title = "Home" %}

{% block content %}
    <div class="grid">
        <div class="col-4">
            <div class="content-box">
                Placeholder!
            </div>
        </div>
        <div class="col-8">
            <div class="section">
                <div class="section-title">
                    <h1>Recent Submissions</h1>
                    <a href="browse">More</a>
                </div>
                <div class="content-box">
                    {% for submission in data.submissions_new %}
                        {{ include('/components/_index_submission.twig') }}
                    {% endfor %}
                </div>
            </div>
            {% if data.news_recent %}
                <div class="section">
                    <div class="section-title">
                        <h1>Site news</h1>
                    </div>
                    <div class="content-box">
                        {% for news in data.news_recent %}
                            <div class="journal-entry">
                                <div class="journal-title">
                                    <a href="read?j={{ news.id }}">
                                        {{ news.title|u.truncate(100, '...') }}
                                    </a>
                                </div>
                                <div class="journal-info">
                                    {{ news.date | relative_time }}
                                </div>
                                <div class="journal-contents">
                                    {{ news.post|u.truncate(300, '...') }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}