<div id="masthead-container">
    <div id="masthead">
        <a href="/" id="logo-container"><img id="logo" src="{{ logo }}"></a>
        <div id="{% if is_user_logged_in %}masthead-loggedin{% else %}masthead-signin{% endif %}" class="masthead-user">
            {% if is_user_logged_in %}
                <div style="display: flex;justify-content: center;align-items: center;gap: 5px;">
                    {{ user_data.title }}
                    <div {% if user_notice_data > 0 %}class="bg-danger text-light"{% else %}class="bg-neutral{% endif %}" style="padding:6px 8px;display: inline-block;">{{ user_notice_data }}</div>
                    <img class="rounded" style="width:32px;margin-top: -2px;" src="{{ profile_picture(user_data.name) }}"  alt="{{ user_data.title }}">
                    <div class="usermenushit" id="masthead-below">
                        <ul style="padding:0">
                            <li><a href="/user/{{ user_data.name }}">Profile</a></li>
                            <li><a href="/my_submissions">Studio</a></li>
                            <li><a href="/settings">Settings</a></li>
                            <li><a href="/logout">Log out</a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div style="display: flex;justify-content: center;align-items: center;gap: 5px;margin-top: 2px;">
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                </div>
            {% endif %}
        </div>
        <div id="masthead-content">
            <div id="masthead-upload-button-group" style="display: flex;justify-content: center;align-items: center;gap: 5px;margin-top: 5px;">
                <a href="/browse">{{ localize('browse') }}</a>
                <a href="/upload">Upload</a>
            </div>
            <form id="masthead-search" action="/results">
                <button id="search-btn" class="button button-secondary">
                    <span>{{ icon('search', 14) }}</span>
                </button>
                <div id="masthead-search-terms">
                    <label><input type="text" name="query" placeholder="Search..."></label>
                </div>
            </form>
        </div>
    </div>
</div>