{% extends "_layout.twig" %}

{% block title %}Edit video{% endblock %}

	{% block content %}
	<div class="grid">
	<div class="col-md-2">
	<img class="img-fluid " src="{{ video_thumbnail(video.video_id) }}">
	<div class="settings-tab current">
		<a href="/studio/edit.php?v={{ video.video_id }}">
			Details
		</a>
	</div>
	<div class="settings-tab">
		<a href="/studio/comments.php?v={{ video.video_id }}">
			Comments
		</a>
	</div>
	</div>
	<div class="col-md-10">
	<form name="uploadForm" id="uploadForm" method="post" action="/studio/edit.php" enctype="multipart/form-data">
	<input type="hidden" name="vid_id" value="{{ video.video_id }}">
						<h2 style="margin-bottom: 0.5em;">{{ __("Video info") }}</h2>
						<p>{{ __("Enter the title and description of your video.") }}</p>
						<h4 style="margin-bottom: 0.5em;">{{ __(" Title") }}</h4>
						<input type="text" class="form-control form-long uploader-form" name="title" value="{{ video.title }}">
						<br>
						<h4 style="margin-bottom: 0.5em;">{{ __(" Description") }}</h4>
						<textarea class="form-control form-long uploader-form" name="desc" maxlength="2000" form="uploadForm"
							style="overflow:hidden;resize:none" rows="3">{{ video.description }}</textarea>
						<br>
<!-- 						<h4 style="margin-bottom: 0.5em;">{{ __(" Tags") }}</h4>
						<input type="text" class="form-control form-long uploader-form" name="tags" value="{{ video.tags | json_decode }}"> -->
						<br>
						<div class="right">
							<input class="button button-primary" type="submit" id="upload" name="upload" value="{{ __("Edit") }}">
						</div>
	</form>
	</div>
	</div>
	{% endblock %}