<div class="comment" id="comment-{{ comment.id }}">
    <img src="{{ profile_picture(comment.author.info.username) }}" class="pfp" alt="{{ comment.author.info.username }}">
    <div class="comment-details">
        <strong>{{ user_link(comment.author) }}</strong>
        <div><small title="{{ comment.posted | date('F j, Y') }}">{{ comment.posted | relative_time }}</small></div>
    </div>
    <div class="comment-body">
        <div class="comment-contents">
            {% if comment.post | trim is not empty %}
                {{ comment.post | markdown_user_written }}
            {% else %}
                <small>Null comment</small>
            {% endif %}
        </div>
    </div>
    <div class="clear"></div>
</div>