<div class="content-entry-index">
    <div class="content-image-container">
        <a href="/watch.php?v={{ submission.id }}" class="content-image-link">
            <img src="{{ thumbnail(submission.id, submission.type) }}"
                 alt="{{ submission.title }}"
                 title="{{ submission.title }} by {{ submission.author.info.username }}"
                 class="content-image">
        </a>
    </div>
    <div class="content-author"><a href="/watch.php?v={{ submission.id }}">{{ submission.title }}</a></div>
</div>