{% extends "_layout.twig" %}
	  {% block css %}
	  <link href="https://unpkg.com/plyr@3.6.8/dist/plyr.css" rel="stylesheet">
	  {% endblock %}
{% block content %}
<div id="placeholder-player">
    <div class="player-api player-width player-height">{{ include('/components/player.twig') }}</div>
  </div>
  <div id="watch7-container" class="">
      <div id="watch7-main-container">
    <div id="watch7-main" class="clearfix">
      <div id="watch7-preview" class="player-width player-height hid">
	  
      </div>
      <div id="watch7-content" class="watch-main-col " itemscope="" itemid="" itemtype="http://schema.org/VideoObject">
            <link itemprop="url" href="http://www.youtube.com/watch?v=dVDk7PXNXB8">
    <meta itemprop="name" content="Minions Official Trailer #2 (2015) - Despicable Me Prequel HD">
    <meta itemprop="description" content="Subscribe to TRAILERS: http://bit.ly/sxaw6h Subscribe to COMING SOON: http://bit.ly/H2vZUn Like us on FACEBOOK: http://goo.gl/dHs73 Follow us on TWITTER: htt...">
    <meta itemprop="paid" content="False">

      <meta itemprop="channelId" content="UCi8e0iOVk1fEOogdfu4YgfA">
      <meta itemprop="videoId" content="dVDk7PXNXB8">

      <meta itemprop="duration" content="PT2M33S">
      <meta itemprop="unlisted" content="False">

        <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
          <link itemprop="url" href="http://www.youtube.com/user/movieclipsTRAILERS">
        </span>
        <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
          <link itemprop="url" href="https://plus.google.com/101414284810039277897">
        </span>

    <link itemprop="thumbnailUrl" href="https://i.ytimg.com/vi/dVDk7PXNXB8/maxresdefault.jpg">
    <span itemprop="thumbnail" itemscope="" itemtype="http://schema.org/ImageObject">
      <link itemprop="url" href="https://i.ytimg.com/vi/dVDk7PXNXB8/maxresdefault.jpg">
      <meta itemprop="width" content="1280">
      <meta itemprop="height" content="720">
    </span>

      <link itemprop="embedURL" href="https://www.youtube.com/embed/dVDk7PXNXB8">
      <meta itemprop="playerType" content="HTML5 Flash">
      <meta itemprop="width" content="1280">
      <meta itemprop="height" content="720">

      <meta itemprop="isFamilyFriendly" content="True">
      <meta itemprop="regionsAllowed" content="AD,AE,AF,AG,AI,AL,AM,AO,AQ,AR,AS,AT,AU,AW,AX,AZ,BA,BB,BD,BE,BF,BG,BH,BI,BJ,BL,BM,BN,BO,BQ,BR,BS,BT,BV,BW,BY,BZ,CA,CC,CD,CF,CG,CH,CI,CK,CL,CM,CN,CO,CR,CU,CV,CW,CX,CY,CZ,DE,DJ,DK,DM,DO,DZ,EC,EE,EG,EH,ER,ES,ET,FI,FJ,FK,FM,FO,FR,GA,GB,GD,GE,GF,GG,GH,GI,GL,GM,GN,GP,GQ,GR,GS,GT,GU,GW,GY,HK,HM,HN,HR,HT,HU,ID,IE,IL,IM,IN,IO,IQ,IR,IS,IT,JE,JM,JO,JP,KE,KG,KH,KI,KM,KN,KP,KR,KW,KY,KZ,LA,LB,LC,LI,LK,LR,LS,LT,LU,LV,LY,MA,MC,MD,ME,MF,MG,MH,MK,ML,MM,MN,MO,MP,MQ,MR,MS,MT,MU,MV,MW,MX,MY,MZ,NA,NC,NE,NF,NG,NI,NL,NO,NP,NR,NU,NZ,OM,PA,PE,PF,PG,PH,PK,PL,PM,PN,PR,PS,PT,PW,PY,QA,RE,RO,RS,RU,RW,SA,SB,SC,SD,SE,SG,SH,SI,SJ,SK,SL,SM,SN,SO,SR,SS,ST,SV,SX,SY,SZ,TC,TD,TF,TG,TH,TJ,TK,TL,TM,TN,TO,TR,TT,TV,TW,TZ,UA,UG,UM,US,UY,UZ,VA,VC,VE,VG,VI,VN,VU,WF,WS,YE,YT,ZA,ZM,ZW">
      <meta itemprop="interactionCount" content="12840370">
      <meta itemprop="datePublished" content="2015-02-03">
      <meta itemprop="genre" content="Film &amp; Animation">

              <div id="watch7-speedyg-area">
      <div class="yt-alert yt-alert-actionable yt-alert-info hid " id="speedyg-template">  <div class="yt-alert-icon">
    <span class="icon master-sprite yt-sprite"></span>
  </div>
<div class="yt-alert-content" role="alert">    <div class="yt-alert-message">
    </div>
</div><div class="yt-alert-buttons"><a href="https://www.google.com/get/videoqualityreport/?v=dVDk7PXNXB8" class="yt-uix-button   yt-uix-sessionlink yt-uix-button-alert-info yt-uix-button-size-small" data-sessionlink="ei=qNF4VaPpJ9K8-wOpiIPgDw" id="speedyg-link" target="_blank"><span class="yt-uix-button-content">Find out why</span></a><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-close close yt-uix-close" type="button" onclick=";return false;" aria-label="Close" data-close-parent-class="yt-alert"><span class="yt-uix-button-content">Close</span></button></div></div>
    </div>

        <div id="watch-header" class="yt-card yt-card-has-padding">
      <div id="watch7-headline" class="clearfix">
    <div id="watch-headline-title">
      <h1 class="yt watch-title-container">
        

  <span id="eow-title" class="watch-title " dir="ltr" title="Minions Official Trailer #2 (2015) - Despicable Me Prequel HD">
    {{ video.title }}
  </span>

      </h1>
    </div>
  </div>

    <div id="watch7-user-header" class=" spf-link ">  <a href="/user/movieclipsTRAILERS" class="yt-user-photo yt-uix-sessionlink     spf-link  g-hovercard" data-sessionlink="itct=" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA">
      <span class="video-thumb  yt-thumb yt-thumb-48 g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA">
    <span class="yt-thumb-square">
      <span class="yt-thumb-clip">
        <img alt="{{ video.u_name }}" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="{{ profile_image(video.u_name) }}" width="48" height="48">
        <span class="vertical-align"></span>
      </span>
    </span>
  </span>

  </a>
  <div class="yt-user-info">
    <a href="/channel/UCi8e0iOVk1fEOogdfu4YgfA" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-sessionlink="ei=qNF4VaPpJ9K8-wOpiIPgDw" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="">{{ video.u_name }}</a>
       
      <span aria-label="Verified" data-tooltip-text="Verified" class="yt-channel-title-icon-verified yt-uix-tooltip yt-sprite"></span>
  </div>
<span id="watch7-subscription-container"><span class=" yt-uix-button-subscription-container"><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-subscribe-branded yt-uix-button-has-icon no-icon-markup yt-can-buffer yt-uix-subscription-button" type="button" onclick=";return false;" aria-busy="false" aria-live="polite" data-style-type="branded" data-href="https://accounts.google.com/ServiceLogin?hl=en&amp;passive=true&amp;service=youtube&amp;uilel=3&amp;continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Ffeature%3Dsubscribe%26hl%3Den%26next%3D%252Fchannel%252FUCi8e0iOVk1fEOogdfu4YgfA%26action_handle_signin%3Dtrue%26continue_action%3DQUFFLUhqbnFZZGV3Q05USTU0bDdQVk8xbWJmYkNiVDluUXxBQ3Jtc0tsdWVPdGIxVVV2N1U2aGczN2UyUlZQS09KNkNYb0tIWlkwV2hoa3JKWGRhdFBqZ0JtTmNrczlxSWlaZnkyU1ZpTnhaQ0xFeTVVZzMydTVQRGg2bm9jNXpWRXJPbmdMR3FOMm1jb1FVYXdlclZUUHRiMmRQamw5dVpKZkxJMGJZS2JjaXY1MUIyWUNPTFo4bFhPNmV1WkNLOS1WTHl6OWo2SnNNQ1BEdF9JZUpsQUltdDByV05XSjdicWZDeVdhMGdEYnlsY3p0RkRGcFllb0FSWEYzVGNMNWVxb2RR%26app%3Ddesktop" data-channel-external-id="UCi8e0iOVk1fEOogdfu4YgfA" data-clicktracking="itct=MgV3YXRjaA"><span class="yt-uix-button-content"><span class="subscribe-label" aria-label="Subscribe">Subscribe</span><span class="subscribed-label" aria-label="Unsubscribe">Subscribed</span><span class="unsubscribe-label" aria-label="Unsubscribe">Unsubscribe</span></span></button><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon yt-uix-subscription-preferences-button" type="button" onclick=";return false;" aria-label="Subscription preferences" aria-role="button" aria-busy="false" aria-live="polite" data-channel-external-id="UCi8e0iOVk1fEOogdfu4YgfA"><span class="yt-uix-button-icon-wrapper"><span class="yt-uix-button-icon yt-uix-button-icon-subscription-preferences yt-sprite"></span></span></button><span class="yt-subscription-button-subscriber-count-branded-horizontal" title="{{ subCount }}" tabindex="0">{{ subCount }}</span>  
  <div class="yt-uix-overlay " data-overlay-style="primary" data-overlay-shape="tiny">
    
        <div class="yt-dialog hid ">
    <div class="yt-dialog-base">
      <span class="yt-dialog-align"></span>
      <div class="yt-dialog-fg" role="dialog">
        <div class="yt-dialog-fg-content">
            <div class="yt-dialog-header">
                  <h2 class="yt-dialog-title">
      Subscription preferences
  </h2>

            </div>
          <div class="yt-dialog-loading">
              <div class="yt-dialog-waiting-content">
      <p class="yt-spinner ">
        <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>

    <span class="yt-spinner-message">
Loading...
    </span>
  </p>

  </div>

          </div>
          <div class="yt-dialog-content">
              <div class="subscription-preferences-overlay-content-container">
    <div class="subscription-preferences-overlay-loading ">
        <p class="yt-spinner ">
        <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>

    <span class="yt-spinner-message">
Loading...
    </span>
  </p>

    </div>
    <div class="subscription-preferences-overlay-content">
    </div>
  </div>

          </div>
          <div class="yt-dialog-working">
              <div class="yt-dialog-working-overlay"></div>
  <div class="yt-dialog-working-bubble">
    <div class="yt-dialog-waiting-content">
        <p class="yt-spinner ">
        <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>

    <span class="yt-spinner-message">
        Working...
    </span>
  </p>

      </div>
  </div>

          </div>
        </div>
        <div class="yt-dialog-focus-trap" tabindex="0"></div>
      </div>
    </div>
  </div>


  </div>

</span></span></div>
    <div id="watch8-action-buttons" class="watch-action-buttons clearfix"><div id="watch8-secondary-actions" class="watch-secondary-actions yt-uix-button-group" data-button-toggle-group="optional">    <span class="yt-uix-clickcard">
      <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-opacity yt-uix-button-has-icon no-icon-markup yt-uix-clickcard-target addto-button pause-resume-autoplay yt-uix-tooltip" type="button" onclick=";return false;" title="Add to" data-position="bottomleft" data-orientation="vertical"><span class="yt-uix-button-content">Add to</span></button>
        <div class="signin-clickcard yt-uix-clickcard-content">
    <h3 class="signin-clickcard-header">Want to watch this again later?</h3>
    <div class="signin-clickcard-message">
      Sign in to add this video to a playlist.
    </div>
    <a href="https://accounts.google.com/ServiceLogin?hl=en&amp;passive=true&amp;service=youtube&amp;uilel=3&amp;continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Fapp%3Ddesktop%26action_handle_signin%3Dtrue%26hl%3Den%26next%3D%252Fwatch%253Fv%253DdVDk7PXNXB8%26feature%3D__FEATURE__" class="yt-uix-button  signin-button yt-uix-sessionlink yt-uix-button-primary yt-uix-button-size-default" data-sessionlink="ei=qNF4VaPpJ9K8-wOpiIPgDw"><span class="yt-uix-button-content">Sign in</span></a>
  </div>

    </span>
  <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-opacity yt-uix-button-has-icon no-icon-markup pause-resume-autoplay action-panel-trigger action-panel-trigger-share   yt-uix-tooltip" type="button" onclick=";return false;" title="Share
" data-trigger-for="action-panel-share" data-button-toggle="true"><span class="yt-uix-button-content">Share
</span></button>
<div class="yt-uix-menu ">  <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-opacity yt-uix-button-has-icon no-icon-markup pause-resume-autoplay yt-uix-menu-trigger yt-uix-tooltip" type="button" onclick=";return false;" aria-haspopup="true" aria-pressed="false" id="action-panel-overflow-button" title="More actions" role="button"><span class="yt-uix-button-content">More</span></button>
<div class="yt-uix-menu-content yt-ui-menu-content yt-uix-menu-content-hidden" role="menu"><ul id="action-panel-overflow-menu">  <li>
      <span class="yt-uix-clickcard" data-card-class="report-card">
          <button type="button" class="yt-ui-menu-item has-icon action-panel-trigger action-panel-trigger-report report-button yt-uix-clickcard-target" data-position="topright" data-orientation="horizontal">
    <span class="yt-ui-menu-item-label">Report</span>
  </button>

          <div class="signin-clickcard yt-uix-clickcard-content">
    <h3 class="signin-clickcard-header">Need to report the video?</h3>
    <div class="signin-clickcard-message">
      Sign in to report inappropriate content.
    </div>
    <a href="https://accounts.google.com/ServiceLogin?hl=en&amp;passive=true&amp;service=youtube&amp;uilel=3&amp;continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Fapp%3Ddesktop%26action_handle_signin%3Dtrue%26hl%3Den%26next%3D%252Fwatch%253Fv%253DdVDk7PXNXB8%26feature%3D__FEATURE__" class="yt-uix-button  signin-button yt-uix-sessionlink yt-uix-button-primary yt-uix-button-size-default" data-sessionlink="ei=qNF4VaPpJ9K8-wOpiIPgDw"><span class="yt-uix-button-content">Sign in</span></a>
  </div>

      </span>
  </li>
  <li>
        <button type="button" class="yt-ui-menu-item has-icon yt-uix-menu-close-on-select action-panel-trigger action-panel-trigger-transcript" data-trigger-for="action-panel-transcript">
    <span class="yt-ui-menu-item-label">Transcript</span>
  </button>

  </li>
  <li>
        <button type="button" class="yt-ui-menu-item has-icon yt-uix-menu-close-on-select action-panel-trigger action-panel-trigger-stats" data-trigger-for="action-panel-stats">
    <span class="yt-ui-menu-item-label">Statistics</span>
  </button>

  </li>
</ul></div></div></div><div id="watch8-sentiment-actions"><div id="watch7-views-info"><div class="watch-view-count">12,840,370</div>
  <div class="video-extras-sparkbars">
    <div class="video-extras-sparkbar-likes" style="width: 94.2061771452%"></div>
    <div class="video-extras-sparkbar-dislikes" style="width: 5.79382285481%"></div>
  </div>
</div>





  <span class="like-button-renderer " data-button-toggle-group="optional">
    <span class="yt-uix-clickcard">
      <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-opacity yt-uix-button-has-icon no-icon-markup like-button-renderer-like-button like-button-renderer-like-button-unclicked yt-uix-clickcard-target   yt-uix-tooltip" type="button" onclick=";return false;" aria-label="like this video along with 29,983 other people" title="I like this" data-force-position="true" data-position="bottomright" data-orientation="vertical"><span class="yt-uix-button-content">29,983</span></button>
          <div class="signin-clickcard yt-uix-clickcard-content">
    <h3 class="signin-clickcard-header">Like this video?</h3>
    <div class="signin-clickcard-message">
      Sign in to make your opinion count.
    </div>
    <a href="https://accounts.google.com/ServiceLogin?hl=en&amp;passive=true&amp;service=youtube&amp;uilel=3&amp;continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Fapp%3Ddesktop%26action_handle_signin%3Dtrue%26hl%3Den%26next%3D%252Fwatch%253Fv%253DdVDk7PXNXB8%26feature%3D__FEATURE__" class="yt-uix-button  signin-button yt-uix-sessionlink yt-uix-button-primary yt-uix-button-size-default" data-sessionlink="ei=qNF4VaPpJ9K8-wOpiIPgDw"><span class="yt-uix-button-content">Sign in</span></a>
  </div>

    </span>
    <span class="yt-uix-clickcard">
      <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-opacity yt-uix-button-has-icon no-icon-markup like-button-renderer-like-button like-button-renderer-like-button-clicked yt-uix-button-toggled  hid yt-uix-tooltip" type="button" onclick=";return false;" aria-label="like this video along with 29,983 other people" title="Unlike" data-force-position="true" data-position="bottomright" data-orientation="vertical"><span class="yt-uix-button-content">29,984</span></button>
    </span>
    <span class="yt-uix-clickcard">
      <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-opacity yt-uix-button-has-icon no-icon-markup like-button-renderer-dislike-button like-button-renderer-dislike-button-unclicked yt-uix-clickcard-target   yt-uix-tooltip" type="button" onclick=";return false;" aria-label="dislike this video along with 1,844 other people" title="I dislike this" data-force-position="true" data-position="bottomright" data-orientation="vertical"><span class="yt-uix-button-content">1,844</span></button>
          <div class="signin-clickcard yt-uix-clickcard-content">
    <h3 class="signin-clickcard-header">Don't like this video?</h3>
    <div class="signin-clickcard-message">
      Sign in to make your opinion count.
    </div>
    <a href="https://accounts.google.com/ServiceLogin?hl=en&amp;passive=true&amp;service=youtube&amp;uilel=3&amp;continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Fapp%3Ddesktop%26action_handle_signin%3Dtrue%26hl%3Den%26next%3D%252Fwatch%253Fv%253DdVDk7PXNXB8%26feature%3D__FEATURE__" class="yt-uix-button  signin-button yt-uix-sessionlink yt-uix-button-primary yt-uix-button-size-default" data-sessionlink="ei=qNF4VaPpJ9K8-wOpiIPgDw"><span class="yt-uix-button-content">Sign in</span></a>
  </div>

    </span>
    <span class="yt-uix-clickcard">
      <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-opacity yt-uix-button-has-icon no-icon-markup like-button-renderer-dislike-button like-button-renderer-dislike-button-clicked yt-uix-button-toggled  hid yt-uix-tooltip" type="button" onclick=";return false;" aria-label="dislike this video along with 1,844 other people" title="I dislike this" data-force-position="true" data-position="bottomright" data-orientation="vertical"><span class="yt-uix-button-content">1,845</span></button>
    </span>
  </span>
</div></div>
  </div>



      <div id="watch-action-panels" class="watch-action-panels yt-uix-button-panel hid yt-card yt-card-has-padding">
      <div id="action-panel-share" class="action-panel-content hid">
      <div id="watch-actions-share-loading">
    <div class="action-panel-loading">
        <p class="yt-spinner ">
        <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>

    <span class="yt-spinner-message">
Loading...
    </span>
  </p>

    </div>
  </div>
  <div id="watch-actions-share-panel"></div>

  </div>

        <div id="action-panel-transcript" class="action-panel-content hid">
    <div id="watch-actions-transcript-loading">
      <div class="action-panel-loading">
          <p class="yt-spinner ">
        <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>

    <span class="yt-spinner-message">
Loading...
    </span>
  </p>

      </div>
    </div>
      <div id="watch-actions-transcript" class="hid">
    <h2 class="yt-card-title">
Transcript
    </h2>
      <div id="caption-line-template" class="hid">
    <!--
    <div class="caption-line-time">
      <div class="caption-line-start">__start__</div>
    </div>
    <div class="editable-line-text">
      <span class="editable-line-text-original">__original__</span>
      <label class="editable-line-text-current hid">__current__</label>
      <textarea class="editable-line-text-input hid">__input__</textarea>
    </div>
    -->
  </div>



    <div id="watch-transcript-container" class="yt-scrollbar">
      <div id="watch-transcript-not-found" class="hid">
The interactive transcript could not be loaded.
      </div>

      
    </div>
  </div>

  </div>

      <div id="action-panel-stats" class="action-panel-content hid">
    <div class="action-panel-loading">
        <p class="yt-spinner ">
        <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>

    <span class="yt-spinner-message">
Loading...
    </span>
  </p>

    </div>
  </div>

      <div id="action-panel-report" class="action-panel-content hid" data-auth-required="true">
    <div class="action-panel-loading">
        <p class="yt-spinner ">
        <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>

    <span class="yt-spinner-message">
Loading...
    </span>
  </p>

    </div>
  </div>

    
  <div id="action-panel-rental-required" class="action-panel-content hid">
      <div id="watch-actions-rental-required">
    <strong>Rating is available when the video has been rented.</strong>
  </div>

  </div>

  <div id="action-panel-error" class="action-panel-content hid">
    <div class="action-panel-error">
      This feature is not available right now. Please try again later.
    </div>
  </div>

    <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup yt-uix-button-opacity yt-uix-close" type="button" onclick=";return false;" aria-label="Close" id="action-panel-dismiss" data-close-parent-id="watch8-action-panels"></button>
  </div>

  <div id="action-panel-details" class="action-panel-content yt-card yt-card-has-padding yt-uix-expander yt-uix-expander-collapsed"><div id="watch-description" class="yt-uix-button-panel">
  <div id="watch-description-content"><div id="watch-description-clip"><div id="watch-uploader-info">
  <strong class="watch-time-text">Published on Feb 3, 2015</strong></div><div id="watch-description-text" class="">
  <p id="eow-description">
  {{ video.description }}
  </p>
  </div>  <div id="watch-description-extras">
    <ul class="watch-extras-section">
          <li class="watch-meta-item yt-uix-expander-body">
    <h4 class="title">
      Category
    </h4>
    <ul class="content watch-info-tag-list">
        <li>
		<a href="/channel/UCxAgnFbkxldX6YUEvdcNjnA" class=" yt-uix-sessionlink     spf-link  g-hovercard" data-sessionlink="ei=qNF4VaPpJ9K8-wOpiIPgDw" data-ytid="UCxAgnFbkxldX6YUEvdcNjnA" data-name="">{{ video.category_id | category_id_to_name() }}</a></li>
    </ul>
  </li>

          <li class="watch-meta-item yt-uix-expander-body">
    <h4 class="title">
      License
    </h4>
    <ul class="content watch-info-tag-list">
        <li>Standard cheeseRox License</li>
    </ul>
  </li>

    </ul>
  </div>
</div></div></div>  <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-expander yt-uix-expander-head yt-uix-expander-collapsed-body yt-uix-gen204" type="button" onclick=";return false;" data-gen204="feature=watch-show-more-metadata"><span class="yt-uix-button-content">Show more</span></button>
  <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-expander yt-uix-expander-head yt-uix-expander-body" type="button" onclick=";return false;"><span class="yt-uix-button-content">Show less</span></button>
</div>

          <div class="cmt_iframe_holder" data-href="http://www.youtube.com/watch?v=dVDk7PXNXB8" data-viewtype="FILTERED" style="display: none;"></div>

  <div id="watch-discussion" class="yt-card branded-page-box">
            
  
  <div class="comments-iframe-container">
    <div id="comments-test-iframe"></div>
    <div id="distiller-spinner" class="action-panel-loading">
        <p class="yt-spinner ">
        <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>

    <span class="yt-spinner-message">
Loading...
    </span>
  </p>

    </div>
  </div>


  </div>


      </div>
      <div id="watch7-sidebar" class="watch-sidebar">
            
  <div id="placeholder-playlist" class="watch-playlist player-height hid"></div>


  <div id="watch7-sidebar-contents" class="watch-sidebar-gutter   yt-card yt-card-has-padding    yt-uix-expander yt-uix-expander-collapsed">
    <div id="watch7-sidebar-offer">
      
    </div>
    <div id="watch7-sidebar-ads">
              <div id="watch-channel-brand-div" class="">
      <div id="watch-channel-brand-div-text">
Advertisement
      </div>
      <div id="google_companion_ad_div">
      </div>
    </div>


    </div>
    <div id="watch7-sidebar-modules">
                <div class="watch-sidebar-section">
    <div class="autoplay-bar">
      <div class="checkbox-on-off">
       <label for="autoplay-checkbox">Autoplay</label>
       <span class="autoplay-hovercard yt-uix-hovercard">
          <span class="autoplay-info-icon yt-uix-button-opacity yt-uix-hovercard-target yt-sprite" data-position="topright" data-orientation="vertical"></span>
<span class="yt-uix-hovercard-content">When autoplay is enabled, a suggested video will automatically play next.</span>        </span>
          <span class="yt-uix-checkbox-on-off ">
<input id="autoplay-checkbox" class="" type="checkbox" checked="">
    <label for="autoplay-checkbox" id="autoplay-checkbox-label">
      <span class="checked">&nbsp;</span>
      <span class="unchecked"></span>
      <span class="toggle">&nbsp;</span>
    </label>
  </span>

      </div>
      <h4 class="watch-sidebar-head">
          Up Next
      </h4>
        <div class="watch-sidebar-body">
    <ul class="video-list">
      <li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=SvKmSNxFHyQ" class=" content-link spf-link  yt-uix-sessionlink" title="Minions Official Trailer #3 (2015) - Despicable Me Prequel HD" data-sessionlink="ved=CAMQzRooAA&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=autonav">  <span dir="ltr" class="title" aria-describedby="description-id-388019">
    Minions Official Trailer #3 (2015) - Despicable Me Prequel HD
  </span>
    <span class="accessible-description" id="description-id-388019">
       - Duration: 3:19.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="autonav">
        by <span class=" g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="">MOVIECLIPS Trailers</span>
      </span>
    </span>
    <span class="stat view-count">4,530,176 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=SvKmSNxFHyQ" class=" thumb-link spf-link  yt-uix-sessionlink" tabindex="-1" data-sessionlink="ved=CAMQzRooAA&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=autonav" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="SvKmSNxFHyQ"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/SvKmSNxFHyQ/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      3:19
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="SvKmSNxFHyQ"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="SvKmSNxFHyQ"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="SvKmSNxFHyQ"></button>


  </div>

</li>
    </ul>
  </div>

    </div>
  </div>

          <div class="watch-sidebar-section">
      <hr class="watch-sidebar-separation-line">
    <div class="watch-sidebar-body">
      <ul id="watch-related" class="video-list">
          <li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=eisKxhjBnZ0" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Minions Official Trailer #1 (2015) - Despicable Me Prequel HD" data-sessionlink="ved=CAUQzRooAA&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=relmfu">  <span dir="ltr" class="title" aria-describedby="description-id-74603">
    Minions Official Trailer #1 (2015) - Despicable Me Prequel HD
  </span>
    <span class="accessible-description" id="description-id-74603">
       - Duration: 2:48.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="relmfu">
        by <span class=" g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="">MOVIECLIPS Trailers</span>
      </span>
    </span>
    <span class="stat view-count">17,065,420 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=eisKxhjBnZ0" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CAUQzRooAA&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=relmfu" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="eisKxhjBnZ0"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/eisKxhjBnZ0/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      2:48
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="eisKxhjBnZ0"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="eisKxhjBnZ0"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="eisKxhjBnZ0"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=nrUDMhI204U" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Minions Official Movie Clip #1 - New York (2015) - Despicable Me Prequel HD" data-sessionlink="ved=CAYQzRooAQ&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=relmfu">  <span dir="ltr" class="title" aria-describedby="description-id-634714">
    Minions Official Movie Clip #1 - New York (2015) - Despicable Me Prequel HD
  </span>
    <span class="accessible-description" id="description-id-634714">
       - Duration: 1:46.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="relmfu">
        by <span class=" g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="">MOVIECLIPS Trailers</span>
      </span>
    </span>
    <span class="stat view-count">2,439,074 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=nrUDMhI204U" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CAYQzRooAQ&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=relmfu" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="nrUDMhI204U"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/nrUDMhI204U/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      1:46
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="nrUDMhI204U"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="nrUDMhI204U"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="nrUDMhI204U"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=seMwpP0yeu4" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Inside Out Official Trailer #2 (2015) - Disney Pixar Movie HD" data-sessionlink="ved=CAcQzRooAg&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=relmfu">  <span dir="ltr" class="title" aria-describedby="description-id-63936">
    Inside Out Official Trailer #2 (2015) - Disney Pixar Movie HD
  </span>
    <span class="accessible-description" id="description-id-63936">
       - Duration: 2:29.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="relmfu">
        by <span class=" g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="">MOVIECLIPS Trailers</span>
      </span>
    </span>
    <span class="stat view-count">4,999,020 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=seMwpP0yeu4" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CAcQzRooAg&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=relmfu" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="seMwpP0yeu4"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/seMwpP0yeu4/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      2:29
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="seMwpP0yeu4"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="seMwpP0yeu4"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="seMwpP0yeu4"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=RztcvoBCqeA" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="NEW MINIONS MINI MOVIE -2015" data-sessionlink="ved=CAgQzRooAw&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related">  <span dir="ltr" class="title" aria-describedby="description-id-851226">
    NEW MINIONS MINI MOVIE -2015
  </span>
    <span class="accessible-description" id="description-id-851226">
       - Duration: 6:26.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCZYL3p2Ezn9x0XpW-gB2q6g" data-name="related">
        by <span class=" g-hovercard" data-ytid="UCZYL3p2Ezn9x0XpW-gB2q6g" data-name="">PEOPLE ARE AWESOME</span>
      </span>
    </span>
    <span class="stat view-count">4,223,613 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=RztcvoBCqeA" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CAgQzRooAw&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="RztcvoBCqeA"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/RztcvoBCqeA/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      6:26
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="RztcvoBCqeA"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="RztcvoBCqeA"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="RztcvoBCqeA"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=MsUGI28xpQ4" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Training Wheels - Disney Minion Pixar (Minion Mini Movie)" data-sessionlink="ved=CAkQzRooBA&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related">  <span dir="ltr" class="title" aria-describedby="description-id-5862">
    Training Wheels - Disney Minion Pixar (Minion Mini Movie)
  </span>
    <span class="accessible-description" id="description-id-5862">
       - Duration: 3:42.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCIiXOlpJSRFGgFeuglTQ2Ww" data-name="related">
        by <span class=" g-hovercard" data-ytid="UCIiXOlpJSRFGgFeuglTQ2Ww" data-name="">Abg Adzril</span>
      </span>
    </span>
    <span class="stat view-count">3,820,794 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=MsUGI28xpQ4" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CAkQzRooBA&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="MsUGI28xpQ4"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/MsUGI28xpQ4/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      3:42
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="MsUGI28xpQ4"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="MsUGI28xpQ4"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="MsUGI28xpQ4"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=lnvy1gpZa7M" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Despicable Me - Best minions scene" data-sessionlink="ved=CAoQzRooBQ&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related">  <span dir="ltr" class="title" aria-describedby="description-id-321563">
    Despicable Me - Best minions scene
  </span>
    <span class="accessible-description" id="description-id-321563">
       - Duration: 2:48.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCY9wfc6gQ8LnI7u_eCR_T-A" data-name="related">
        by <span class=" g-hovercard" data-ytid="UCY9wfc6gQ8LnI7u_eCR_T-A" data-name="">MinionsGames ForKids</span>
      </span>
    </span>
    <span class="stat view-count">27,473,596 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=lnvy1gpZa7M" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CAoQzRooBQ&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="lnvy1gpZa7M"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/lnvy1gpZa7M/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      2:48
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="lnvy1gpZa7M"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="lnvy1gpZa7M"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="lnvy1gpZa7M"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=f-R-ldq8e_Y" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Minions Full Movies - Minions Funny Movies 2015 - Best Comedy Movies 2015" data-sessionlink="ved=CAsQzRooBg&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related">  <span dir="ltr" class="title" aria-describedby="description-id-123187">
    Minions Full Movies - Minions Funny Movies 2015 - Best Comedy Movies 2015
  </span>
    <span class="accessible-description" id="description-id-123187">
       - Duration: 32:22.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCivTeqtUx0DKwZP9-LdALsA" data-name="related">
        by <span class=" g-hovercard" data-ytid="UCivTeqtUx0DKwZP9-LdALsA" data-name="">Cartoon Funny 2015</span>
      </span>
    </span>
    <span class="stat view-count">480,683 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=f-R-ldq8e_Y" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CAsQzRooBg&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="f-R-ldq8e_Y"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/f-R-ldq8e_Y/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      32:22
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="f-R-ldq8e_Y"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="f-R-ldq8e_Y"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="f-R-ldq8e_Y"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=ZiakC19KpRA" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Minions 2015 Official Trailer 3 + Trailer Review : Beyond The Trailer" data-sessionlink="ved=CAwQzRooBw&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related">  <span dir="ltr" class="title" aria-describedby="description-id-957930">
    Minions 2015 Official Trailer 3 + Trailer Review : Beyond The Trailer
  </span>
    <span class="accessible-description" id="description-id-957930">
       - Duration: 6:59.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCAXR2zenCwvRIyQd9ydtfaA" data-name="related">
        by <span class=" g-hovercard" data-ytid="UCAXR2zenCwvRIyQd9ydtfaA" data-name="">Beyond The Trailer</span>
      </span>
    </span>
    <span class="stat view-count">1,175,943 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=ZiakC19KpRA" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CAwQzRooBw&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="ZiakC19KpRA"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/ZiakC19KpRA/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      6:59
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="ZiakC19KpRA"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="ZiakC19KpRA"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="ZiakC19KpRA"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=smcHKYUs4RE" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Hotel Transylvania 2 Official Teaser Trailer #1 (2015) - Animated Sequel H" data-sessionlink="ved=CA0QzRooCA&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=relmfu">  <span dir="ltr" class="title" aria-describedby="description-id-266742">
    Hotel Transylvania 2 Official Teaser Trailer #1 (2015) - Animated Sequel H
  </span>
    <span class="accessible-description" id="description-id-266742">
       - Duration: 1:47.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="relmfu">
        by <span class=" g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="">MOVIECLIPS Trailers</span>
      </span>
    </span>
    <span class="stat view-count">4,012,583 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=smcHKYUs4RE" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CA0QzRooCA&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=relmfu" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="smcHKYUs4RE"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/smcHKYUs4RE/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      1:47
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="smcHKYUs4RE"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="smcHKYUs4RE"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="smcHKYUs4RE"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=F9B1NvO7oz8" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Little Alien Ship - Funny Minions Video" data-sessionlink="ved=CA4QzRooCQ&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related">  <span dir="ltr" class="title" aria-describedby="description-id-980477">
    Little Alien Ship - Funny Minions Video
  </span>
    <span class="accessible-description" id="description-id-980477">
       - Duration: 4:54.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCk1Ik-8J19eQX-M4AJIqvYA" data-name="related">
        by <span class=" g-hovercard" data-ytid="UCk1Ik-8J19eQX-M4AJIqvYA" data-name="">Mozyy Ozzy</span>
      </span>
    </span>
    <span class="stat view-count">234,687 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=F9B1NvO7oz8" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CA4QzRooCQ&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="F9B1NvO7oz8"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/F9B1NvO7oz8/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      4:54
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="F9B1NvO7oz8"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="F9B1NvO7oz8"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="F9B1NvO7oz8"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=ikpdmeQ1Dq8" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Frozen Fever Official Trailer #1 (2015) - Disney Animated Short Film HD" data-sessionlink="ved=CA8QzRooCg&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=relmfu">  <span dir="ltr" class="title" aria-describedby="description-id-731689">
    Frozen Fever Official Trailer #1 (2015) - Disney Animated Short Film HD
  </span>
    <span class="accessible-description" id="description-id-731689">
       - Duration: 0:40.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="relmfu">
        by <span class=" g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="">MOVIECLIPS Trailers</span>
      </span>
    </span>
    <span class="stat view-count">5,427,510 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=ikpdmeQ1Dq8" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CA8QzRooCg&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=relmfu" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="ikpdmeQ1Dq8"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/ikpdmeQ1Dq8/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      0:40
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="ikpdmeQ1Dq8"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="ikpdmeQ1Dq8"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="ikpdmeQ1Dq8"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=ARpaAqI3y3c" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Lo mejor de los Minions -Best of Minions- --le meilleur des minions-" data-sessionlink="ved=CBAQzRooCw&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related">  <span dir="ltr" class="title" aria-describedby="description-id-157537">
    Lo mejor de los Minions -Best of Minions- --le meilleur des minions-
  </span>
    <span class="accessible-description" id="description-id-157537">
       - Duration: 10:26.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UC5U7SUlhBSQW1at6Y-aZbzg" data-name="related">
        by <span class=" g-hovercard" data-ytid="UC5U7SUlhBSQW1at6Y-aZbzg" data-name="">Mario Alberto Merchenco</span>
      </span>
    </span>
    <span class="stat view-count">55,870,540 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=ARpaAqI3y3c" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CBAQzRooCw&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="ARpaAqI3y3c"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/ARpaAqI3y3c/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      10:26
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="ARpaAqI3y3c"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="ARpaAqI3y3c"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="ARpaAqI3y3c"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=RONg2EVTYAY" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Minyonok /Minions/ (2. magyar szinkronos elzetes)" data-sessionlink="ved=CBEQzRooDA&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related">  <span dir="ltr" class="title" aria-describedby="description-id-757189">
    Minyonok /Minions/ (2. magyar szinkronos elzetes)
  </span>
    <span class="accessible-description" id="description-id-757189">
       - Duration: 2:27.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UC1QnUoFKJGamVG5Pv1xkm0A" data-name="related">
        by <span class=" g-hovercard" data-ytid="UC1QnUoFKJGamVG5Pv1xkm0A" data-name="">DVDNEWS.BLOG.HU</span>
      </span>
    </span>
    <span class="stat view-count">2,470,575 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=RONg2EVTYAY" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CBEQzRooDA&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="RONg2EVTYAY"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/RONg2EVTYAY/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      2:27
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="RONg2EVTYAY"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="RONg2EVTYAY"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="RONg2EVTYAY"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=rl6-zJharrs" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="3 New Mini Movies Despicable Me 2 Trailer" data-sessionlink="ved=CBIQzRooDQ&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related">  <span dir="ltr" class="title" aria-describedby="description-id-489394">
    3 New Mini Movies Despicable Me 2 Trailer
  </span>
    <span class="accessible-description" id="description-id-489394">
       - Duration: 2:02.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCvuKaT_4HEz4PDPci_KDEpQ" data-name="related">
        by <span class=" g-hovercard" data-ytid="UCvuKaT_4HEz4PDPci_KDEpQ" data-name="">Enrique de Sagun</span>
      </span>
    </span>
    <span class="stat view-count">23,464,221 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=rl6-zJharrs" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CBIQzRooDQ&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="rl6-zJharrs"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/rl6-zJharrs/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      2:02
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="rl6-zJharrs"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="rl6-zJharrs"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="rl6-zJharrs"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=bOpICer96jE" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Despicable Me: Minion Rush - Special Spring Event and New Prankster JERRY" data-sessionlink="ved=CBMQzRooDg&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related">  <span dir="ltr" class="title" aria-describedby="description-id-11729">
    Despicable Me: Minion Rush - Special Spring Event and New Prankster JERRY
  </span>
    <span class="accessible-description" id="description-id-11729">
       - Duration: 8:33.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCERVhkIYIeEdTQkQciwDN3A" data-name="related">
        by <span class=" g-hovercard" data-ytid="UCERVhkIYIeEdTQkQciwDN3A" data-name="">ArcadeGo.com</span>
      </span>
    </span>
    <span class="stat view-count">209,872 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=bOpICer96jE" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CBMQzRooDg&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="bOpICer96jE"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/bOpICer96jE/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      8:33
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="bOpICer96jE"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="bOpICer96jE"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="bOpICer96jE"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=xe1LrMqURuw" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Batman v Superman: Dawn of Justice Official Teaser Trailer #1 (2016) - Ben Affleck Movie HD" data-sessionlink="ved=CBQQzRooDw&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=relmfu">  <span dir="ltr" class="title" aria-describedby="description-id-630974">
    Batman v Superman: Dawn of Justice Official Teaser Trailer #1 (2016) - Ben Affleck Movie HD
  </span>
    <span class="accessible-description" id="description-id-630974">
       - Duration: 2:14.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="relmfu">
        by <span class=" g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="">MOVIECLIPS Trailers</span>
      </span>
    </span>
    <span class="stat view-count">15,322,769 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=xe1LrMqURuw" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CBQQzRooDw&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=relmfu" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="xe1LrMqURuw"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/xe1LrMqURuw/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      2:14
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="xe1LrMqURuw"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="xe1LrMqURuw"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="xe1LrMqURuw"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=tof-mXxxzzo" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Minions 2015 Full Movies Trailler" data-sessionlink="ved=CBUQzRooEA&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related">  <span dir="ltr" class="title" aria-describedby="description-id-675004">
    Minions 2015 Full Movies Trailler
  </span>
    <span class="accessible-description" id="description-id-675004">
       - Duration: 15:57.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UC5gc-lgIssP9i_7lzk9TQQQ" data-name="related">
        by <span class=" g-hovercard" data-ytid="UC5gc-lgIssP9i_7lzk9TQQQ" data-name="">Sempax007</span>
      </span>
    </span>
    <span class="stat view-count">346,440 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=tof-mXxxzzo" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CBUQzRooEA&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="tof-mXxxzzo"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/tof-mXxxzzo/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      15:57
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="tof-mXxxzzo"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="tof-mXxxzzo"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="tof-mXxxzzo"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=O3mf_ewjc7s" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Aloha Official Trailer #1 (2015) - Bradley Cooper, Emma Stone Movie HD" data-sessionlink="ved=CBYQzRooEQ&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=relmfu">  <span dir="ltr" class="title" aria-describedby="description-id-531392">
    Aloha Official Trailer #1 (2015) - Bradley Cooper, Emma Stone Movie HD
  </span>
    <span class="accessible-description" id="description-id-531392">
       - Duration: 2:29.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="relmfu">
        by <span class=" g-hovercard" data-ytid="UCi8e0iOVk1fEOogdfu4YgfA" data-name="">MOVIECLIPS Trailers</span>
      </span>
    </span>
    <span class="stat view-count">5,005,815 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=O3mf_ewjc7s" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CBYQzRooEQ&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=relmfu" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="O3mf_ewjc7s"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/O3mf_ewjc7s/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      2:29
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="O3mf_ewjc7s"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="O3mf_ewjc7s"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="O3mf_ewjc7s"></button>


  </div>

</li><li class="video-list-item related-list-item show-video-time">    <div class="content-wrapper">
    <a href="/watch?v=KLMJPKylg2Y" class=" content-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" title="Minions in Gym with Banana!" data-sessionlink="ved=CBcQzRooEg&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related">  <span dir="ltr" class="title" aria-describedby="description-id-794615">
    Minions in Gym with Banana!
  </span>
    <span class="accessible-description" id="description-id-794615">
       - Duration: 1:06.
    </span>
    <span class="stat attribution">
      <span class="g-hovercard" data-ytid="UCaCGDlHy5ci1jxfDFvuwaIQ" data-name="related">
        by <span class=" g-hovercard" data-ytid="UCaCGDlHy5ci1jxfDFvuwaIQ" data-name="">Maria Kh</span>
      </span>
    </span>
    <span class="stat view-count">7,493,337 views</span>
</a>
  </div>
  <div class="thumb-wrapper">

    <a href="/watch?v=KLMJPKylg2Y" class=" thumb-link spf-link  yt-uix-sessionlink" rel="spf-prefetch" tabindex="-1" data-sessionlink="ved=CBcQzRooEg&amp;ei=qNF4VaPpJ9K8-wOpiIPgDw&amp;feature=related" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="KLMJPKylg2Y"><img alt="" src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" aria-hidden="true" data-thumb="//i.ytimg.com/vi/KLMJPKylg2Y/default.jpg" width="120" height="90"></span></a>
        <span class="video-time">
      1:06
    </span>

          <span class="thumb-menu dark-overflow-action-menu video-actions">
    <button aria-expanded="false" onclick=";return false;" aria-haspopup="true" type="button" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"><span class="yt-uix-button-arrow yt-sprite"></span><ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid"><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item" data-action="play-next" onclick=";return false;" data-video-ids="KLMJPKylg2Y"><span class="addto-watch-queue-menu-text">Play next</span></li><li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;" data-video-ids="KLMJPKylg2Y"><span class="addto-watch-queue-menu-text">Play now</span></li></ul></button>
  </span>

    <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="TV Queue" data-style="tv-queue" data-video-ids="KLMJPKylg2Y"></button>


  </div>

</li>
              <div id="watch-more-related" class="hid">
    <li id="watch-more-related-loading">
Loading more suggestions...
    </li>
  </div>
  <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-expander" type="button" onclick=";return false;" id="watch-more-related-button" data-continuation="CBQSDRILZFZEazdQWE5YQjgYAA%3D%3D" data-button-action="yt.www.watch.related.loadMore"><span class="yt-uix-button-content">Show more</span></button>

      </ul>
    </div>   </div> 

    </div>
  </div>

      </div>
    </div>
  </div>

  <div id="watch7-hidden-extras">
      <div style="visibility: hidden; height: 0px; padding: 0px; overflow: hidden;">
      <img src="//www.youtube-nocookie.com/gen_204?attributionpartner=Movieclips" width="1" height="1" border="0">
  </div>

  </div>

  </div>
{% endblock %}