<h1>{{ submission.title }}</h1>
<div class="submission">
    {{ submission_view(submission) }}
</div>
<p>Uploaded on {{ submission.published | date('F j, Y') }}</p>
{% if submission.published_originally and submission.original_site %}
    <p>First uploaded on {{ submission.original_site }} on {{ submission.published_originally | date('M j, Y') }}</p>
{% elseif submission.original_site %}
    <p>Originally uploaded on {{ submission.original_site }}</p>
{% endif %}
<p>Audience rating: {{ submission.rating | capitalize }}</p>
<p>
    By
    {{ user_link(submission.author) }}
    {% if not submission.is_owner %}
        <button class="button button-secondary button-small" id="follow-user">
            {% if submission.author.following %}
                Unfollow
            {% else %}
                Follow
            {% endif %}
        </button>
        (<span id="follower_count">{{ submission.author.followers }}</span> followers)
    {% endif %}
</p>
<p>
    {# hack to prevent twig from outputing the number 1 #}
    {% if submission.interactions.views != 1 %}
        {% set pluralViews = "s" %}
    {% endif %}
<div class="watch-box-views">{{ submission.interactions.views }} view{{ pluralViews }}</div>
<div id="rater"></div>
<div><small>{{ submission.interactions.ratings.total }} ratings</small></div>
</p>
{% if submission.is_owner %}
    <p>You own this submission, so now you have these options.</p>
    <ul>
        <li>
            <a href="/edit?v={{ submission.id }}">Edit</a>
        </li>
        <li>
            <a href="/feature?v={{ submission.id }}">Feature on profile</a>
        </li>
    </ul>
{% endif %}
{% if submission.description | trim is not empty %}
    {{ submission.description | markdown_user_written }}
{% else %}
    <p>This submission has no description.</p>
{% endif %}
<div class="section">
    <div class="section-title">
        <h1>Comments</h1>
    </div>
    <div id="comments">
        <div class="content-box">
            {% if is_user_logged_in %}
                {{ include('/components/_comment_input.twig') }}
            {% endif %}
            <div id="comment"></div>
            {% for comment in submission.comments %}
                {{ include('/components/_comment.twig') }}
                <div id="replies">
                    {% for comment in comment.replies %}
                        {{ include('/components/_comment.twig') }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<h1>From this user</h1>
<ul>
    {% for submission in submission.recommended %}
        <li>
            <a href="/view/{{ submission.id }}">{{ submission.title }}</a>
        </li>
    {% endfor %}
</ul>